.page-header
  %h3 商务交流

%table
  %tr
    %th 交流时间
    %th 人员
    %th 职务
    %th
    %th
    %th

  - @busi_communications.each do |busi_communication|
    %tr
      %td= busi_communication.date
      %td= busi_communication.person
      %td= busi_communication.duty
      %td= link_to '查看', [@vrv_project,busi_communication]
      %td= link_to '编辑', edit_vrv_project_busi_communication_path(@vrv_project,busi_communication)
      %td= link_to '删除', [@vrv_project,busi_communication], :confirm => '确定删除?', :method => :delete

.actions
  -if @vrv_project.star?
    = link_to '增加商务交流', new_vrv_project_busi_communication_path(@vrv_project),:class=>'btn primary'
