-form_for settlement,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>settlement
  =f.hidden_field :id
	.form_field
		%span.label= f.label "#{I18n.t('common_attr.code')}#{mark_required(f.object,:code)}" 			
		%span.value= f.text_field :code,:class=>"input1 " 
	.form_field
		%span.label= f.label "#{I18n.t('activerecord.models.settlement')}#{mark_required(f.object,:name)}" 
		%span.value= f.text_field :name,:class=>"input1 " 
	.form_field
		%span.label= f.label "#{I18n.t('activerecord.attributes.settlement.subject')}#{mark_required(f.object,:subject)}" 			
		%span.value= f.text_field :subject,:class=>"input1 "
  =render "basic_setting/fb_actions"
