<h3 class="form_title">详细信息</h3>
<div id="details">
		<!--=========================================-->
	<div class="field">
		<span class="attr">Name:</span>
		<span class="value"><%= @menu_category.name %></span>	  
	</div>
		<!--=========================================-->
	<div class="field">
		<span class="attr">Description:</span>
		<span class="value"><%= @menu_category.description %></span>	  
	</div>
		<!--=========================================-->

	</div>

<%= link_to '编辑', edit_menu_category_path(@menu_category) %> |
<%= link_to "#{I18n.t('common_op.btn_return')}", menu_categories_path %> |
<%= link_to '添加 Menu category', new_menu_category_path %>
