<h3 class="form_title">交通方式详细信息</h3>
<div id="details">
		<!--=========================================-->
	<div class="field">
		<span class="attr">名称:</span>
		<span class="value"><%= @transportation.name %></span>	  
	</div>
		<!--=========================================-->
	<div class="field">
		<span class="attr">编码:</span>
		<span class="value"><%= @transportation.code %></span>	  
	</div>
	</div>

<%= link_to '编辑', edit_transportation_path(@transportation) %> |
<%= link_to '返回', transportations_path %> |
<%= link_to '添加交通方式', new_transportation_path %>