= form_for @product_test do |f|
  -if @product_test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_test.errors.count, "error")} prohibited this product_test from being saved:"
      %ul
        - @product_test.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :customer
    = f.text_field :customer
  .field
    = f.label :sample
    = f.text_field :sample
  .field
    = f.label :sample_state
    = f.text_field :sample_state
  .field
    = f.label :customer_attitude
    = f.text_field :customer_attitude
  .field
    = f.label :test_result
    = f.text_field :test_result
  .field
    = f.label :has_tech_people
    = f.check_box :has_tech_people
  .field
    = f.label :our_tech_guy
    = f.text_field :our_tech_guy
  .field
    = f.label :our_tech_phone
    = f.text_field :our_tech_phone
  .field
    = f.label :tech_people_point
    = f.text_field :tech_people_point
  .field
    = f.label :test_product_order
    = f.text_field :test_product_order
  .field
    = f.label :customer_like
    = f.text_field :customer_like
  .field
    = f.label :others
    = f.text_area :others
  .field
    = f.label :vrv_project_id
    = f.number_field :vrv_project_id
  .actions
    = f.submit 'Save'
