.page-header
  %h3 产品测试信息

%table
  %tr
    %th Date
    %th Customer
    %th
    %th
    %th

  - @product_tests.each do |product_test|
    %tr
      %td= product_test.date
      %td= product_test.customer
      %td= link_to 'Show', [@vrv_project,product_test]
      %td= link_to 'Edit', edit_vrv_project_product_test_path(@vrv_project,product_test)
      %td= link_to 'Destroy', [@vrv_project,product_test], :confirm => 'Are you sure?', :method => :delete
.actions
  = link_to '添加产品测试', new_vrv_project_product_test_path(@vrv_project),:class=>"btn primary"
