%p#notice= notice

%p
  %b Date:
  = @product_test.date
%p
  %b Customer:
  = @product_test.customer
%p
  %b Sample:
  = @product_test.sample
%p
  %b Sample state:
  = @product_test.sample_state
%p
  %b Customer attitude:
  = @product_test.customer_attitude
%p
  %b Test result:
  = @product_test.test_result
%p
  %b Has tech people:
  = @product_test.has_tech_people
%p
  %b Our tech guy:
  = @product_test.our_tech_guy
%p
  %b Our tech phone:
  = @product_test.our_tech_phone
%p
  %b Tech people point:
  = @product_test.tech_people_point
%p
  %b Test product order:
  = @product_test.test_product_order
%p
  %b Customer like:
  = @product_test.customer_like
%p
  %b Others:
  = @product_test.others
%p
  %b Vrv project:
  = @product_test.vrv_project_id

= link_to 'Edit', edit_product_test_path(@product_test)
\|
= link_to 'Back', product_tests_path
