
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<h3 class="form_title">注册</h3>
<!--==================================================================-->
  <div class="field">
    <%= f.label "用户名",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :user_name,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "电子邮件",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :email,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "密码",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.password_field :password,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "确认密码",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.password_field :password_confirmation,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
  <p><%= f.submit "注册" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
