%fieldset
  %legend
    = f.hidden_field(:_destroy)
    = link_to_remove
  %span.sequence
  .clearfix
    =f.label I18n.t('activerecord.attributes.doc_head.cp_doc_details.project_id')
    .input= ts :project_id,"Project",:text=>f.object.project.to_s,:value=>f.object.project_id,:f=>f
  -if 2
    .clearfix
      =f.label "#{I18n.t('common_attr.fee')}"
      .input= ts :fee_id,"Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id,:f=>f
  .clearfix
    =f.label I18n.t('common_attr.used_for')
    .input= f.text_field :used_for,:class=>"xlarge" 
  .clearfix
    =f.label I18n.t('common_attr.currency')
    .input= ts :currency_id,"Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id,:f=>f
  .clearfix
    =f.label I18n.t('common_attr.rate')
    .input= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" 
  .clearfix
    =f.label I18n.t('common_attr.ori_amount')
    .input= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" 
  .clearfix
    =f.label I18n.t('common_attr.apply_amount')
    .input= f.label f.object.apply_amount || 0,:class=>"normal doc_apply_amount number" 

