<h3>购买理财产品</h3><br/>
<div class="fields">
	<p>  
		<%= f.label :name, "理财产品名称" %><br />  
		<%= f.text_field :name %>  
	</p>
	<p>  
		<%= f.label :account_id, "购买理财产品账户" %><br />
		<%= f.select(:account_id,  Account.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p> 
	<p>  
		<%= f.label :rate, "理财产品利率" %><br />  
		<%= f.text_field :rate %>  
	</p>
	<p>  
		<%= f.label :buy_date, "预计购买日期" %><br />  
		<%= f.text_field :buy_date,:class=>"datepicker basic_input"  %>  
	</p>
	<p>  
		<%= f.label :redeem_date, "预计赎回日期" %><br />  
		<%= f.text_field :redeem_date,:class=>"datepicker basic_input"  %>  
	</p>
	<p>  
		<%= f.label :description, "申请购买原因及预期收益" %><br />  
		<%= f.text_area :description %>  
	</p>
	<p>  
		<%= f.label :amount, "申请金额" %><br />  
		<%= f.text_field :amount %>  
	</p>
</div>