<div class="form_block">
	<div class="form_field">
		<%= f.label "理财产品名称" %>
		<%= f.text_field :name,:class=>"input1" %>  
	</div>
	<div class="form_field">
		<%= f.label "购买账户" %>
		<div class="reference">
			<%= f.hidden_field :account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "account_info",detail_doc.account.to_s,:class=>"ref" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "申请购买金额" %>
		<%= f.text_field :amount,:class=>"input1" %>  
	</div>
	<div class="form_field">
		<%= f.label "理财产品利率" %>
		<%= f.text_field :rate,:class=>"input1" %>  
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "预计购买日期" %>
		<%= f.text_field :buy_date,:class=>"datepicker input1"  %>  
	</div>
	<div class="form_field">
		<%= f.label "预计赎回日期" %>
		<%= f.text_field :redeem_date,:class=>"datepicker input1"  %>  
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "申请购买原因及预期收益"%>
		<%= f.text_area :description,:class=>"input2" %> 
	</div>
</div>