.form_field
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.name')}" 
  %span.value= f.text_field :name,:class=>"input1"   
%br
.form_field.col-sp2
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.account_id')}" 
  %span.value= reference_select "account_id","Account",:text=>f.object.account.to_s,:value=>f.object.account_id
%br
.form_field
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.amount')}" 
  %span.value= f.text_field :amount,:class=>"input1"   
.form_field
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.rate')}" 
  %span.value= f.text_field :rate,:class=>"input1"   
%br
.form_field
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.buy_date')}" 
  %span.value= f.text_field :buy_date,:class=>"datepicker input1"  
.form_field
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.redeem_date')}" 
  %span.value= f.text_field :redeem_date,:class=>"datepicker input1"    
%br
.form_field.col-sp2
  %span.label= f.label "#{I18n.t('activerecord.attributes.buy_finance_product.description')}"
  %span.value= f.text_area :description,:class=>"input2"  
