<h5>购买理财产品<span></span></h5>
<div class="show_item">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.name') %></span>
		<span class="item_value"><%= buy_finance_product.name %></span>  
  </div><br/>
	<div class="show_item col-sp2">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.account_id') %></span>
		<span class="item_value"><%= buy_finance_product.account_id %></span>
  </div><br/>
	<div class="show_item">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.amount') %></span>
		<span class="item_value"><%= buy_finance_product.amount %></span>  
  </div>
	<div class="show_item">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.rate') %></span>
		<span class="item_value"><%= buy_finance_product.rate %></span>  
  </div><br/>
	<div class="show_item">
    <span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.buy_date') %></span>
		<span class="item_value"><%= buy_finance_product.buy_date %></span>
	</div>
	<div class="show_item">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.redeem_date') %></span>
		<span class="item_value"><%= buy_finance_product.redeem_date %></span>  
  </div><br/>
	<div class="show_item col-sp2">
		<span class="item_label"><%= I18n.t('activerecord.attributes.buy_finance_product.description')%></span>
		<span class="item_value"><%= buy_finance_product.description %></span> 
	</div>
