<div class="fields">
	<p>  
		<%= f.label :sequence, "序号" %><br />  
		<%= f.text_field :sequence %>  
	</p> 
	<p>  
		<%= f.label :used_for, "用途" %><br />  
		<%= f.text_field :used_for %>  
	</p>
	<p>  
		<%= f.label :apply_amount, "申请金额" %><br />  
		<%= f.text_field :apply_amount %>  
	</p>
	<p>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除申请条目", f %> 
	</p>
</div>