%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove
  %span.sequence
  .form_field
    %span.label= I18n.t('common_attr.used_for')
    %span.value= f.text_field :used_for,:class=>"xlarge"
  .form_field
    %span.label= I18n.t('common_attr.apply_amount')
    %span.value= f.text_field :apply_amount,:class=>"normal doc_ori_amount"
