<tr class="fields">
	<td> 
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td> 
	<td>
		<%= f.text_field :used_for,:class=>"xlarge"  %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal doc_ori_amount"  %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>