<fieldset>
  <legend>
    <%= f.hidden_field(:_destroy) %>
    <%= link_to_remove %>
  </legend>
  <span class="sequence"></span>
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.afford_dep')}"%>*</span>
    <span class="value"><div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",f.object.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
    </div></span>
  </div>
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.project')}"%>*</span>
    <span class="value"><div class="reference">
			<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "project_info",f.object.project.to_s,:class=>"ref middle" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
    </div></span>
  </div>
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.fee_desc')}"%>*</span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "fee_info",f.object.fee.to_s,:class=>"ref" %>
			<a href="#" class-data="Fee"><span class="reference"></span></a>			
    </div></span>
  </div>
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.fee_desc')}"%>*</span>
    <span class="value"><%= f.text_field :description,:class=>"xlarge" %></span>
  </div>  
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.currency')}"%>*</span>
    <span class="value"><div class="reference">
			<%- currency = f.object.currency==nil ? Currency.find_by_code('RMB') : f.object.currency%>
			<%= f.hidden_field :currency_id,{:value=>currency.id,:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
    </div></span>
  </div>  
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.rate')}"%>*</span>
    <span class="value"><%= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" %></span>
  </div>  
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.apply_amount')}"%>*</span>
    <span class="value"><%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %></span>
  </div>  
  <div class="form_field">
    <span class="label"><%= "#{I18n.t('common_attr.ori_amount')}"%></span>
    <span class="value"><%= f.text_field :apply_amount ,:class=>"doc_apply_amount normal number"%>  
    <%= hidden_field_tag "hr_amount",f.object.apply_amount,:class=>"doc_HR_amount normal number" %> 
		<%= hidden_field_tag "fi_amount",f.object.apply_amount,:class=>"doc_FI_amount normal number" %></span>
  </div>
</fieldset>
