<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td> 
	<td>
		<div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",f.object.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "project_info",f.object.project.to_s,:class=>"ref large_x" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.text_field :used_for,:class=>"xlarge" %>  
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :currency_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",f.object.currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>  
	</td>
	<td>
		<%= f.text_field :rate,:class=>"normal doc_rate number" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal doc_apply_amount" %>  
		<%= hidden_field_tag "hr_amount",f.object.apply_amount,:class=>"doc_HR_amount normal number" %> 
		<%= hidden_field_tag "fi_amount",f.object.apply_amount,:class=>"doc_FI_amount normal number" %>
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除", f%> 
	</td>
</tr>
