%h5
  =title
  %span= cp_docs.sum {|c| c.fi_amount}
-for cp_doc in cp_docs
  .doc_detail_item
    .show_item
      %span.item_label= I18n.t('activerecord.attributes.doc_head.cp_doc_details.dep_id')
      %span.item_value= cp_doc.dep
    .show_item
      %span.item_label= I18n.t('activerecord.attributes.doc_head.cp_doc_details.project_id') 
      %span.item_value= cp_doc.project
    .show_item
      %span.item_label= I18n.t('common_attr.used_for') 
      %span.item_value= doc.used_for
    .show_item
      %span.item_label= I18n.t('common_attr.currency') 
      %span.item_value= doc.currency
    .show_item
      %span.item_label= I18n.t('common_attr.rate') 
      %span.item_value= doc.rate
    .show_item
      %span.item_label= I18n.t('common_attr.apply_amount') 
      %span.item_value= doc.apply_amount
    .show_item
      %span.item_label= I18n.t('common_attr.ori_amount') 
      %span.item_value= doc.ori_amount
