<div id='work_flow_progress'>
	<%= hidden_field_tag "form_state",doc.doc_state%>
	<!--hidden field to store the current looker of this doc mainly is HR or FI -->
	<% if doc.approver ==current_user.person %>
		<%= hidden_field_tag "looker",current_user.person.person_type ? current_user.person.person_type.code : ""%>
	<% end %>
	<% if doc.work_flows %>
		<%= hidden_field_tag "doc_id",doc.id%>
		<% if doc.doc_state==0 and doc.person.duty.code=="001" and doc.work_flows and doc.work_flows.first and doc.work_flows.first.duty.code=="003"%>
			<div id="approvers" class="form_area">
				<h3>选择审批人</h3>
				<table class="form_input">
					<thead>
						<tr>					
							<th></th>
							<th>姓名</th>
						    <th>编号</th>		    
					    </tr>
				    <thead>
					<tbody>
							<% Person.where('duty_id=?',Duty.find_by_name("part长").id).each do |approver|%>
								<tr>
									<td>
										<%= check_box_tag 'selected', 'yes', false, :class => 'ref_select'%>
										<%= hidden_field_tag "approver",approver.id%>
									</td>
									<td><%= label_tag "#{approver.name}"%></td>
									<td><%= label_tag "#{approver.code}"%></td>
								</tr>
							<% end %>
					</tbody>	
				</table>
				<%= link_to_function "确定","begin_work_flow(this)",:class=>"button2"%>
				<%= link_to_function "取消","$.unblockUI()",:class=>"button2"%>
			</div>
		<% end %>
		<div class='work_flow_step'>
			<span>单据状态   </span>
		</div>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==0 %>'>
			<span>未提交</span>
		</div>
		<div class='work_flow_step go_to'>
		</div>
		<% doc.work_flows.each do |w| %>
			<div class='work_flow_step <%= "current_flow" if doc.work_flow_step_id==w.id %>'>
				<% if doc.approver(w) %>
					<span><%= doc.approver(w).name %></span>
				<% else %>
					<span><%= "未能确定审批人"%></span>
				<% end %>
			</div>
			<div class='work_flow_step go_to'>
			</div>
		<% end %>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==2 and doc.paid==nil %>'>
			<span>审批通过</span>
		</div>
		<div class='work_flow_step go_to'>
		</div>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==2 and doc.paid==1 %>'>
			<span>已经付款</span>
		</div>
	<% else %>
		该单据没有对应的审批流，设置后才能提交审批
	<% end %>
</div>
