.list_item(id="#{doc.id}")
  .doc_show
    %span.doc_type=doc.doc_type_name
    %span.apply_date=doc.apply_date
    %span.doc_no=link_to doc.doc_no,doc_head_path(doc),:remote=>true
    .state{:class=>doc.state}= doc.doc_state_name
    .doc_amount= "￥#{doc.total_amount}"
    -if doc.processing? and doc.approver!=current_user.person
      .docinfo
        ="当前等待#{doc.approver }审批"
    .list_item_action
      %span.action= link_to "查看", doc_head_path(doc),:remote=>true
      -if doc.can_edit? current_user
        %span.action= link_to "编辑", edit_doc_head_path(doc),:remote=>true
      -if doc.can_destroy? current_user
        %span.action= link_to "删除", "/doc_heads/#{doc.id}",:remote=>true,:method=>'DELETE',:confirm=>'是否真的删除单据?'
