= hidden_field_tag "form_state",doc.state
-if doc.errors.count>0 and (Rails.env=='development')
  .alert-message.error
    %p=doc.errors.full_messages.join(',')
<!--hidden field to store the current looker of this doc mainly is HR or FI -->
-if doc.approver_infos.enabled.count>0
  = hidden_field_tag "doc_id",doc.id
  %span.label(class= "#{doc.un_submit? ? 'success' : ''}") 未提交
  -if !doc.un_submit? and !doc.rejected? and doc.approver_infos.count>0
    -doc.approver_infos.enabled.each do |approver_info|
      -if approver_info.person
        %span.label(class= "#{doc.current_approver_id==approver_info.person_id && 'warning'}")= "#{approver_info.person.try(:name)}#{approver_info.skip ? '(跳过)' : ''}"
      -else
        %span.label(class='error')= "无法确定#{approver_info.work_flow_step.name}的审批人"
  -else
    %span.label ---没有审批人信息---
  %span.label(class="#{doc.approved? && 'success'}") 审批通过
  -if doc.doc_meta_info.payable
    %span.label(class="#{doc.paid? && 'success'}") 已经付款
-elsif !doc.work_flow
  .alert-message
    %p 没有找到审批流，请联系财务人员设置您申请单据对应的审批流程
-else
  暂无审批流信息
:javascript
  //make warn or success label 's previous to success, i love js
  $(function(){
    var pre = $('span.label.warning,span.label.success').prev();
    while(pre.hasClass('label')){
      console.log(pre);
      pre.addClass('success');
      pre = pre.prev();
      }
  });
