<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.doc_no') %></span>
  <span class="item_value"><%= doc.doc_no%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.person_id') %></span>
  <span class="item_value"><%= doc.person%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.apply_date') %></span>
  <span class="item_value"><%= doc.apply_date%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.attach') %></span>
  <span class="item_value"><%= doc.attach%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.dep_id') %></span>
  <span class="item_value"><%= doc.dep%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.afford_dep_id') %></span>
  <span class="item_value"><%= doc.afford_dep%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.real_person_id') %></span>
  <span class="item_value"><%= doc.real_person%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.upload') %></span>
  <span class="item_value"><%= doc.upload%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.cp_doc_remain_amount') %></span>
  <span class="item_value"><%= doc.cp_doc_remain_amount%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.project_id') %></span>
  <span class="item_value"><%= doc.project%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.is_split') %></span>
  <span class="item_value"><%= doc.is_split%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.note') %></span>
  <span class="item_value"><%= doc.note%></span>
</div>
<div class="show_item">
  <span class="item_label"><%= I18n.t('activerecord.attributes.doc_head.total_apply_amount') %></span>
  <span class="item_value"><%= doc.total_apply_amount%></span>
</div>
