.form_field
  = hidden_field_tag :doc_no,doc.doc_no
  = hidden_field_tag :id,doc.id
  = hidden_field_tag :doc_type,doc.doc_type
  %span.doc_no.value
    %h3= doc.doc_no
.form_field
  = hidden_field_tag :person_id,doc.person_id
  %span.value= doc.person_name
  = hidden_field_tag "duty_for_fee_standard",doc.person.duty_id
  = hidden_field_tag "pt_for_fee_standard",doc.person.person_type_id
.form_field
  %span.value= doc.apply_date
-if doc.doc_type!=14
  .form_field
    %span.label=  I18n.t('activerecord.attributes.doc_head.attach')
    %span.value= doc.attach
  .form_field
    %span.label=  I18n.t('activerecord.attributes.doc_head.dep_id')
    %span.value= doc.dep.to_s
-if doc.doc_type==9 or doc.doc_type==11
  .form_field
    %span.label= I18n.t('activerecord.attributes.doc_head.afford_dep_id')
    %span.value= doc.afford_dep.to_s
-if doc.doc_type!=14
  .form_field
    %span.label= I18n.t('activerecord.attributes.doc_head.real_person_id') 
    %span.value= doc.real_person
-if doc.doc_type==13
  .form_field
    %span.label= I18n.t('activerecord.attributes.doc_head.upload')
    %span.value
      = hidden_field_tag :doc_no,doc.doc_no
      -if doc.upload_file 
        = doc.upload_file.upload.original_filename
-if doc.doc_type==1
  .form_field
    %span.label=  "#{I18n.t('activerecord.attributes.doc_head.cp_doc_remain_amount')}"
    %span.value= doc.cp_doc_remain_amount
-if ([9,11,13].include? doc.doc_type)
  -if doc.doc_type!=13
    .form_field
      %span.label= "#{I18n.t('activerecord.attributes.doc_head.project_id')}" 
      %span.value= doc.project
  .form_field
    %span.label=  "#{I18n.t('activerecord.attributes.doc_head.is_split')}" 
    %span.value= doc.is_split
%br
.form_field.col-sp2
  %span.label=  "#{I18n.t('activerecord.attributes.doc_head.note')}" 
  %span.value= doc.note
%br
.form_field
  %span.label=  "#{I18n.t('activerecord.attributes.doc_head.total_apply_amount')}" 
  %span.value#total_riem= doc.total_fi_amount
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--根据不同的单据类型render不同的单据-->
