%tr
  %td=doc.doc_type_name
  %td=doc.apply_date
  %td=link_to doc.doc_no,doc_head_path(doc),:remote=>true
  %td 
    %span.label{'class'=>doc_state_css(doc)}=doc.doc_state_name
  %td= "￥#{doc.total_amount}"
  %td= "￥#{doc.final_amount}"
  %td= "#{doc.person} #{doc.real_person ? (I18n.t('common_attr.proxy') + ' '+ doc.real_person.name) : ''}"
  %td
    -if doc.processing? 
      ="当前等待#{doc.approver }审批"
  %td= link_to "查看", doc_head_path(doc),:remote=>true
  %td
    -if doc.can_edit? current_user
      = link_to "编辑", edit_doc_head_path(doc),:remote=>true
  %td
    -if doc.can_destroy? current_user
      = link_to "删除", "/doc_heads/#{doc.id}",:remote=>true,:method=>'DELETE',:confirm=>'是否真的删除单据?'
