= link_to content_tag(:span,"#{I18n.t('common_op.btn_new')}"), new_doc_head_path(:doc_type=>doc_head.doc_type),:remote=>true,:class=>"minibutton"
-if !doc_head.new_record? and doc_head.un_submit?
  = link_to content_tag(:span,"#{I18n.t('common_op.btn_start_work_flow')}"),{:controller=>"doc_heads",:action=>"submit",:doc_id=>doc_head.id},:remote=>true,:class=>"minibutton"
-if doc_head.person==current_user.person and doc_head.processing?
  = link_to content_tag(:span,"#{I18n.t('common_op.btn_cancel')}"), {:controller=>"doc_heads",:action=>"recall",:doc_id=>doc_head.id},:remote=>true,:class=>"minibutton"
-if !doc_head.new_record?
  = link_to content_tag(:span,"#{I18n.t('common_op.btn_print')}"), {:controller=>"doc_heads",:action=>"print",:doc_id=>doc_head.id},:class=>"minibutton"
-if current_user.person.person_type and  ["CA","HR","FI"].include? current_user.person.person_type.code
  = link_to content_tag(:span,"#{I18n.t('common_op.doc_not_valide_notice')}"), {:controller=>"doc_heads",:action=>"doc_failed",:doc_id=>doc_head.id},:remote=>true,:class=>"minibutton"
= link_to content_tag(:span,"#{I18n.t('common_op.btn_mydocs')}"), my_docs_path,:remote=>true,:class=>"minibutton"
-if doc_head.approved? and current_user.person.person_type and  current_user.person.person_type.code=="CA"
  = link_to content_tag(:span,"#{I18n.t('common_op.confirm_paid')}"),{:controller=>"doc_heads",:action=>"pay",:doc_id=>doc_head.id},:remote=>true,:class=>"minibutton"
=yield :custom_actions
