%table.hor-zebra
  %tr
    %th单据号
    %th附件个数
    %th申请人
    %th备注
    %th申请日期
    %th部门
    %th费用类型
    %th
    %th
-docs.each do |doc_head| 
  %tr
    %td= doc_head.doc_no 
    %td= doc_head.attach
    %td= doc_head.person_name
    %td= doc_head.note
    %td= doc_head.apply_date
    %td= doc_head.dep_name 
    %td= doc_head.fee_name
    %td.action= link_to '查看', doc_head 
    %td.action= link_to '删除', doc_head, :confirm => '是否真的要删除?', :method => :delete
