-if (doc.un_submit? or doc.rejected?) and doc.approvers_select_list.count>1 and !doc.new_record?
  #select_approvers_wrapper
    #select_approvers
      %h4 请选择审批人
      -form_tag '/doc_heads/submit',:remote=>true,:method=>:put do
        =hidden_field_tag 'doc_id',doc.id
        =select 'selected_approver_id','',doc.approvers_select_list,:multiple=>false
        %br
        =link_to content_tag(:span,"确定"),"#",:class=>'minibutton submit'
    
= hidden_field_tag "form_state",doc.state
<!--hidden field to store the current looker of this doc mainly is HR or FI -->
-if doc.current_approver_id ==current_user.person.id or (current_user.person.person_type and current_user.person.person_type.code=="CA")
  = hidden_field_tag "looker",current_user.person.person_type ? current_user.person.person_type.code : ""
-if doc.work_flow
  = hidden_field_tag "doc_id",doc.id
  %span.label 单据状态
  %span.label(class= "#{doc.un_submit? ? 'current_flow' : ''}") 未提交
  -if !doc.un_submit? and !doc.rejected? and doc.approvers and doc.approvers.split(',').count>0
    -doc.approvers.split(',').each do |approver_id|
      %span.label(class= "#{doc.current_approver_id==approver_id.to_i && 'current_flow'}")= Person.find(approver_id).name
  -else
    %span.label ---没有审批人信息---
    %span.label(class="#{doc.approved? && 'current_flow'}") 审批通过
    %span.label(class="#{doc.paid? && 'current_flow'}") 已经付款
-else
  ="该单据没有对应的审批流，设置后才能提交审批"
