.page-header.doc_title
  %h3= "#{doc.doc_type_name}--#{doc.doc_no}"
-content_for :custom_actions do
  -if !doc.new_record? and doc.un_submit?
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_edit')}"), edit_doc_head_path(doc.id),:remote=>true,:class=>"btn"
  = link_to_function I18n.t('common_op.btn_print'),"print_doc()",:class=>"btn"
  = link_to I18n.t('common_op.btn_print_preview'),print_preview_doc_head_path(doc),:class=>"btn",:target => "_blank"

#doc_head_actions.actions
  = render :partial=>"doc_actions",:locals=>{:doc_head=>doc}
#doc_state_process
  = render :partial=>"doc_state_process",:locals=>{:doc=>doc}
.page-header
  %h3= doc.doc_no
-doc.doc_meta_info.doc_head_attrs.each do |cn|
  =tb_show_field(doc,cn)
#details.show_only
  -doc.doc_meta_info.doc_relations.each do  |doc_relation|
    .doc_detail
      .page-header
        %h3
          = doc_relation.doc_row_meta_info.display_name
          = image_tag "currency_yuan.png"
          %span.doc_total_amount.normal=doc.amount_for(eval(doc_relation.doc_row_meta_info.name).table_name)
      .form_area
        -doc.send(doc_relation.doc_row_meta_info.name.underscore.pluralize).each do |row_data|
          -doc_relation.doc_row_attrs.each do |col|
            =tb_show_field(row_data,col)
-if doc.work_flow_infos.count>0
  .page-header
    %h3 审批信息
  .form_area.doc_head_show
    =render :partial => "work_flow_info",:locals=>{:doc=>doc}
