.page-header.doc_title
  %h3
    ="#{doc.doc_type_name}--#{doc.doc_no}"
    %span.label{:class=>doc_state_css(doc)}= doc.doc_state_name
-content_for :custom_actions do
  -if !doc.new_record? and doc.un_submit?
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_edit')}"), edit_doc_head_path(doc.id),:remote=>true,:class=>"btn"
  = link_to I18n.t('common_op.btn_print'),print_pdf_doc_head_path(doc),:class=>"btn"
#doc_head_actions.actions
  = render :partial=>"doc_actions",:locals=>{:doc_head=>doc}
#doc_state_process
  = render :partial=>"doc_state_process",:locals=>{:doc=>doc}
.doc_infos
  .page-header
    %h5= "申请总金额为￥#{doc.total_apply_amount}，调整后金额为￥#{doc.final_amount}"
  -doc.doc_meta_info.doc_head_attrs.each do |cn|
    =tb_show_field(doc,cn,:label_css=>'span2')
  -doc.doc_meta_info.doc_relations.multi(false).each do  |doc_relation|
    .doc_extra
      .page-header
        %h5
          = doc_relation.doc_row_meta_info.display_name
      .form_area
        -extra = doc.send(doc_relation.doc_row_meta_info.name.underscore)
        -if extra
          .doc_row_show
            -doc_relation.doc_row_attrs.each do |col|
              =tb_show_field(extra,col,:label_css=>'span2')
  #details.show_only
    -doc.doc_meta_info.doc_relations.multi(true).each do  |doc_relation|
      .doc_detail
        .page-header
          %h5
            = doc_relation.doc_row_meta_info.display_name
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=doc.amount_for(eval(doc_relation.doc_row_meta_info.name).table_name)
        .form_area
          -doc.send(doc_relation.doc_row_meta_info.name.underscore.pluralize).each do |row_data|
            -if row_data.respond_to?(:fee_type) and row_data.try(:fee_type)
              -rule = FeeRule.where('fee_id=?',row_data.fee_type.id).order('priority').all.select{|r|r.match_factors?(current_user.person.factors)}.last
              -if rule
                .alert-message
                  %p
                    %strong= rule.to_s
                  %p
                    ="您此项费用#{doc.apply_date.year}年#{doc.apply_date.month}月已经申请金额为￥"
                    =current_amount = DocRow.year(doc.apply_date.year).month(doc.apply_date.month).with_fee(rule.fee).valid.with_person(current_user.person).sum(:changed_amount)
                    可申请金额为每月￥
                    =rule.amount-current_amount
                -if current_amount>rule.amount
                  .alert-message.error
                    %p 费用超过预算
            .doc_row_show
              -if doc.processing? and doc.current_approver_id == current_user.person.id and doc_relation.doc_row_meta_info.can_adjust_amount
                .amount_changes
                  =render "doc_amount_changes/index",:resource=>row_data
              -doc_relation.doc_row_attrs.each do |col|
                =tb_show_field(row_data,col,:label_css=>'span2')
  -if doc.work_flow_infos.count>0
    .page-header
      %h5 审批信息
    .form_area.doc_head_show
      =render :partial => "work_flow_info",:locals=>{:doc=>doc}
-if doc.doc_meta_info.code=='CK'
  .outware_doc_detail
    =render "outware_doc_details/show",:ck=>doc.outware_doc_detail
  :javascript
    $('.outware_doc_detail form a.cancle').live('click',function(){
      $(this).closest('form').hide('fast');
      $(this).closest('form').remove();
      return false;
    });
  :css
    .edit_outware_doc_detail textarea
    {
      width:700px;
    }
