= link_to I18n.t('common_op.btn_new'), new_doc_head_path(:doc_meta_info_id=>doc_head.doc_meta_info.id ),:remote=>true,:class=>"btn"
-if !doc_head.new_record? and doc_head.person==current_user.person and (doc_head.un_submit? or doc_head.rejected?) and doc_head.work_flow
  = link_to I18n.t('common_op.btn_start_work_flow'), submit_doc_head_path(doc_head),:remote=>true,:class=>"btn",:method=>'PUT'
-if doc_head.person==current_user.person and doc_head.processing?
  = link_to I18n.t('common_op.btn_cancel_wf') ,recall_doc_head_path(doc_head),:remote=>true,:class=>"btn",:method=>'PUT'
-if doc_head.processing? and current_user.person.person_type and  ["CA","HR","FI"].include? current_user.person.person_type.code
  = link_to I18n.t('common_op.doc_not_valide_notice'), {:controller=>"doc_heads",:action=>"doc_failed",:doc_id=>doc_head.id},:remote=>true,:class=>"btn"
-if doc_head.person==current_user.person
  = link_to I18n.t('common_op.btn_mydocs'), my_docs_path,:remote=>true,:class=>"btn"
-else
  = link_to I18n.t('common_op.btn_docs_to_approve'), docs_to_approve_path,:remote=>true,:class=>"btn"
-if doc_head.approved? and current_user.casher?
  = link_to I18n.t('common_op.confirm_paid'),pay_doc_head_path(doc_head),:remote=>true,:class=>"btn",:method=>'PUT'
-if (doc_head.approved? or doc_head.paid?) and doc_head.doc_meta_info.support_vouch
  =link_to "凭证信息",doc_head_vouches_path(doc_head),:class=>'btn'
-if (doc_head.person==current_user.person and doc_head.doc_meta_info.code='HT' and doc_head.approved?)
  =link_to "生成出库申请单", generate_ck_doc_doc_head_path(doc_head),:class=>'btn',:method=>:put
-if doc_head.current_approver_id == current_user.person.id and doc_head.processing?
  = link_to I18n.t('common_op.approve'),'#',:class=>"btn pop",'data-controls-modal'=>"doc_head_approve",'data-backdrop'=>"true",'data-keyboard'=>true
-if doc_head.can_destroy? current_user and !doc_head.new_record?
  = link_to I18n.t('common_op.btn_delete'), "/doc_heads/#{doc_head.id}",:remote=>true,:class=>"btn",:confirm=>'是否真的删除？',:method=>"DELETE"

=yield :custom_actions

-if doc_head.processing? and doc_head.current_approver_id==current_user.person.id
  #doc_head_approve.modal.hide.fade.in.doc_head_approve
    .modal-header
      =link_to "X", "#",:class=>'close'
      %h3="单据#{doc_head.doc_no}审批"
    .modal-body
      .page-header
        %h5 请先对下一级审批人进行指派
      %ul
        -doc_head.approver_infos.each do |info|
          %li{'class'=>"approver_info_#{info.id}"}
            -if info.person
              %span="#{info.person.name}#{info.skip ? '(跳过)' : ''}"
            -else
              =form_for info,:remote=>true do |f|
                %span
                  =f.select :person_id,info.candidates.map{|c|[c.name,c.id]}
                %span
                  =f.check_box :skip
                  跳过此环节
                =f.submit "确定",:class=>'btn'
      .page-header
        %h5 审批说明
      =form_for [doc_head,doc_head.work_flow_infos.build],:remote=>true do |f|
        =f.text_area :comments,:class=>'approve_info'
        .modal-footer
          =f.submit "拒绝",:class=>'btn danger'
          =f.submit "通过",:class=>'btn success'
:javascript
  $(function(){
    $("form.new_work_flow_info").live("ajax:beforeSend",function(){
      
    });
  });
