.page-header
  %h3= doc.doc_no
.row
  = hidden_field_tag :person_id,doc.person_id
  .span3=label_tag I18n.t('activerecord.attributes.doc_head.person_id')
  .span3= doc.person
  = hidden_field_tag "duty_for_fee_standard",doc.person.duty_id
  = hidden_field_tag "pt_for_fee_standard",doc.person.person_type_id
.row
  .span3=label_tag I18n.t('activerecord.attributes.doc_head.apply_date')
  .span3= doc.apply_date
-doc.doc_meta_info.doc_head_attrs.split(',').each do |cn|
  .row
    .span3=label_tag I18n.t("activerecord.attributes.doc_head.#{cn}")
    .span3=doc.send(cn)
.row
  .span3=label_tag "#{I18n.t('activerecord.attributes.doc_head.total_apply_amount')}" 
  .span13#total_riem= "￥#{doc.total_amount}"

