<div id='work_flow_progress'>
	<%= hidden_field_tag "form_state",doc.doc_state%>
	<!--hidden field to store the current looker of this doc mainly is HR or FI -->
	<% if doc.approver ==current_user.person %>
		<%= hidden_field_tag "looker",current_user.person.person_type ? current_user.person.person_type.code : ""%>
	<% end %>
	<% if doc.work_flows %>
		<span>单据状态</span>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==0 %>'>
			未提交
		</div>
		<div class='work_flow_step'>
			 ====>
		</div>
		<% doc.work_flows.each do |w| %>
			<div class='work_flow_step <%= "current_flow" if doc.work_flow_step_id==w.id %>'>
				<%= doc.approver(w) ? doc.approver(w).name : "请检查审批流#{w.work_flow.name}，其中的审批流程#{w.id}找不到对应的人员" %>
			</div>
			<div class='work_flow_step'>
				 ====>
			</div>
		<% end %>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==2 and doc.paid==0 %>'>
			审批通过
		</div>
		<div class='work_flow_step'>
			 ====>
		</div>
		<div class='work_flow_step <%= "current_flow" if doc.doc_state==2 and doc.paid==1 %>'>
			已经付款
		</div>
	<% else %>
		该单据没有对应的审批流，设置后才能提交审批
	<% end %>
</div>
