= form_for doc,:remote=>true,:html => {:class=>:doc_head} do |f| 
  =f.hidden_field :doc_meta_info_id
  .page-header
    %h3= doc.new_record? ? "新增#{doc.doc_meta_info.display_name}" : "修改#{doc.doc_meta_info.display_name}"
  = render "shared/common_error",:resource=>doc
  -content_for :custom_actions do
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_save')}"),{:href=>"#"},:class=>"submit btn"
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_cancel')}"), doc.new_record? ? my_docs_path : doc_head_path(doc),:remote=>true,:class=>"btn"
  #doc_head_actions.actions
    = render :partial=>"doc_actions",:locals=>{:doc_head=>doc}
  #doc_state_process
    = render :partial=>"doc_state_process",:locals=>{:doc=>doc}
  .page-header
    %h3= "#{I18n.t('common_attr.basic_info')}"
  .form_area
    -doc.doc_meta_info.doc_head_attrs.each do |cn|
      =tb_input_field(f,cn)
  <!--根据不同的单据类型render不同的单据-->
  #details
    -doc.doc_meta_info.doc_relations.each do  |doc_relation|
      .doc_detail{'class'=>"#{doc_relation.doc_row_meta_info.name}"}
        .page-header
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,doc_relation
            = doc_relation.doc_row_meta_info.display_name
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=doc.amount_for(:borrow_doc_details)
        .form_area
          =f.fields_for eval(doc_relation.doc_row_meta_info.name).table_name do |builder|
            .doc_row.exist
              =link_to_remove
              = builder.hidden_field(:_destroy,:class=>'destroy_mark') 
              -doc_relation.doc_row_attrs.each do |dr_col|
                =tb_input_field(builder,dr_col)
:javascript
  $(".ori_amount__input").live('change',function(){
    $(this).closest('.doc_row').trigger('row:numberChanged');
  });
  $(function(){
    tokenize();
  });
