= form_for doc,:remote=>true,:html => {:class=>:doc_head} do |f| 
  .form_title
    %h3= doc.new_record? ? "新增#{doc.doc_type_name}" : "修改#{doc.doc_type_name}"
  .doc_error
    = render "shared/common_error",:resource=>doc
  -content_for :custom_actions do
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_save')}"),{:href=>"#"},:class=>"submit minibutton"
    = link_to content_tag(:span,"#{I18n.t('common_op.btn_cancel')}"),doc.new_record? ? my_docs_path : doc_head_path(doc),:class=>"minibutton",:remote=>true
  #doc_head_actions.actions
    = render :partial=>"doc_actions",:locals=>{:doc_head=>doc}
  #doc_state_process
    = render :partial=>"doc_state_process",:locals=>{:doc=>doc}
  .form_title
    %h3= "#{I18n.t('common_attr.basic_info')}"
  .form_area
    .form_field
      %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.doc_no')}#{mark_required(f.object,:doc_no)}",:class=>""
      = f.hidden_field :doc_no 
      = f.hidden_field :id
      = f.hidden_field :doc_type 
      %span.doc_no.value= doc.doc_no
    .form_field
      %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.person_id')}",:class=>"" 
      = f.hidden_field :person_id 
      %span.value= doc.person_name
      = hidden_field_tag "duty_for_fee_standard",doc.person.duty_id
      = hidden_field_tag "pt_for_fee_standard",doc.person.person_type_id
    .form_field
      %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.apply_date')}#{mark_required(f.object,:apply_date)}",:class=>"" 
      %span.value= f.text_field :apply_date,:class=>"datepicker input1 doc_apply_date",:placeholder=>"#{I18n.t('activerecord.attributes.doc_head.apply_date')}" 
    -if doc.doc_type!=14
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.attach')}" 
        %span.value= f.text_field :attach,:class=>"input1"+ mark_required(doc, :attach),:placeholder=>"#{I18n.t('activerecord.attributes.doc_head.attach')}"   
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.dep_id')}" 
        %span.value= reference_select("dep_id","Dep",:value=>doc.dep_id,:text=>doc.dep,:f=>f)
    -if doc.doc_type==9 or doc.doc_type==11
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.afford_dep_id')}" 
        %span.value= reference_select("afford_dep_id","Dep",:value=>doc.afford_dep_id,:text=>doc.afford_dep,:f=>f)
    -if doc.doc_type!=14
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.real_person_id')}" 
        %span.value= reference_select("real_person_id","Person",:value=>doc.real_person_id,:text=>doc.real_person,:f=>f)
    -if doc.doc_type==13
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.upload')}" 
        %span.value
          = f.hidden_field :doc_no
          -if doc.upload_file 
            = doc.upload_file.upload.original_filename
          = link_to_function("#{I18n.t('activerecord.attributes.doc_head.manage_upload')}","add_upload_files(this,'#{upload_files_path}')")
    -if doc.doc_type==1
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.cp_doc_remain_amount')}"
        %span.value= doc.cp_doc_remain_amount
    -if ([9,11,13].include? doc.doc_type)
      -if doc.doc_type!=13
        .form_field
          %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.project_id')}" 
          %span.value= reference_select("project_id","Project",:value=>doc.project_id,:text=>doc.project,:f=>f)
      .form_field
        %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.is_split')}" 
        %span.value= f.select :is_split, ReimDetail::ENUMS_IS_SPLIT,{},{:class=>"input1 is_split_reim"}
    %br
    .form_field.col-sp2
      %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.note')}" 
      %span.value= f.text_area :note,:class=>"input2"+ mark_required(doc, :note),:placeholder=>"#{I18n.t('activerecord.attributes.doc_head.note')}" 
    %br
    .form_field
      %span.label= f.label "#{I18n.t('activerecord.attributes.doc_head.total_apply_amount')}" 
      %span.value#total_riem= doc.total_fi_amount
    = f.hidden_field :doc_type
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--根据不同的单据类型render不同的单据-->
  #details
    -if doc.doc_type<=2
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:cp_doc_details 
            = doc.doc_type==1 ? "#{I18n.t('activerecord.attributes.doc_head.cp_doc_details.c_doc')}":"#{I18n.t('activerecord.attributes.doc_head.cp_doc_details.p_doc')}" 
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          -f.fields_for :cp_doc_details do |builder|
            = render :partial => 'cp_doc_detail_fields',:locals => { :f => builder,:doc=>doc } 
            <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==3
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rec_notice_details 
            = "#{I18n.t('common_attr.c_doc_detail')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          -f.fields_for :rec_notice_details do |builder| 
            = render :partial => 'rec_notice_detail_fields',:locals => { :f => builder } 
            <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
            <!--结汇申请单-->
    -if doc.doc_type==4
      .doc_detail
        .form_title
          %h3= I18n.t("common_attr.remitance_detail")
        #inner_remittance.form_area
          = f.fields_for :inner_remittance do |builder|  
            = render :partial => 'inner_remittance',:locals => { :f => builder,:detail_doc=>doc.inner_remittance }  
            <!--转帐申请单-->
    -if doc.doc_type==5
      .doc_detail
        .form_title
          %h3= I18n.t("common_attr.transfer_detail")
        #inner_transfer.form_area
          = f.fields_for :inner_transfer do |builder|  
            = render :partial => "inner_transfer",:locals => { :f => builder,:detail_doc=>doc.inner_transfer }  
            <!--现金提取申请单-->
    -if doc.doc_type==6
      .doc_detail
        .form_title
          %h3= I18n.t("common_attr.cash_draw_detail")
        #inner_cash_draw.form_area
          = f.fields_for :inner_cash_draw do |builder|  
            = render :partial => "inner_cash_draw",:locals => { :f => builder,:detail_doc=>doc.inner_cash_draw }  
            <!--购买理财产品-->
    -if doc.doc_type==7
      .doc_detail
        .form_title
          %h3= I18n.t("common_attr.buy_fin_p_detail")
        #buy_finance_products.form_area
          = f.fields_for :buy_finance_product do |builder|  
            = render :partial => "buy_finance_products",:locals => { :f => builder,:detail_doc=>doc.buy_finance_product }  
            <!--赎回理财产品-->
    -if doc.doc_type==8
      .doc_detail
        .form_title
          %h3= I18n.t("common_attr.redeem_fin_p_detail")
        #redeem_finance_products#form_area
          = f.fields_for :redeem_finance_product do |builder|  
            = render :partial => "redeem_finance_products",:locals => { :f => builder,:detail_doc=>doc.redeem_finance_product }  
            <!--here is reim details...................................................-->
            <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==9
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_travels 
            = "#{I18n.t('common_attr.travel_desc')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_travels do |builder| 
            = render :partial => 'rd_travel_fields',:locals => { :f => builder } 
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_transports 
            = "#{I18n.t('common_attr.transport_detail')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_transports do |builder|  
            = render :partial => 'rd_transport_fields',:locals => { :f => builder }  
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_lodgings 
            = "#{I18n.t('common_attr.lodging_desc')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_lodgings do |builder|  
            = render :partial => 'rd_lodging_fields',:locals => { :f => builder }  
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:other_riems 
            = "#{I18n.t('common_attr.other_riem_detail')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :other_riems do |builder|  
            = render :partial => 'other_riem_fields',:locals => { :f => builder }  
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==12
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:common_riems 
            = "#{I18n.t('common_attr.common_riem_desc')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :common_riems do |builder| 
            = render :partial => 'common_riem_fields',:locals => { :f => builder } 
    -if doc.doc_type==10 or doc.doc_type==12
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_work_meals 
            = doc.doc_type==10 ? "#{I18n.t('common_attr.transport_fee')}" : "#{I18n.t('common_attr.work_meal')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_work_meals do |builder|  
            = render :partial => 'rd_work_meal_fields',:locals => { :f => builder }  
          <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==11
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_extra_work_meals 
            = "#{I18n.t('common_attr.extra_meal')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_extra_work_meals do |builder|  
            = render :partial => 'rd_extra_work_meal_fields',:locals => { :f => builder }  
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_extra_work_cars 
            = "#{I18n.t('common_attr.extra_car')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_extra_work_cars do |builder|  
            = render :partial => 'rd_extra_work_car_fields',:locals => { :f => builder }  
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==12
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_common_transports 
            = "#{I18n.t('common_attr.common_transport')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_common_transports do |builder|  
            = render :partial => 'rd_common_transport_fields',:locals => { :f => builder }  
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type==13
      .doc_detail
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:rd_benefits 
            = "#{I18n.t('common_attr.benefit_detail')}"
            = image_tag "currency_yuan.png"
            %span.doc_total_amount.normal=0.0
        .form_area
          = f.fields_for :rd_benefits do |builder|  
            = render :partial => 'rd_benefit_fields',:locals => { :f => builder }  
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if [9,11,13].include? doc.doc_type
      <!--分摊明细动态显示-->
      .doc_detail
        .form_title.is_split_reim
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:reim_split_details 
            = "#{I18n.t('common_attr.split_detail')}"
            = image_tag "currency_yuan.png"
            %span.split_total_amount.normal=0.0
        .form_area.is_split_reim
          = f.fields_for :reim_split_details do |builder|  
            = render :partial => "reim_split_detail_fields",:locals => { :f => builder }  
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!---if doc.doc_type>=9 and doc.doc_type<=12-->
    <!--  .form_title-->
    <!--    %h3= "#{I18n.t('common_attr.now_cp_docs')}"-->
    <!--  = render :partial => 'reim_cp_doc_offset',:locals => { :doc_head=>doc } --> 
    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    -if doc.doc_type%3 or doc.doc_type=9 and doc.doc_type<=13
      .doc_detail.recivers
        .form_title
          %h3
            = link_to_add_fields "#{I18n.t('common_attr.add_reciver')}",f,:recivers 
            = doc.doc_type==2 ? "#{I18n.t('common_attr.rec_company')}" : "#{I18n.t('common_attr.rec_person')}" 
        .form_area
          = f.fields_for :recivers do |builder|  
            = render :partial => 'reciver_fields',:locals => { :f => builder,:doc=>doc }  
