%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "类型"
    %span.value= f.select :property_type_id,PropertyType.all.map{|a|[a.name,a.id]}.to_a,:class=>"normal" 
  .form_field
    %span.label= "名称"
    %span.value= f.text_field :name,:class=>"normal" 
  .form_field
    %span.label= "编码"
    %span.value= f.text_field :code,:class=>"normal" 
  .form_field
    %span.label= "序列号"
    %span.value= f.text_field :seq_no,:class=>" middle"
  .form_field
    %span.label= "单价"
    %span.value= f.text_field :buy_unit,:class=>"normal" 
  .form_field
    %span.label= "数量"
    %span.value= f.text_field :buy_count,:class=>"normal" 
  .form_field
    %span.label= "原值"
    %span.value= f.text_field :original_value,:class=>"normal" 
  .form_field
    %span.label= "保管人"
    %span.value= ts "keeper_id","Person",:text=>f.object.keeper.to_s,:value=>f.object.keeper_id,:f=>f
  .form_field
    %span.label= "保管地点"
    %span.value= f.text_field :place,:class=>"middle" 
  .form_field
    %span.label= "费用承担部门"
    %span.value= ts "afford_dep_id","Dep",:text=>f.object.afford_dep.to_s,:value=>f.object.afford_dep_id,:f=>f
  .form_field
    %span.label= "项目"
    %span.value= ts "project_id","Project",:text=>f.object.project.to_s,:value=>f.object.project_id,:f=>f

