<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
    <%= f.select :property_type_id, PropertyType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
	</td> 
	<td>
		<%= f.text_field :name,:class=>"large" %>  
	</td> 
	<td>
		<%= f.text_field :code,:class=>"normal" %>  
	</td> 
	<td>
		<%= f.text_field :seq_no,:class=>"normal" %>  
	</td> 
	<td>
		<%= f.text_field :buy_unit,:class=>"normal doc_ori_amount" %>  
	</td> 
	<td>
		<%= f.text_field :buy_count,:class=>"normal" %>  
	</td> 
	<td>
		<%= f.text_field :original_value,:class=>"normal" %>  
	</td> 
	<td>
		<div class="reference">
			<%= f.hidden_field :keeper_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "person_info",f.object.keeper.to_s,:class=>"ref normal" %>
			<a href="#" class-data="Person"><span class="reference"></span></a>			
		</div>
	</td> 
	<td>
		<%= f.text_field :place,:class=>"large" %>  
	</td> 
	<td>
		<div class="reference">
			<%= f.hidden_field :afford_dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",f.object.afford_dep.to_s,:class=>"ref middle" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "project_info",f.object.project.to_s,:class=>"ref middle" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>
