<%= form_for @doc_head,:remote=>true do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<%= render :partial=>"doc_head_actions",:locals=>{:doc_head=>@doc_head}%>
<div id="doc_state_process">
	<%= render :partial=>"doc_state_process",:locals=>{:doc=>@doc_head}%>
</div>
<div class="field">
	<%= f.label "单号",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :doc_no,:class=>"basic_input "+ mark_required(@doc_head, :doc_no) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "附件个数",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :attach,:class=>"basic_input "+ mark_required(@doc_head, :attach) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "申请人",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.hidden_field :person_id %>
			<span><%= @doc_head.person_name%></span>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "备注",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :note,:class=>"basic_input "+ mark_required(@doc_head, :note) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<% if @doc_head.doc_type>4 %>
<div class="field">
	<%= f.label "申请日期",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :apply_date,:class=>"datepicker basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "部门",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:doc_head, :dep_id, Dep.all, :id, :name, {:include_blank => 'None'},{:class=>"basic_input"})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "费用类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:doc_head, :fee_id, Fee.all, :id, :name, {:include_blank => 'None'},{:class=>"basic_input"})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
 </div>
<% end %>
<%= f.hidden_field :doc_type%>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--根据不同的单据类型render不同的单据-->
<div id="details">
	<!---->
	<% if @doc_head.doc_type<=2%>
	<div class="form_title">
		<h3><%= @doc_head.doc_type==1 ? "借款单据":"付款单据" %></h3>
	</div>
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>申请时间</th>
				    <th>部门</th>
				    <th>费用类型</th>
				    <th>项目</th>
				    <th>费用用途</th>
				    <th>币种</th>
					<th>汇率</th>
					<th>原始金额</th>
					<th>申请金额</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :cp_doc_details do |builder|  %>
					<%= render :partial => 'cp_doc_detail_fields',:locals => { :f => builder } %>
				<% end %>
			</tbody>
			<tr>
				<th colspan="11"><%= link_to_add_fields "添加明细",f,:cp_doc_details %></th>
			</tr>		
		</table>
	</div>	
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% elsif @doc_head.doc_type==3%>
	<div class="form_title">
		<h3>报销单</h3>
	</div>
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>
					<th></th>
					<th>序号</th>
				    <th>部门</th>
				    <th>费用类型</th>
				    <th>项目</th>
				    <th>费用描述</th>
					<th>是否分摊</th>
				    <th>币种</th>
					<th>汇率</th>
					<th>原始金额</th>
					<th>实际金额</th>
					<th>申请金额</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :reim_details do |builder| %>
					<%= render :partial => 'reim_detail_fields',:locals => { :f => builder } %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="11"><%= link_to_add_fields "添加报销单明细",f,:reim_details %></th>
			</tr>		
		</table>
	</div>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% elsif @doc_head.doc_type==4%>
	<div class="form_title">
		<h3>收款明细</h3>
	</div>
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>申请时间</th>
				    <th>部门</th>
				    <th>项目</th>
				    <th>收款内容</th>
					<th>收款金额</th>
				    <th>币种</th>
					<th>汇率</th>
					<th>原始金额</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :rec_notice_details do |builder| %>
					<%= render :partial => 'rec_notice_detail_fields',:locals => { :f => builder } %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="10"><%= link_to_add_fields "添加收款明细",f,:rec_notice_details %></th>
			</tr>		
		</table>		
	</div>
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type<=4%>
	<div class="form_title">
		<h3>收款人</h3>
	</div>
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>结算方式</th>
				    <th>收款单位</th>
				    <th>银行</th>
				    <th>银行帐号</th>
				    <th>金额</th>	
					<th></th><!--给删除的-->		    
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :recivers do |builder|  %>
					<%= render :partial => 'reciver_fields',:locals => { :f => builder }  %>
				<% end %>
			</tbody>
			<tr>
				<th colspan="8"><%= link_to_add_fields "添加收款人",f,:recivers %></th>
			</tr>		
		</table>
	</div>	
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
	<!--结汇申请单-->
	<% if @doc_head.doc_type==5%>
	<div class="form_title">
		<h3>结汇申请详细</h3>
	</div>
	<div id="inner_remittance">
		<% f.fields_for :inner_remittances do |builder|  %>
			<%= render :partial => 'inner_remittance',:locals => { :f => builder }  %>
		<% end %>
	</div>
	<% end %>
	<!--转帐申请单-->
	<% if @doc_head.doc_type==6%>
	<div class="form_title">
		<h3>转帐申请详细</h3>
	</div>
	<div id="inner_transfer">
		<% f.fields_for :inner_transfers do |builder|  %>
			<%= render :partial => "inner_transfer",:locals => { :f => builder }  %>
		<% end %>
	</div>
	<% end %>
	<!--现金提取申请单-->
	<% if @doc_head.doc_type==7%>
	<div class="form_title">
		<h3>现金提取申请详细</h3>
	</div>
	<div id="inner_cash_draw">
		<% f.fields_for :inner_cash_draws do |builder|  %>
			<%= render :partial => "inner_cash_draw",:locals => { :f => builder }  %>
		<% end %>
	</div>
	<% end %>
	<!--购买理财产品-->
	<% if @doc_head.doc_type==8%>
	<div class="form_title">
		<h3>购买理财产品详细</h3>
	</div>
	<div id="buy_finance_products">
		<% f.fields_for :buy_finance_products do |builder|  %>
			<%= render :partial => "buy_finance_products",:locals => { :f => builder }  %>
		<% end %>
	</div>
	<% end %>
	<!--赎回理财产品-->
	<% if @doc_head.doc_type==9%>
	<div class="form_title">
		<h3>赎回理财产品详细</h3>
	</div>
	<div id="redeem_finance_products">
		<% f.fields_for :redeem_finance_products do |builder|  %>
			<%= render :partial => "redeem_finance_products",:locals => { :f => builder }  %>
		<% end %>
	</div>
	<% end %>
</div>
<% end %>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--审批流++++++++根据当前单据状态以及当前审批人显示下面内容-->
<div id="work_flow_info">
	<%= render(:partial=>"work_flow_info",:locals=>{:work_flow_info=>@work_flow_info,:doc_head=>@doc_head})%>
</div>