<%= form_for @doc_head,:remote=>true,:html => {:class=>:doc_head} do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div id="doc_head_actions" class="actions">
	<%= render :partial=>"doc_head_actions",:locals=>{:doc_head=>@doc_head}%>
</div>
<div id="doc_state_process">
	<%= render :partial=>"doc_state_process",:locals=>{:doc=>@doc_head}%>
</div>
<div class="form_title">
	<h3>基本信息</h3>
</div>
<div class="form_area">
	<div class="form_block">
		<div class="form_field">
			<%= f.label "单据号#{mark_required(f.object,:doc_no)}" %>
			<%= f.text_field :doc_no,:class=>"input1" %>
		</div>
		<div class="form_field">
			<%= f.label "申请人" %>
			<%= f.hidden_field :person_id %>
			<%= @doc_head.person_name%>
			<%= hidden_field_tag "duty_for_fee_standard",@doc_head.person.duty_id%>
			<%= hidden_field_tag "pt_for_fee_standard",@doc_head.person.person_type_id%>
		</div>
	</div>
	<div class="form_block">
		<div class="form_field">
			<%= f.label "申请日期#{mark_required(f.object,:apply_date)}" %>
			<%= f.text_field :apply_date,:class=>"datepicker input1" %>
		</div>
		<div class="form_field">
			<%= f.label "附件个数" %>
			<%= f.text_field :attach,:class=>"input1"+ mark_required(@doc_head, :attach) %>  
		</div>
	</div>	
	<div class="form_block">
		<div class="form_field">
			<%= f.label "申请部门" %>
            <!--样例参照-->
			<div class="reference" data-ref-id="dep">
				<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "dep_info",@doc_head.dep.to_s,:class=>"ref" %>
				<a href="#" class-data="Dep" pre-condition-ref="" pre-condition-sql=""><span class="reference"></span></a>			
			</div>
		</div>
		<% if @doc_head.doc_type==9 or @doc_head.doc_type==11%>
		<div class="form_field">
			<%= f.label "费用承担部门" %>
            <!--样例参照-->
			<div class="reference" data-ref-id="dep">
				<%= f.hidden_field :afford_dep_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "dep_info",@doc_head.afford_dep.to_s,:class=>"ref" %>
				<a href="#" class-data="Dep" pre-condition-ref="" pre-condition-sql=""><span class="reference"></span></a>			
			</div>
		</div>
		<% end %>
		<!--<div class="form_field">
			<%= f.label "费用类型" %>
			<div class="reference">
				<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "fee_info",@doc_head.fee.to_s,:class=>"ref" %>
				<a href="#" class-data="Fee"><span class="reference"></span></a>			
			</div>
		</div>-->
	</div>	
	<% if @doc_head.doc_type==1 %>
	<div class="form_block">
		<div class="form_field">
			<%= f.label "借款余额" %><span><%= @doc_head.cp_doc_remain_amount%></span>
		</div>
	</div>	
	<% end %>
	<div class="form_block">
		<% if (@doc_head.doc_type>=9 and @doc_head.doc_type<=13)%>
		<div class="form_field">
			<%= f.label "项目" %>			
			<div class="reference project">
				<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "project_info",@doc_head.project.to_s,:class=>"ref" %>
				<a href="#" class-data="Project"><span class="reference"></span></a>			
			</div>
		</div>
		<% end %>
		<% if @doc_head.doc_type>=9 and @doc_head.doc_type<=13 and @doc_head.doc_type!=10 %>
			<div class="form_field">
				<%= f.label "是否分摊" %>
				<%= f.select :is_split, ReimDetail::ENUMS_IS_SPLIT,{},{:class=>"input1 is_split_reim"} %>
			</div>
		<% end %>
	</div>
	<div class="form_block">
		<div class="form_field">
			<%= f.label "备注" %>
			<%= f.text_area :note,:class=>"input2"+ mark_required(@doc_head, :note) %>
		</div>
	</div>
	<!---++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<%= f.hidden_field :doc_type%>
</div>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--根据不同的单据类型render不同的单据-->
<div id="details">
	<!---->
	<% if @doc_head.doc_type<=2%>
	<div class="form_title">
		<h3><%= @doc_head.doc_type==1 ? "借款单据明细":"付款单据明细" %></h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>费用承担部门*</th>
				    <th>项目</th>
				    <th>费用用途*</th>
				    <th>币种*</th>
					<th>汇率*</th>
					<th>原币<%= @doc_head.doc_type==1 ? "借款":"付款" %>金额*</th>
					<th>本币<%= @doc_head.doc_type==1 ? "借款":"付款" %>金额*</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :cp_doc_details do |builder|  %>
					<%= render :partial => 'cp_doc_detail_fields',:locals => { :f => builder } %>
				<% end %>
			</tbody>
			<tr>
				<td colspan="6"><%= link_to_add_fields "添加明细",f,:cp_doc_details,[:dep] %></td>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>	
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==3%>
	<div class="form_title">
		<h3>收款明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>申请时间</th>
				    <th>费用承担部门</th>
				    <th>项目</th>
				    <th>收款内容</th>
					<th>收款金额*</th>
				    <th>币种</th>
					<th>汇率</th>
					<th>原始金额</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<% f.fields_for :rec_notice_details do |builder| %>
					<%= render :partial => 'rec_notice_detail_fields',:locals => { :f => builder } %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="7"><%= link_to_add_fields "添加收款明细",f,:rec_notice_details %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>		
	</div>
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
	<!--结汇申请单-->
	<% if @doc_head.doc_type==4%>
	<div class="form_title">
		<h3>结汇申请详细</h3>
	</div>
	<div id="inner_remittance" class="form_area">
		<%= f.fields_for :inner_remittance do |builder|  %>
			<%= render :partial => 'inner_remittance',:locals => { :f => builder,:detail_doc=>@doc_head.inner_remittance }  %>
		<% end %>
	</div>
	<% end %>
	<!--转帐申请单-->
	<% if @doc_head.doc_type==5%>
	<div class="form_title">
		<h3>转帐申请详细</h3>
	</div>
	<div id="inner_transfer" class="form_area">
		<%= f.fields_for :inner_transfer do |builder|  %>
			<%= render :partial => "inner_transfer",:locals => { :f => builder,:detail_doc=>@doc_head.inner_transfer }  %>
		<% end %>
	</div>
	<% end %>
	<!--现金提取申请单-->
	<% if @doc_head.doc_type==6%>
	<div class="form_title">
		<h3>现金提取申请详细</h3>
	</div>
	<div id="inner_cash_draw" class="form_area">
		<%= f.fields_for :inner_cash_draw do |builder|  %>
			<%= render :partial => "inner_cash_draw",:locals => { :f => builder,:detail_doc=>@doc_head.inner_cash_draw }  %>
		<% end %>
	</div>
	<% end %>
	<!--购买理财产品-->
	<% if @doc_head.doc_type==7%>
	<div class="form_title">
		<h3>购买理财产品详细</h3>
	</div>
	<div id="buy_finance_products" class="form_area">
		<%= f.fields_for :buy_finance_product do |builder|  %>
			<%= render :partial => "buy_finance_products",:locals => { :f => builder,:detail_doc=>@doc_head.buy_finance_product }  %>
		<% end %>
	</div>
	<% end %>
	<!--赎回理财产品-->
	<% if @doc_head.doc_type==8%>
	<div class="form_title">
		<h3>赎回理财产品详细</h3>
	</div>
	<div id="redeem_finance_products" class="form_area">
		<%= f.fields_for :redeem_finance_product do |builder|  %>
			<%= render :partial => "redeem_finance_products",:locals => { :f => builder,:detail_doc=>@doc_head.redeem_finance_product }  %>
		<% end %>
	</div>
	<% end %>
	<!--here is reim details...................................................-->
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==9%>
	<div class="form_title">
		<h3>差旅费补助明细</h3>
	</div>
		<div class="form_area">
			<table class="form_input">
				<thead>
					<tr>	
						<th>序号</th>
					    <th>出差天数</th>
						<th>地区级次</th>
					    <th>出差地点</th>
					    <th>其他地点</th>
					    <th>出差事由</th>
					    <th>费用标准</th>
						<th>其他费用</th>
					    <th>其他费用说明</th>
						<th>币种</th>
						<th>汇率</th>
						<th>原币金额*</th>
						<th>本币金额</th>
						<th>HR调整</th>
						<th>财务调整</th>
						<th></th><!--给删除的-->
				    </tr>
			    <thead>
				<tbody>
					<%= f.fields_for :rd_travels do |builder| %>
						<%= render :partial => 'rd_travel_fields',:locals => { :f => builder } %>
					<% end %>				
				</tbody>
				<tr>
					<th colspan="13"><%= link_to_add_fields "添加差旅补助费用",f,:rd_travels %></th>
					<td>申请金额合计</td>
					<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
					<td></td>
				</tr>		
			</table>
		</div>
		<div class="form_title">
			<h3>交通费明细</h3>
		</div>
		<div class="form_area">
			<table class="form_input">
				<thead>
					<tr>					
						<th>序号</th>
					    <th>开始时间</th>
					    <th>到达时间</th>
					    <th>出发地</th>
					    <th>目的地</th>
						<th>出差事由</th>
					    <th>交通工具</th>
						<th>币种</th>
						<th>汇率</th>
						<th>原币金额*</th>
						<th>本币金额</th>
						<th>HR调整</th>
						<th>财务调整</th>
						<th></th><!--给删除的-->
				    </tr>
			    <thead>
				<tbody>
					<%= f.fields_for :rd_transports do |builder|  %>
						<%= render :partial => 'rd_transport_fields',:locals => { :f => builder }  %>
					<% end %>				
				</tbody>
				<tr>
					<th colspan="11"><%= link_to_add_fields "添加交通费",f,:rd_transports %></th>
					<td>申请金额合计</td>
					<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
					<td></td>
				</tr>		
			</table>					
		</div>
		<div class="form_title">
			<h3>住宿费明细</h3>
		</div>
		<div class="form_area">
			<table class="form_input">
				<thead>
					<tr>					
						<th>序号</th>
						<th>开始日期</th>
						<th>结束日期</th>
					    <th>住宿天数</th>
						<th>地区级次</th>
					    <th>城市</th>
						<th>其他城市</th>
					    <th>费用标准</th>
						<th>人数</th>
					    <th>合住人</th>
						<th>币种</th>
						<th>汇率</th>
						<th>原币金额*</th>
						<th>本币金额</th>
						<th>HR调整</th>
						<th>财务调整</th>
						<th></th><!--给删除的-->
				    </tr>
			    <thead>
				<tbody>
					<%= f.fields_for :rd_lodgings do |builder|  %>
						<%= render :partial => 'rd_lodging_fields',:locals => { :f => builder }  %>
					<% end %>				
				</tbody>
				<tr>
					<th colspan="14"><%= link_to_add_fields "添加住宿费",f,:rd_lodgings %></th>
					<td>申请金额合计</td>
					<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
					<td></td>
				</tr>		
			</table>
		</div>
	<% end %>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==12%>
	<div class="form_title">
		<h3>普通费用报销明细</h3>
	</div>
		<div class="form_area">
			<table class="form_input">
				<thead>
					<tr>	
						<th>序号</th>
					    <th>费用类型</th>
					    <th>费用承担部门</th>
					    <th>项目</th>
					    <th>费用描述</th>
						<th>币种</th>
						<th>汇率</th>
						<th>原币金额*</th>
						<th>本币金额</th>
						<th>HR调整</th>
						<th>财务调整</th>
						<th></th><!--给删除的-->
				    </tr>
			    <thead>
				<tbody>
					<%= f.fields_for :common_riems do |builder| %>
						<%= render :partial => 'common_riem_fields',:locals => { :f => builder } %>
					<% end %>				
				</tbody>
				<tr>
					<th colspan="9"><%= link_to_add_fields "添加普通费用报销明细",f,:common_riems %></th>
					<td>申请金额合计</td>
					<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
					<td></td>
				</tr>		
			</table>
		</div>
	<% end %>
	<% if @doc_head.doc_type==10 or @doc_head.doc_type==12%>
	<div class="form_title">
		<h3><%= @doc_head.doc_type==10 ? "交际费" : "工作餐费"%>明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>地点*</th>
				    <th>日期*</th>
				    <th>人数*</th>
				    <th>参与人姓名*</th>
					<th>事由*</th>
					<th>币种*</th>
					<th>汇率*</th>
					<th>原币金额*</th>
					<th>本币金额*</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :rd_work_meals do |builder|  %>
					<%= render :partial => 'rd_work_meal_fields',:locals => { :f => builder }  %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="8"><%= link_to_add_fields "添加交际费",f,:rd_work_meals %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>
	<% end %>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==11%>
	<div class="form_title">
		<h3>加班餐费明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				  <th>是否休息日</th>
					<th>开始时间*</th>
				  <th>结束时间*</th>
					<th>事由*</th>
					<th>加班费标准</th>
					<th>币种*</th>
					<th>汇率*</th>
					<th>原币金额*</th>
					<th>本币金额</th>
					<th>HR调整</th>
					<th>财务调整</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :rd_extra_work_meals do |builder|  %>
					<%= render :partial => 'rd_extra_work_meal_fields',:locals => { :f => builder }  %>
				<% end %>			
			</tbody>
			<tr>
				<th colspan="10"><%= link_to_add_fields "添加加班餐费",f,:rd_extra_work_meals %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>
	<div class="form_title">
		<h3>加班车费明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				  <th>是否休息日</th>
				  <th>开始地点*</th>
				  <th>结束地点*</th>
					<th>开始时间*</th>
				  <th>结束时间*</th>
					<th>事由*</th>
					<th>币种*</th>
					<th>汇率*</th>
					<th>原币金额*</th>
					<th>本币金额</th>
					<th>HR调整</th>
					<th>财务调整</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :rd_extra_work_cars do |builder|  %>
					<%= render :partial => 'rd_extra_work_car_fields',:locals => { :f => builder }  %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="11"><%= link_to_add_fields "添加加班交通费",f,:rd_extra_work_cars %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>
	<% end %>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==12%>
	<div class="form_title">
		<h3>业务交通费明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>日期</th>
				    <th>开始地点</th>
				    <th>结束地点</th>
					<th>开始时间</th>
				    <th>结束时间</th>
					<th>事由</th>
					<th>备注</th>
					<th>币种</th>
					<th>汇率</th>
					<th>原币金额*</th>
					<th>本币金额</th>
					<th>HR调整</th>
					<th>财务调整</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :rd_common_transports do |builder|  %>
					<%= render :partial => 'rd_common_transport_fields',:locals => { :f => builder }  %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="12"><%= link_to_add_fields "添加业务交通费",f,:rd_common_transports %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>
	<% end %>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type==13%>
	<div class="form_title">
		<h3>福利费用明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>报销日期</th>
				    <th>人数</th>
				    <th>费用期间</th>
				    <th>申请费用</th>
					<th>HR调整</th>
					<th>财务调整</th>
					<th>附件</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :rd_benefits do |builder|  %>
					<%= render :partial => 'rd_benefit_fields',:locals => { :f => builder }  %>
				<% end %>			
			</tbody>
			<tr>
				<th colspan="5"><%= link_to_add_fields "添加福利费用",f,:rd_benefits %></th>
				<td>申请金额合计</td>
				<td><%= text_field_tag 'total_amount', nil, :class => 'doc_total_amount normal'%></td>
				<td></td>
			</tr>		
		</table>
	</div>
	<% end %>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type>=9 and @doc_head.doc_type!=10%>
	<!--分摊明细动态显示-->
	<div class="form_title is_split_reim">
		<h3>分摊明细</h3>
	</div>
	<div class="form_area is_split_reim">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
				    <th>费用承担部门</th>							    
				    <th>项目</th>
					<th>费用类型</th>
				    <th>百分比</th>
					<th>分摊金额</th>
					<th></th><!--给删除的-->
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :reim_split_details do |builder|  %>
					<%= render :partial => "reim_split_detail_fields",:locals => { :f => builder }  %>
				<% end %>				
			</tbody>
			<tr>
				<th colspan="10"><%= link_to_add_fields "添加分摊明细",f,:reim_split_details %></th>
				<td></td>
			</tr>		
		</table>
	</div>
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type>=9 and @doc_head.doc_type<=12%>
		<div class="form_title">
			<h3>现有的借款单</h3>
		</div>
		<%= render :partial => 'reim_cp_doc_offset',:locals => { :doc_head=>@doc_head }  %>
	<% end %>
	<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<% if @doc_head.doc_type<3 or @doc_head.doc_type>=9 and @doc_head.doc_type<13%>
	<div class="form_title">
		<h3><%= @doc_head.doc_type==2?"收款单位":"收款人"%>明细</h3>
	</div>
	<div class="form_area">
		<table class="form_input">
			<thead>
				<tr>					
					<th>序号</th>
					<% if @doc_head.doc_type>=9 %>
					<th>方向</th>
					<% end %>
				    <th>结算方式</th>
				    <th><%= @doc_head.doc_type==2?"收款单位":"收款人"%></th>
				    <th>银行</th>
				    <th>银行帐号</th>
				    <th>金额*</th>
					<% if [9,11,13].include? @doc_head.doc_type%>
					<th>HR调整</th>
					<th>财务调整</th>
					<% end %>	
					<th></th><!--给删除的-->		    
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :recivers do |builder|  %>
					<%= render :partial => 'reciver_fields',:locals => { :f => builder }  %>
				<% end %>
			</tbody>
			<tr>
				<th colspan="8"><%= link_to_add_fields "添加收款人",f,:recivers %></th>
			</tr>		
		</table>
	</div>	
	<% end %>
</div>
<% end %>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--审批流++++++++根据当前单据状态以及当前审批人显示下面内容-->
<div id="work_flow_info">
	<%= render(:partial=>"work_flow_info",:locals=>{:work_flow_info=>@work_flow_info,:doc_head=>@doc_head})%>
</div>
