.form_field
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.amount')}" ,:class=>"large"
	%span.value= f.text_field :amount,:class=>"input1 " 
%br
.form_field.col-sp2
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.out_account_id')}" ,:class=>"large"
	%span.value=ts "out_account_id","Account",:text=>detail_doc.out_account.to_s,:value=>detail_doc.out_account_id,:f=>f
.form_field.col-sp2
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.out_amount_before')}" ,:class=>"large"
	%span.value= f.text_field :out_amount_before,:class=>"input1 number"   
%br
.form_field.col-sp2
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.in_account_id')}" ,:class=>"large"
	%span.value=ts "in_account_id","Account",:text=>detail_doc.in_account.to_s,:value=>detail_doc.in_account_id,:f=>f 
.form_field.col-sp2
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.in_amount_after')}" ,:class=>"large"
	%span.value= f.text_field :in_amount_before,:class=>"input1 number"  
%br
.form_field.col-sp2
	%span.label= f.label "#{I18n.t('activerecord.attributes.inner_transfer.description')}" ,:class=>"large"
	%span.value= f.text_area :description,:class=>"input2 "
