<h3>结汇信息</h3><br/>
<div class="fields">
	<p>  
		<%= f.label :out_account, "结汇账户" %><br />
		<%= f.select(:out_account,  Account.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p> 
	<p>  
		<%= f.label :in_account_name, "收款账户名称" %><br />  
		<%= f.text_field :in_account_name %>  
	</p>
	<p>  
		<%= f.label :in_account_no, "收款账户帐号" %><br />  
		<%= f.text_field :in_account_no %>  
	</p>
	<p>  
		<%= f.label :description, "申请原因" %><br />  
		<%= f.text_area :description %>  
	</p>
	<p>  
		<%= f.label :amount, "申请金额" %><br />  
		<%= f.text_field :amount %>  
	</p>
	<p>  
		<%= f.label :remain_amount, "余额" %><br />  
		<%= f.text_field :remain_amount %>  
	</p>
	<p>  
		<%= f.label :now_rate_price, "当日汇中间价" %><br />  
		<%= f.text_field :now_rate_price %>  
	</p>
</div>