.form_field
  %span.label= f.label "#{I18n.t('common_attr.cash_draw_account')}"
  %span.value= ts "account_id","Account",:text=>detail_doc.account.to_s,:value=>detail_doc.account_id,:f=>f
.form_field
  %span.label= f.label "#{I18n.t('common_attr.cash_draw_money_remain')}",:class=>"input_label" 
  %span.value= f.text_field :now_remain_amount,:class=>"input1 "
.doc_detail
  .form_title
    %h3
      = I18n.t('common_attr.add_apply_item')
      = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:cash_draw_items 
      = image_tag "currency_yuan.png"
      %span.doc_total_amount.normal 0.0
  .form_area#cash_draw_items#form_block
    -f.fields_for :cash_draw_items do |builder|
      = render :partial => 'cash_draw_item_fields',:locals => { :f => builder }
:javascript
  $('.cash_amount').live('change',function(){
    var cash_amount = parseFloat($(this).val());
    console.log(cash_amount);
    console.log($(this).val());
    $(this).val(!isNaN(cash_amount) ? cash_amount.toFixed(2) : 0.0);
    $(this).closest('fieldset').trigger("cash_amount_change");
  });
  $(function(){
    $('fieldset').live('cash_amount_change',function(){
      //calculate the total amount
       var fds = $(this).closest('.form_area').find('fieldset').not(':hidden');
        var total_num = 0.0;
        //set every fieldset's value
        fds.each(function(){
          //begin set every value
          var cnum = parseFloat($(this).find('.cash_amount').val());
          total_num+=cnum;
        });
        $(this).closest('.doc_detail').find('.doc_total_amount').text(total_num.toFixed(2));
        $(this).closest('.doc_detail').trigger('area:numberChanged');
    });
  });
