<div class="fields">
	<div class="field">
		<%= f.label "转出账户",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.select(:out_account,  Account.all.collect {|s| [ s.name, s.id ] },{:include_blank => '无'},{:class=>"basic_input"})%>
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "转出账户转帐前余额",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :out_amount_before,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "收款账户名称",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :in_account_name,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "收款账户帐号",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :in_account_no,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "转入账户转帐前余额",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :in_amount_before,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "转帐申请原因",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_area :description,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
	<div class="field">
		<%= f.label "申请金额",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :amount,:class=>"basic_input " %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	</div>
</div>