	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.amount')}" ,:class=>"large"%></span>
		<span class="value"><%= f.text_field :amount,:class=>"input1 " %></span>  
  </div><br/>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.out_account_id')}" ,:class=>"large"%></span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :out_account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "out_account_info",detail_doc.out_account.to_s,:class=>"ref large" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div></span>
  </div>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.out_amount_before')}" ,:class=>"large"%></span>
		<span class="value"><%= f.text_field :out_amount_before,:class=>"input1 number" %></span>  
  </div><br/>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.in_account_id')}" ,:class=>"large"%></span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :in_account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "in_account_info",detail_doc.in_account.to_s,:class=>"ref large" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div></span>
	</div>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.in_amount_after')}" ,:class=>"large"%></span>
		<span class="value"><%= f.text_field :in_amount_before,:class=>"input1 number" %></span>  
  </div><br/>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.inner_transfer.description')}" ,:class=>"large"%></span>
		<span class="value"><%= f.text_area :description,:class=>"input2 " %></span>
	</div>
