<div class="form_area">
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('common_attr.cash_draw_account')}" %></span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "account_info",detail_doc.account.to_s,:class=>"ref large" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('common_attr.cash_draw_money_remain')}",:class=>"input_label" %></span>
		<span class="value"><%= f.text_field :now_remain_amout,:class=>"input1 "%></span>
	</div>
</div>
<div class="doc_detail">
<div class="form_title">
  <h3>
    <%= I18n.t('common_attr.add_apply_item')%>
	  <%= link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:cash_draw_items %>
    <%= image_tag "currency_yuan.png"%>
    <span class='doc_total_amount normal'>0.0</span>
  </h3>
</div>
<div class="form_area" id="cash_draw_items form_block">
	<% f.fields_for :cash_draw_items do |builder|  %>
		<%= render :partial => 'cash_draw_item_fields',:locals => { :f => builder }  %>
	<% end %>				
</div>
</div>
