%fieldset
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.start_time')}"
    - start_time_string = d_item.start_date && d_item.start_date.to_s 
    %span.value= d_item.start_date
  .form_field
    %span.label= "#{I18n.t('common_attr.end_time')}"
    - end_time_string = d_item.end_date && d_item.end_date.to_s 
    %span.value= d_item.end_date
  .form_field
    %span.label= "#{I18n.t('common_attr.start_place')}"
    %span.value= d_item.start_position
  .form_field
    %span.label= "#{I18n.t('common_attr.end_place')}"
    %span.value= d_item.end_position
  .form_field
    %span.label= "#{I18n.t('common_attr.reason')}"
    %span.value= d_item.reason
  .form_field
    %span.label= "#{I18n.t('common_attr.transportation')}"
    %span.value= d_item.transportation.to_s
  .form_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= d_item.currency.to_s
  .form_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= d_item.rate
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= d_item.ori_amount
  .form_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= d_item.apply_amount
  .form_field
    %span.label= "#{I18n.t('common_attr.hr_amount')}"
    %span.value= d_item.hr_amount
  .form_field
    %span.label= "#{I18n.t('common_attr.fi_amount')}"
    %span.value= d_item.fi_amount
