<tr class="fields" fee_code="0303">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>  
		<%= f.text_field :days,:class=>"normal travel_days number" %>  
	</td>
	<td>
		<%= f.select :region_type_id, RegionType.all.collect{|rt|[rt.name,rt.id]},{},{:class=>"normal region_type_select "} %>
	</td>
	<td>  
		<div class="reference">
			<%= f.hidden_field :region_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "region_info",f.object.region.to_s,:class=>"ref get_fee" %>
			<a href="#" class-data="Region"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.text_field :custom_place,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :reason,:class=>"xlarge" %>  
	</td>
	<td>
		<%= f.text_field :st_amount,:class=>"normal fee_standard" %>
	</td>
	<td>
		<div class="reference">
			<%- currency = f.object.currency==nil ? Currency.find_by_code('RMB') : f.object.currency%>
			<%= f.hidden_field :currency_id,{:value=>currency.id,:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>  
	</td>
	<td>
		<%= f.text_field :rate,:value=>currency.default_rate,:class=>"xsmall doc_rate number" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %>  
	</td>
	<td>  
		<%= f.text_field :apply_amount,:class=>"doc_apply_amount normal number" %>  
	</td>
	<td>  
		<%= f.text_field :hr_amount,:class=>"doc_HR_amount normal number" %>  
	</td>
	<td>  
		<%= f.text_field :fi_amount,:class=>"doc_FI_amount normal number" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>