%fieldset
  %span.sequence
  .show_field
    %span.label= "#{I18n.t('common_attr.afford_dep')}" 
    %span.value= d_item.dep.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.project')}"
    %span.value= d_item.project.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.fee')}"
    %span.value= d_item.fee.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.people_count')}"
    %span.value= d_item.people_count
  .show_field
    %span.label= "#{I18n.t('common_attr.fee_span')}"
    %span.value= d_item.fee_time_span
  .show_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= d_item.ori_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= d_item.apply_amount
