%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = hidden_field_tag :fee_type,f.object.class.name
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.travel_days')}"
    %span.value= f.text_field :days,:class=>"normal travel_days number" 
  .form_field
    %span.label= "#{I18n.t('common_attr.region_type')}"
    %span.value= f.select :region_type_id, RegionType.all.collect{|rt|[rt.name,rt.id]},{},{:class=>"normal region_type_select "} 
  .form_field
    %span.label= "#{I18n.t('common_attr.travel_place')}"
    %span.value= ts "region_id","Region",:text=>f.object.region.to_s,:value=>f.object.region_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.other_place')}"
    %span.value= f.text_field :custom_place,:class=>"normal" 
  .form_field
    %span.label= "#{I18n.t('common_attr.reason')}"
    %span.value= f.text_field :reason,:class=>"xlarge" 
  .form_field
    %span.label= "#{I18n.t('common_attr.fee_stan')}"
    %span.value= label_tag 'fee_standard_text','',:class=>"normal fee_standard_text" 
    =f.hidden_field :st_amount,:class=>'fee_standard'
  .form_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= ts "currency_id","Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" 
  .form_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" 
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= f.label f.object.apply_amount || 0,:class=>"doc_apply_amount normal number" 
:javascript
  //when change region type trigger change:region_select event
  console.log('being bund region type select change...');
  $(".region_type_select").live("change",function(e){
    console.log(e);
    console.log('control trigger region select change');
    //alert
    $(this).closest('fieldset').trigger("change:region_type");
  });
  //when travel days change , trigger change:travels_days
  $(".travel_days").live("change",function(){
    var num=parseFloat($(this).val());
    $(this).val(!isNaN(num) ? num.toFixed(2) : 0.0);
    $(this).closest('fieldset').trigger("change:travel_days");
  });
