<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%= f.text_field :place,:class=>"normal" %>
	</td>
	<td>
		<%= f.text_field :meal_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :people_count,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :person_names,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount ,:class=>"normal"%>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "工作餐报销明细", f %> 
	</td>
</tr>