<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%= f.text_field :work_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :start_place,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :end_place,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :start_time,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :end_time,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :note,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除业务交通费报销明细", f %> 
	</td>
</tr>