:javascript
  $(".datetimepicker").datetimepicker();
%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .clearfix
    =f.label "#{I18n.t('common_attr.project')}"
    .input= ts "project_id","Project",:text=>f.object.project.to_s,:value=>f.object.project_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.start_place')}"
    .input= f.text_field :start_place,:class=>"normal" 
  .clearfix
    =f.label "#{I18n.t('common_attr.end_place')}"
    .input= f.text_field :end_place,:class=>"normal" 
  .clearfix
    =f.label "#{I18n.t('common_attr.start_time')}"
    -start_time_string = f.object.start_time && f.object.start_time.to_s
    .input= f.text_field :start_time,:class=>"datetimepicker middle",:value => start_time_string 
  .clearfix
    =f.label "#{I18n.t('common_attr.end_time')}"
    - end_time_string = f.object.end_time && f.object.end_time.to_s 
    .input= f.text_field :end_time,:class=>"datetimepicker middle",:value => end_time_string 
  .clearfix
    =f.label "#{I18n.t('common_attr.reason')}"
    .input= f.text_field :reason,:class=>"xlarge" 
  .clearfix
    =f.label "#{I18n.t('common_attr.currency')}"
    .input= ts "currency_id","Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.rate')}"
    .input= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.ori_amount')}"
    .input= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.apply_amount')}"
    .input
      %span.uneditable-input.doc_apply_amount.number= f.object.apply_amount || 0
