<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>  
		<%= f.text_field :start_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :end_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :start_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :end_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"normal" %>  
	</td>
	<td>
		<%= f.select(:transportation_id,  Transportation.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除交通费报销明细", f %> 
	</td>
</tr>