<tr class="fields" fee_code="0601">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%= f.select :is_sunday, RdExtraWorkMeal::ENUMS_IS_SUNDAY,{},{:class=>"normal is_sunday"} %>
	</td>
	<td>
		<%- start_time_string = f.object.start_time && f.object.start_time.to_s -%>
		<%= f.text_field :start_time,:class=>"datetimepicker middle ew_b_time",:value => start_time_string %>  
	</td>
	<td>
		<%- end_time_string = f.object.end_time && f.object.end_time.to_s -%>
		<%= f.text_field :end_time,:class=>"datetimepicker middle ew_e_time",:value => end_time_string %>  
	</td>
	<td> 
		<%= f.text_field :reason,:class=>"xlarge" %>  
	</td>
	<td>
		<%= f.text_field :st_amount,:class=>"normal extra_st" %>
	</td>
	<td>
		<div class="reference">
			<%- currency = f.object.currency==nil ? Currency.find_by_code('RMB') : f.object.currency%>
			<%= f.hidden_field :currency_id,{:value=>currency.id,:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>  
	</td>
	<td>
		<%= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %>  
	</td>
	<td>  
		<%= f.text_field :apply_amount,:class=>"doc_apply_amount normal number" %>  
	</td>
	<td> 
		<%= f.text_field :hr_amount,:class=>"doc_HR_amount normal number" %>  
	</td>
	<td>  
		<%= f.text_field :fi_amount,:class=>"doc_FI_amount normal number" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>
