%fieldset
  %legend
    = f.hidden_field(:_destroy,:class=>'destroy_mark') 
    = hidden_field_tag :fee_type,f.object.class.name
    = link_to_remove 
  %span.sequence
  .clearfix
    =f.label "#{I18n.t('common_attr.travel_days')}"
    .input= f.text_field :days,:class=>"normal travel_days number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.region_type')}"
    .input= f.select :region_type_id, RegionType.all.collect{|rt|[rt.name,rt.id]},{},{:class=>"normal region_type_select "} 
  .clearfix
    =f.label "#{I18n.t('common_attr.travel_place')}"
    .input= ts "region_id","Region",:text=>f.object.region.to_s,:value=>f.object.region_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.other_place')}"
    .input= f.text_field :custom_place,:class=>"normal" 
  .clearfix
    =f.label "#{I18n.t('common_attr.reason')}"
    .input= f.text_field :reason,:class=>"xlarge" 
  .clearfix
    =f.label "#{I18n.t('common_attr.fee_stan')}"
    .input
      %span.uneditable-input.fee_standard_text 
    =f.hidden_field :st_amount,:class=>'fee_standard'
  .clearfix
    =f.label "#{I18n.t('common_attr.currency')}"
    .input= ts "currency_id","Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.rate')}"
    .input= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.ori_amount')}"
    .input= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.apply_amount')}"
    .input
      %span.uneditable-input.doc_apply_amount.number= f.object.apply_amount || 0


