%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = hidden_field_tag :fee_type,f.object.class.name
    = link_to_remove 
  %span.sequence
  .clearfix
    =f.label "#{I18n.t('common_attr.is_sunday')}"
    .input= f.select :is_sunday, RdExtraWorkMeal::ENUMS_IS_SUNDAY,{},{:class=>"normal is_sunday"} 
  .clearfix
    =f.label "#{I18n.t('common_attr.start_time')}"
    - start_time_string = f.object.start_time && f.object.start_time.to_s 
    .input= f.text_field :start_time,:class=>"datetimepicker middle start_time",:value => start_time_string 
  .clearfix
    =f.label "#{I18n.t('common_attr.end_time')}"
    - end_time_string = f.object.end_time && f.object.end_time.to_s 
    .input= f.text_field :end_time,:class=>"datetimepicker middle end_time",:value => end_time_string 
  .clearfix
    =f.label "#{I18n.t('common_attr.reason')}"
    .input= f.text_field :reason,:class=>"xlarge" 
  .clearfix
    =f.label "#{I18n.t('common_attr.extra_work_stan')}"
    .input
      %span.uneditable-input.fee_standard_text 
    =f.hidden_field :st_amount,:class=>'fee_standard'
  .clearfix
    =f.label "#{I18n.t('common_attr.currency')}"
    .input= ts "currency_id","Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.rate')}"
    .input= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" 
  .clearfix
    =f.label "#{I18n.t('common_attr.ori_amount')}"
    .input= f.text_field :ori_amount,:class=>"normal doc_ori_amount number"  
  .clearfix
    =f.label "#{I18n.t('common_attr.apply_amount')}"
    .input= f.label f.object.apply_amount || 0,:class=>"doc_apply_amount normal number" 
:javascript
  $(".is_sunday,.start_time,.end_time").live("change",function(){
    var container = $(this).closest('fieldset');
    var is_sunday = container.find('.is_sunday').val()=='0';
    var start_time = new Date(container.find('.start_time').val());
    var end_time = new Date(container.find('.end_time').val());
    if(!isNaN(start_time.getTime()) && !isNaN(end_time.getTime()))
    {
      $(this).closest('fieldset').trigger('change:rd_extra_fee_standard',{is_sunday:is_sunday,start_time:start_time,end_time:end_time});
    }
  });
