<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%= f.select :is_sunday, RdExtraWorkCar::ENUMS_IS_SUNDAY,{},{:class=>"normal"} %>
	</td>
	<td>
		<%= f.text_field :start_place,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :end_place,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :start_time,:class=>"datetimepicker middle" %>  
	</td>
	<td>
		<%= f.text_field :end_time,:class=>"datetimepicker middle" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"large-x" %>  
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :currency_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",f.object.currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.text_field :rate,:class=>"xsmall doc_rate number" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"doc_apply_amount normal number" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"doc_HR_amount normal number" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"doc_FI_amount normal number" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除", f %> 
	</td>
</tr>