%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.start_time')}"
    %span.value= f.text_field :start_date,:class=>"datepicker normal" 
  .form_field
    %span.label= "#{I18n.t('common_attr.end_time')}"
    %span.value= f.text_field :end_date,:class=>"datepicker normal" 
  .form_field
    %span.label= "#{I18n.t('common_attr.lodging_days')}"
    %span.value= f.text_field :days,:class=>"normal number"  
  .form_field
    %span.label= "#{I18n.t('common_attr.region_type')}"
    %span.value= f.select :region_type_id, RegionType.all.collect{|rt|[rt.name,rt.id]},{},{:class=>"normal region_type_select "} 
  .form_field
    %span.label= "#{I18n.t('common_attr.city')}"
    %span.value= reference_select "region_id","Region",f.object.region.to_s 
  .form_field
    %span.label= "#{I18n.t('common_attr.other_place')}"
    %span.value= f.text_field :custom_place,:class=>"normal"  
  .form_field
    %span.label= "#{I18n.t('common_attr.fee_stan')}"
    %span.value= f.text_field :st_amount,:class=>"normal fee_standard" 
  .form_field
    %span.label= "#{I18n.t('common_attr.people_count')}"
    %span.value= f.text_field :people_count,:class=>"xsmall"  
  .form_field
    %span.label= "#{I18n.t('common_attr.live_together_person')}"
    %span.value= f.text_field :person_names,:class=>"normal" 
  .form_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= reference_select "currency_id","Currency",f.object.currency.to_s 
  .form_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number"  
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= f.text_field :ori_amount,:class=>"normal doc_ori_amount number"  
  .form_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= f.text_field :apply_amount,:class=>"doc_apply_amount normal number"  
  .form_field
    %span.label= "#{I18n.t('common_attr.hr_amount')}"
    %span.value= f.text_field :hr_amount,:class=>"doc_HR_amount normal number"  
  .form_field
    %span.label= "#{I18n.t('common_attr.fi_amount')}"
    %span.value= f.text_field :fi_amount,:class=>"doc_FI_amount normal number"  
