<fieldset>
  <legend>
    <span>序号<%= f.object.sequence%>    </span>
    <%= f.hidden_field(:_destroy) %>
    <%= link_to_remove %>
  </legend>
  <div class="form_field">
	  <span class="label"><%= "#{I18n.t('common_attr.is_sunday')}"%></span>
    <span class="value"><%= f.select :is_sunday, RdExtraWorkMeal::ENUMS_IS_SUNDAY,{},{:class=>"normal is_sunday"} %></span>
  </div>
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.start_time')}"%>*</span>
    <span class="value"><%- start_time_string = f.object.start_time && f.object.start_time.to_s -%>
    <%= f.text_field :start_time,:class=>"datetimepicker middle ew_b_time",:value => start_time_string %></span>
  </div>  
  <div class="form_field">
	  <span class="label"><%= "#{I18n.t('common_attr.end_time')}"%>*</span>
    <span class="value"><%- end_time_string = f.object.end_time && f.object.end_time.to_s -%>
    <%= f.text_field :end_time,:class=>"datetimepicker middle ew_e_time",:value => end_time_string %></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.reason')}"%>*</span>
    <span class="value"><%= f.text_field :reason,:class=>"xlarge" %></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.extra_work_stan')}"%></span>
    <span class="value"><%= f.text_field :st_amount,:class=>"normal extra_st" %></span>
  </div>
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.currency')}"%>*</span>
    <span class="value"><div class="reference">
			<%- currency = f.object.currency==nil ? Currency.find_by_code('RMB') : f.object.currency%>
			<%= f.hidden_field :currency_id,{:value=>currency.id,:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
    </div></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.rate')}"%>*</span>
    <span class="value"><%= f.text_field :rate,:value=> f.object.rate ? f.object.rate : default_rate,:class=>"xsmall doc_rate number" %></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.apply_amount')}"%>*</span>
    <span class="value"><%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %> </span>
  </div> 
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.ori_amount')}"%></span>
    <span class="value"><%= f.text_field :apply_amount,:class=>"doc_apply_amount normal number" %></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.hr_amount')}"%></span>
    <span class="value"><%= f.text_field :hr_amount,:class=>"doc_HR_amount normal number" %></span>
  </div>  
  <div class="form_field">
		<span class="label"><%= "#{I18n.t('common_attr.fi_amount')}"%></span>
    <span class="value"><%= f.text_field :fi_amount,:class=>"doc_FI_amount normal number" %> </span>
  </div> 
</fieldset>
