<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>  
		<%= f.text_field :start_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :end_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		<%= f.text_field :start_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :end_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"normal" %>  
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :transportation_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "transportation_info",f.object.transportation.to_s,:class=>"ref" %>
			<a href="#" class-data="Transportation"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除", f %> 
	</td>
</tr>