<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%- start_time_string = f.object.start_date && f.object.start_date.to_s -%>
		<%= f.text_field :start_date,:class=>"datetimepicker middle",:value => start_time_string %>  
	</td>
	<td>
		<%- end_time_string = f.object.end_date && f.object.end_date.to_s -%>
		<%= f.text_field :end_date,:class=>"datetimepicker middle",:value => end_time_string %>  
	</td>
	<td>
		<%= f.text_field :start_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :end_position,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :reason,:class=>"xlarge" %>  
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :transportation_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "transportation_info",f.object.transportation.to_s,:class=>"ref" %>
			<a href="#" class-data="Transportation"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :currency_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",f.object.currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>
	</td>
	<td>
		<%= f.text_field :rate,:class=>"xsmall doc_rate number" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal doc_ori_amount number" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"doc_apply_amount normal number" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"doc_HR_amount normal number" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"doc_FI_amount normal number" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>