%fieldset
  %span.sequence
  .show_field
    %span.label= "#{I18n.t('common_attr.is_sunday')}"
    %span.value= d_item.is_sunday
  .show_field
    %span.label= "#{I18n.t('common_attr.start_time')}"
    - start_time_string = d_item.start_time && d_item.start_time.to_s 
    %span.value= d_item.start_time
  .show_field
    %span.label= "#{I18n.t('common_attr.end_time')}"
    - end_time_string = d_item.end_time && d_item.end_time.to_s 
    %span.value= d_item.end_time
  .show_field
    %span.label= "#{I18n.t('common_attr.reason')}"
    %span.value= d_item.reason
  .show_field
    %span.label= "#{I18n.t('common_attr.extra_work_stan')}"
    %span.value= d_item.st_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= d_item.currency.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= d_item.rate
  .show_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= d_item.ori_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= d_item.apply_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.hr_amount')}"
    %span.value= d_item.hr_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.fi_amount')}"
    %span.value= d_item.fi_amount
