<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<%= f.text_field :days,:class=>"normal" %>  
	</td>
	<td>
		<%= f.select(:region_id,  Region.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</td>
	<td>
		<%= f.text_field :lodging_date,:class=>"datepicker normal" %>  
	</td>
	<td>
		//todo 这里按照一定的规则带出来 
	</td>
	<td>
		<%= f.text_field :people_count,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :person_names,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :apply_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除住宿费报销明细", f %> 
	</td>
</tr>