%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.afford_dep')}" 
    %span.value=ts "dep_id","Dep",:text=>f.object.dep.to_s,:value=>f.object.dep_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.project')}"
    %span.value=ts "project_id","Project",:text=>f.object.project.to_s ,:value=>f.object.project_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.fee')}"
    %span.value=ts "fee_id","Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.people_count')}"
    %span.value= f.text_field :people_count,:class=>"normal" 
  .form_field
    %span.label= "#{I18n.t('common_attr.fee_span')}"
    %span.value= f.text_field :fee_time_span,:class=>"normal" 
  =f.hidden_field :rate,:class=>'doc_rate'
  .form_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= f.text_field :ori_amount,:class=>"normal doc_ori_amount" 
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= f.label f.object.apply_amount || 0 ,:class=>"doc_apply_amount normal number"
