%fieldset
  %span.sequence
  .show_field
    %span.label= "#{I18n.t('common_attr.start_time')}"
    %span.value= d_item.start_date
  .show_field
    %span.label= "#{I18n.t('common_attr.end_time')}"
    %span.value= d_item.end_date
  .show_field
    %span.label= "#{I18n.t('common_attr.lodging_days')}"
    %span.value= d_item.days
  .show_field
    %span.label= "#{I18n.t('common_attr.region_type')}"
    %span.value= d_item.region_type
  .show_field
    %span.label= "#{I18n.t('common_attr.city')}"
    %span.value= d_item.region.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.other_place')}"
    %span.value= d_item.custom_place
  .show_field
    %span.label= "#{I18n.t('common_attr.fee_stan')}"
    %span.value= d_item.st_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.people_count')}"
    %span.value= d_item.people_count
  .show_field
    %span.label= "#{I18n.t('common_attr.live_together_person')}"
    %span.value= d_item.person_names
  .show_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= d_item.currency.to_s
  .show_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= d_item.rate
  .show_field
    %span.label= "#{I18n.t('common_attr.ori_amount')}"
    %span.value= d_item.ori_amount
  .show_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= d_item.apply_amount

