%h5
  交通费用明细
  %span detail_doc_items.sum {|dd| dd.fi_amount}
-for item in detail_doc_items
  .doc_detail_item
    .show_item
      %span.item_label= I18n.t('common_attr.afford_dep')*
      %span.item_value= item.afford_dep 
    .show_item
      %span.item_label= I18n.t('common_attr.project')
      %span.item_value= item.project 
    .show_item
      %span.item_label= I18n.t('common_attr.start_place')
      %span.item_value= item.start_place 
    .show_item
      %span.item_label= I18n.t('common_attr.end_place')
      %span.item_value= item.end_place 
    .show_item
      %span.item_label= I18n.t('common_attr.start_time')}"
      %span.item_value= item.start_time 
    .show_item
      %span.item_label= I18n.t('common_attr.end_time')}"
      %span.item_value= item.end_time 
    .show_item
      %span.item_label= I18n.t('common_attr.reason')}"
      %span.item_value= item.reason 
    .show_item
      %span.item_label= I18n.t('common_attr.currency')}"
      %span.item_value= item.currency 
    .show_item
      %span.item_label= I18n.t('common_attr.rate')}"*
      %span.item_value= item.rate 
    .show_item
      %span.item_label= I18n.t('common_attr.apply_amount')}"*
      %span.item_value= item.apply_amount  
    .show_item
      %span.item_label= I18n.t('common_attr.ori_amount')}"
      %span.item_value= item.ori_amount  
