%fieldset
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .clearfix
    =f.label "#{I18n.t('common_attr.project')}"
    .input=ts "project_id","Project",:text=>f.object.project.to_s ,:value=>f.object.project_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.fee')}"
    .input=ts "fee_id","Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id,:f=>f
  .clearfix
    =f.label "#{I18n.t('common_attr.people_count')}"
    .input= f.text_field :people_count,:class=>"normal" 
  .clearfix
    =f.label "#{I18n.t('common_attr.fee_span')}"
    .input= f.text_field :fee_time_span,:class=>"normal" 
  =f.hidden_field :rate,:class=>'doc_rate'
  .clearfix
    =f.label "#{I18n.t('common_attr.ori_amount')}"
    .input= f.text_field :ori_amount,:class=>"normal doc_ori_amount" 
  .clearfix
    =f.label "#{I18n.t('common_attr.apply_amount')}"
    .input= f.label f.object.apply_amount || 0 ,:class=>"doc_apply_amount normal number"
