<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>  
		<%= f.text_field :days,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.select(:region_id,  Region.all.collect {|s| [ s.name, s.id ] },{:include_blank => '无'},{:class=>"basic_input"})%>
	</td>
	<td>  
		<%= f.text_field :reason,:class=>"normal" %>  
	</td>
	<td>
	</td>
	<td>  
		<%= f.text_field :other_fee,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :other_fee_description,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :apply_amount,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :hr_amount,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :fi_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除差旅费报销明细", f %> 
	</td>
</tr>