<div class="fields">
	<p>  
		<%= f.label :sequence, "序号" %><br />  
		<%= f.text_field :sequence %>  
	</p> 
	<p>  
		<%= f.label :settlement_id, "结算方式" %><br />
		<%= f.select(:settlement_id,  Settlement.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p> 
	<p>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "remove", f %> 
	</p>
</div>