%fieldset.reciver
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.settlement')}"
    %span.value= reference_select "settlement_id","Settlement",:text=>f.object.settlement.to_s,:value=>f.object.settlement_id,:f=>f
  .form_field
    %span.label=@doc.doc_type==2 ?  "#{I18n.t('common_attr.rec_company')}*" : "#{I18n.t('common_attr.rec_person')}*"
    %span.value
      -if @doc.doc_type==2 
        %span.value= reference_select "supplier_id","Supplier",:text=>f.object.supplier.to_s,:value=>f.object.supplier_id,:f=>f
      -else 
        %span.value=f.text_field :company,:class=> "normal"   
  .form_field
    %span.label= "#{I18n.t('common_attr.bank')}"
    %span.value= f.text_field :bank,:class => "large bank" 
  .form_field
    %span.label= "#{I18n.t('common_attr.bank_no')}"
    %span.value= f.text_field :bank_no ,:class=>"large bank_no"
  .form_field
    %span.label= "#{I18n.t('common_attr.amount')}"
    %span.value= f.text_field :amount,:class=>"normal doc_ori_amount" 
  <!--riem need the hr amount and finance amount-->
  -if [9,11,13].include? 2
    .form_field
      %span.label= "#{I18n.t('common_attr.hr_amount')}"  
      %span.value= f.text_field :hr_amount,:class=>"normal number doc_HR_amount" 
    .form_field
      %span.label= "#{I18n.t('common_attr.fi_amount')}"    
      %span.value= f.text_field :fi_amount,:class=>"normal number doc_FI_amount" 
