<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td> 
	<% if @doc_head.doc_type>=9 %>
	<td>
		<%= f.select :direction, Reciver::ENUMS_DIRECTION,{},{:class=>"input1 "} %>
	</td>
	<% else %>
		<%= f.hidden_field :direction,:value=>@doc_head.doc_type<=2 ? 0 : 1 %>
	<% end %>
	<td>
		<div class="reference">
			<%= f.hidden_field :settlement_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "settlement_info",f.object.settlement.to_s,:class=>"ref" %>
			<a href="#" class-data="Settlement"><span class="reference"></span></a>			
		</div>
	</td>
	<td>  
		<%= f.text_field :company,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank_no ,:class=>"normal"%>  
	</td>
	<td>  
		<%= f.text_field :amount,:class=>"normal" %>  
	</td>	
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除", f %> 
	</td>
</tr>