<tr class="fields reciver">
	<td>  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td> 
	<% if @doc_head.doc_type>=9 %>
	<td>
		<%= f.select :direction, Reciver::ENUMS_DIRECTION,{},{:class=>"input1 "} %>
	</td>
	<% else %>
		<%= f.hidden_field :direction,:value=>@doc_head.doc_type<=2 ? 0 : 1 %>
	<% end %>
	<td>
		<div class="reference">
			<%= f.hidden_field :settlement_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "settlement_info",f.object.settlement.to_s,:class=>"ref" %>
			<a href="#" class-data="Settlement"><span class="reference"></span></a>			
		</div>
	</td>
	<td>  
		<%= f.text_field :company,:class=> @doc_head.doc_type==2 ? "large" : "normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank,:class=>@doc_head.doc_type==2 ? "large" : "normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank_no ,:class=>"large"%>  
	</td>
	<td>  
		<%= f.text_field :amount,:class=>"normal doc_ori_amount" %>  
	</td>
	<!--riem need the hr amount and finance amount-->
	<% if [9,11,13].include? @doc_head.doc_type%>
	<td>  
		<%= f.text_field :hr_amount,:class=>"normal number doc_HR_amount" %>  
	</td>
	<td>  
		<%= f.text_field :fi_amount,:class=>"normal number doc_FI_amount" %>  
	</td>	
	<% end %>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除", f %> 
	</td>
</tr>