%fieldset.reciver
  %span.sequence
  .show_field
    %span.label= "#{I18n.t('common_attr.settlement')}"
    %span.value= d_item.settlement.to_s
  .show_field
    %span.label
      -if doc.doc_type==2
        = "#{I18n.t('common_attr.rec_company')}*"
      -else
        ="#{I18n.t('common_attr.rec_person')}*"
    %span.value
      -if doc.doc_type==2 
        = d_item.supplier.to_s
      -else 
        =d_item.company
  .show_field
    %span.label= "#{I18n.t('common_attr.bank')}"
    %span.value= d_item.bank
  .show_field
    %span.label= "#{I18n.t('common_attr.bank_no')}"
    %span.value= d_item.bank_no
  .show_field
    %span.label= "#{I18n.t('common_attr.amount')}"
    %span.value= d_item.amount
  <!--riem need the hr amount and finance amount-->
  -if [9,11,13].include? 2
    .show_field
      %span.label= "#{I18n.t('common_attr.hr_amount')}"  
      %span.value= d_item.hr_amount
    .show_field
      %span.label= "#{I18n.t('common_attr.fi_amount')}"    
      %span.value= d_item.fi_amount
