%fieldset
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_date')}"
    %span.value= d_item.apply_date
  .form_field
    %span.label= "#{I18n.t('common_attr.afford_dep')}"
    %span.value= d_item.dep.to_s
  .form_field
    %span.label= "#{I18n.t('common_attr.project')}"
    %span.value= d_item.project.to_s
  .form_field
    %span.label= "#{I18n.t('activerecord.attributes.doc_head.rec_notice_details.content')}"
    %span.value= d_item.description
  .form_field
    %span.label= "#{I18n.t('common_attr.currency')}"
    %span.value= d_item.currency.to_s
  .form_field
    %span.label= "#{I18n.t('common_attr.rate')}"
    %span.value= d_item.rate
  .form_field
    %span.label= "#{I18n.t('common_attr.apply_amount')}"
    %span.value= d_item.ori_amount
  .form_field
    %span.label= "#{I18n.t('activerecord.attributes.doc_head.rec_notice_details.amount')}"
    %span.value= d_item.amount
