<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td> 
	<td>
		<%= f.text_field :apply_date,:class=>"datepicker normal" %>
	</td>
	<td>
		<%= f.select :dep_id,Dep.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"}%>
	</td>
	<td>
		<%= f.select :project_id,Project.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"}%>
	</td>
	<td>
		<%= f.text_field :description,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.select :currency_id ,Currency.all.collect{|c|[c.name,c.id]},{},{:class=>"basic_input"}%>  
	</td>
	<td>
		<%= f.text_field :rate,:class=>"normal" %>  
	</td>
	<td>
		<%= f.text_field :ori_amount,:class=>"normal" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除明细", f %> 
	</td>
</tr>
