<tr class="fields">
	<td>  
		<%= f.text_field :sequence,:class=>"small" %>  
	</td> 
	<td>  
		<%= f.select(:settlement_id,  Settlement.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</td>
	<td>  
		<%= f.text_field :company,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank,:class=>"normal" %>  
	</td>
	<td>  
		<%= f.text_field :bank_no ,:class=>"normal"%>  
	</td>
	<td>  
		<%= f.text_field :amount,:class=>"normal" %>  
	</td>	
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除收款人", f %> 
	</td>
</tr>