<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.name')}" %>
		<%= f.text_field :name,:class=>"input1" %>  
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.account_id')}" %>
		<div class="reference">
			<%= f.hidden_field :account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "account_info",detail_doc.account.to_s,:class=>"ref large" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.amount')}" %>
		<%= f.text_field :amount,:class=>"input1" %>  
	</div>
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.rate')}" %>
		<%= f.text_field :rate,:class=>"input1" %>  
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.redeem_date')}" %>
		<%= f.text_field :clear_date,:class=>"datepicker input1"  %>  
	</div>
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.clear_date')}" %>
		<%= f.text_field :redeem_date,:class=>"datepicker input1"  %>  
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.description')}"%>
		<%= f.text_area :description,:class=>"input2" %> 
	</div>
</div>