	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.name')}" %></span>
		<span class="value"><%= f.text_field :name,:class=>"input1" %></span>  
	</div>
  <br/>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.account_id')}" %></span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :account_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "account_info",detail_doc.account.to_s,:class=>"ref large" %>
			<a href="#" class-data="Account"><span class="reference"></span></a>			
		</div></span>
  </div><br/>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.amount')}" %></span>
		<span class="value"><%= f.text_field :amount,:class=>"input1" %></span>  
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.rate')}" %></span>
		<span class="value"><%= f.text_field :rate,:class=>"input1" %></span>  
  </div><br/>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.redeem_date')}" %></span>
		<span class="value"><%= f.text_field :clear_date,:class=>"datepicker input1"  %></span>  
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.clear_date')}" %></span>
		<span class="value"><%= f.text_field :redeem_date,:class=>"datepicker input1"  %></span>  
  </div><br/>
	<div class="form_field col-sp2">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.redeem_finance_product.description')}"%></span>
		<span class="value"><%= f.text_area :description,:class=>"input2" %></span> 
	</div>
