.show_field
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.name')}" 
  %span.value= d_item.name
%br
.show_field.col-sp2
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.account_id')}" 
  %span.value= d_item.account.to_s
%br
.show_field
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.amount')}" 
  %span.value= d_item.amount
.show_field
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.rate')}" 
  %span.value= d_item.rate
%br
.show_field
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.redeem_date')}" 
  %span.value= d_item.clear_date
.show_field
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.clear_date')}" 
  %span.value= d_item.redeem_date
%br
.show_field.col-sp2
  %span.label=  "#{I18n.t('activerecord.attributes.redeem_finance_product.description')}"
  %span.value= d_item.description
