<div class="fields">
	<div class="field">
		<%= f.label "理财产品名称",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :name,:class=>"basic_input" %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "赎回理财产品账户",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<div class="reference">
					<%= f.hidden_field :account_id,{:class=>"ref_hidden_field"}%>
					<%= text_field_tag "account_info",detail_doc.account.to_s,:class=>"ref" %>
					<a href="#" class-data="Account"><span class="reference"></span></a>			
				</div>
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "理财产品利率",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :rate,:class=>"basic_input" %> 
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "申请赎回日期",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :clear_date,:class=>"datepicker basic_input"  %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "预计赎回日期",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :redeem_date,:class=>"datepicker basic_input"  %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "申请赎回原因",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_area :description,:class=>"basic_input" %>
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
	<div class="field">
		<%= f.label "申请金额",:class=>"input_label" %>
		<div class="input_area">
			<p class="input">
				<%= f.text_field :amount,:class=>"basic_input" %>  
			</p>
			<p class="tip"></p>
		</div>
		<span class="error_message"></span>    
	  </div>
</div>