<tr class="fields">
	<td>
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</td>
	<td>
		<div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",f.object.dep.to_s,:class=>"ref middle" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</td> 
	<td>
		<div class="reference">
			<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "project_info",f.object.project.to_s,:class=>"ref middle" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
		</div>
	</td>
	<% if @doc_head.doc_type==13 %>
	<td>
		<div class="reference">
			<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "fee_info",f.object.fee.to_s,:class=>"ref" %>
			<a href="#" class-data="Fee"><span class="reference"></span></a>			
		</div>
	</td>
	<% end %>
	<td>
		<%= f.text_field :percent_amount,:value=>0,:class=>"normal percent_amount" %>  
	</td>
	<td>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "#{I18n.t('common_attr.btn_delete')}", f %> 
	</td>
</tr>
