%fieldset.split
  %legend
    = f.hidden_field(:_destroy) 
    = link_to_remove 
  %span.sequence
  .form_field
    %span.label= "#{I18n.t('common_attr.afford_dep')}"  
    %span.value= reference_select "dep_id","Dep",:text=>f.object.dep.to_s,:value=>f.object.dep_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.project')}"
    %span.value= reference_select "project_id","Peoject",:text=>f.object.project.to_s,:value=>f.object.project_id,:f=>f
  -if 13 
    .form_field
      %span.label= "#{I18n.t('common_attr.fee')}"
      %span.value= reference_select "fee_id","Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id,:f=>f
  .form_field
    %span.label= "#{I18n.t('common_attr.split_amount')}"
    %span.value= f.text_field :percent_amount,:value=>f.object.percent_amount||0,:class=>"normal percent_amount" 
