<h3>分摊明细</h3><br/>
<div class="fields">
	<p>  
		<%= f.label :sequence, "序号" %><br />  
		<%= f.text_field :sequence,:class=>"small table_row_sequence" %>  
	</p>
	<p>  
		<%= f.label :dep_id, "部门" %><br />
		<%= f.select(:dep_id,  Dep.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p> 
	<p>  
		<%= f.label :project_id, "项目" %><br />
		<%= f.select(:project_id,  Project.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p>
	<p>  
		<%= f.label :fee_id, "费用类型" %><br />
		<%= f.select(:fee_id,  Fee.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p>
	<p>  
		<%= f.label :percent, "百分比" %><br />  
		<%= f.text_field :percent %>  
	</p>
	<p>
		<%= f.hidden_field(:_destroy) %>
		<%= link_to_remove "删除明细", f %> 
	</p>
</div>