<h3 class="form_title">列表</h3>
<table class="hor-zebra">
  <tr>
    <th>Doc no</th>
    <th>Attach</th>
    <th>Person</th>
    <th>Note</th>
    <th>Apply date</th>
    <th>Dep</th>
    <th>Fee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doc_heads.each do |doc_head| %>
  <tr class="<%= "odd" if doc_head.id%2==0 %>">
    <td><%= doc_head.doc_no %></td>
    <td><%= doc_head.attach %></td>
    <td><%= doc_head.person_id %></td>
    <td><%= doc_head.note %></td>
    <td><%= doc_head.apply_date %></td>
    <td><%= doc_head.dep_id %></td>
    <td><%= doc_head.fee_id %></td>
    <td><%= link_to '查看', doc_head %></td>
    <td><%= link_to '编辑', edit_doc_head_path(doc_head) %></td>
    <td><%= link_to '删除', doc_head, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加 Doc head', new_doc_head_path %>