<h3 class="form_title">列表</h3>
<table class="hor-zebra">
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_configs.each do |system_config| %>
  <tr class="<%= "odd" if system_config.id%2==0 %>">
    <td><%= system_config.key %></td>
    <td><%= system_config.value %></td>
    <td><%= system_config.description %></td>
    <td><%= link_to '查看', system_config %></td>
    <td><%= link_to '编辑', edit_system_config_path(system_config) %></td>
    <td><%= link_to '删除', system_config, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加 System config', new_system_config_path %>