<div class="filter">
	<%= form_tag('/model_search/with',:remote => true) %>
		<span><%= I18n.t "model_search.filter_txt"%>：</span>
		<%= select("filter", "column_name", searchable_columns(@class).map {|c| [@class.human_attribute_name(c.name),c.name] } )%>
		<%= text_field_tag "filter_text"%>
		<!--here is the params to show the staff-->
		<%= hidden_field_tag "class_name",@class.name%>
		<% params.each_key do |p|%>
			<%= hidden_field_tag p,params[p]%>
		<% end %>
		<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
		<%= link_to I18n.t("model_search.filter_btn"),{:href=>"#"},:class=>"submit button2 filter" %>
		<% if params[:addable]%>
			<%= link_to "#{I18n.t('model_search.add_btn')}#{@class.human_name}", eval("new_#{@class.name.underscore}_path"),{:class=>"button2 new_object"}%>
		<% end %>
		<% if params[:confirmable]%>
			<%= link_to I18n.t('model_search.btn_ok'),{:href=>"#"},:class=>"button2 back_to_reference" %>
		<% end %>
		<% if params[:outputable]%>
			<%= link_to_function I18n.t('common_attr.btn_output_txt'),"output_to_txt()",:class=>"button2" %>
		<% end %>
		<% if params[:printable]%>
			<%= link_to_function I18n.t('common_attr.btn_batch_print'),"batch_print()",:class=>"button2" %>
		<% end %>		
		<% if params[:batch_pay]%>
			<%= link_to_function I18n.t('common_attr.btn_batch_pay'),"batch_pay()",:class=>"button2" %>			
		<% end %>
		<% if params[:batch_approve]%>
			<%= link_to_function I18n.t('common_attr.btn_batch_approve'),"batch_approve()",:class=>"button2" %>
			<div id="approve_info">
				<div class="form_title">
					<h3><%= I18n.t('common_attr.write_note')%></h3>
				</div>
				<div class="form_area">
					<div class="form_block">
						<div class="form_field">
							<%= label_tag I18n.t('common_attr.pass')%>
							<%= check_box_tag :is_ok,:class=>"input1" %>
						</div>
					</div>
					<div class="form_block">
						<div class="form_field">
							<%= label_tag I18n.t('common_attr.approve_info')%>
							<%= text_area_tag :comments,nil,:class=>"input2" %>
						</div>
					</div>
					<div class="form_block">
						<div class="form_field">
							<%= link_to_function I18n.t('common_op.btn_ok'),"batch_approve_confirm()",:class=>"button2" %>
							<%= link_to_function I18n.t('common_op.btn_cancel'),"$.unblockUI()",:class=>"button2" %>
							<%= hidden_field_tag :people_id,:value=>current_user.person.id%>
						</div>
					</div>
				</div>
		<% end %>
</div>