<table class="hor-zebra">
  <tr>
	<th>
		<% if params[:multicheck]%>
			<%= check_box_tag "selected_all"%>
		<% end %>
	</th>
	<% display_columns(@class,params[:user_display_columns] ? @class.send(params[:user_display_columns]) : []).each do |c|%>
		<% if !(params[:no_show] and @class.send(params[:no_show]).include? c.name) %>
	    	<th><%= @class.human_attribute_name(c.name)%></th>
		<% end %>
	<% end %>
	<!--here is the custom display columns-->
	<% if @class.respond_to? "custom_display_columns"%>
		<% @class.custom_display_columns.each_key do |key|%>
			<th><%= key%></th>
		<% end %>
	<% end %>
	<% if !params[:bare]%>
		<th></th>
	    <th></th>
	<% end %>
  </tr>

<% @results.each do |result| %>
  <tr>	
		<td>
			<% if params[:checkable]%>
				<%= check_box_tag 'selected', 'yes', params[:values] ? params[:values].split('_').include?(result.id.to_s) : false, :class => 'ref_select'%>
				<!--hidden row store the reference info-->
				<%= hidden_field_tag "hidden_id[#{result.id}]",result.id,{:class=>"hidden_id"} %>
				<%= hidden_field_tag "hidden_display[#{result.id}]",result.to_s,{:class=>"hidden_display"} %>
				<% if result.respond_to? :other_info %>
					<%= hidden_field_tag "hidden_other_info[#{result.id}]",result.other_info,{:class=>"hidden_other_info"} %>
				<% end %>
			<% end %>
		</td>
	
	<% display_columns(@class,params[:user_display_columns] ? @class.send(params[:user_display_columns]) : []).each do |c|%>
		<% if !(params[:no_show] and @class.send(params[:no_show]).include? c.name) %>
			<td><%= truncate(get_display_value(result,c).to_s,:length => 30, :omission => '... ')%></td>
		<% end %>
	<% end %>
	<!--here is the custom display columns-->
	<%= result.id%>
	<% if @class.respond_to? "custom_display_columns"%>
		<% @class.custom_display_columns.each do |key,value|%>
			<td><%= result.send(value)%></td>
		<% end %>
	<% end %>
	<% if params[:lookup]%>
	    <td class="action"><%= link_to I18n.t('model_search.btn_view'), result %></td>
	<% end %>
	<% if params[:deletable]%>
    <td class="action">
      <% if result.respond_to? :can_delete and !result.can_delete %>
        <span></span>
      <% else %>
        <%= link_to I18n.t('model_search.btn_del'), result, :confirm => I18n.t('model_search.delete_confirm'), :method => :delete %>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
