<table class="hor-zebra">
  <tr>
	<th>
		<% if params[:multicheck]%>
			<%= check_box_tag "selected_all"%>
		<% end %>
	</th>
	<% display_columns(@class).each do |c|%>
    <th><%= @class.human_attribute_name(c.name)%></th>
	<% end %>
	<!--here is the custom display columns-->
	<% if @class.respond_to? "custom_display_columns"%>
		<% @class.custom_display_columns.each_key do |key|%>
			<th><%= key%></th>
		<% end %>
	<% end %>
	<% if !params[:bare]%>
		<th></th>
	    <th></th>
	<% end %>
  </tr>

<% @results.each do |result| %>
  <tr>
	
		<td>
			<% if params[:checkable]%>
			<%= check_box_tag 'selected', 'yes', params[:values] ? params[:values].split('_').include?(result.id.to_s) : false, :class => 'ref_select'%>
			<!--hidden row store the reference info-->
			<%= hidden_field_tag "hidden_id[#{result.id}]",result.id,{:class=>"hidden_id"} %>
			<%= hidden_field_tag "hidden_display[#{result.id}]",result.to_s,{:class=>"hidden_display"} %>
			<% end %>
		</td>
	
	<% display_columns(@class).each do |c|%>
		<td><%= truncate(get_display_value(result,c).to_s,:length => 11, :omission => '... ')%></td>
	<% end %>
	<!--here is the custom display columns-->
	<% if @class.respond_to? "custom_display_columns"%>
		<% @class.custom_display_columns.each do |key,value|%>
			<th><%= result.send(value)%></th>
		<% end %>
	<% end %>
	<% if params[:lookup]%>
	    <td class="action"><%= link_to '查看', result %></td>
	<% end %>
	<% if params[:deletable]%>
    	<td class="action"><%= link_to '删除', result, :confirm => '是否真的要删除?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>