<%= form_for(@person,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
		<%= link_to "#{I18n.t('common_op.btn_new')}", new_person_path,:class=>"button2" %>
  <%= link_to "#{I18n.t('common_op.btn_save')}",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to "#{I18n.t('common_op.btn_return')}", people_path,:class=>"button2" %>
</div>
<div class="form_area">
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.name')}#{mark_required(f.object,:name)}" %></span>			
		<span class="value"><%= f.text_field :name,:class=>"input1 " %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.code')}#{mark_required(f.object,:code)}" %></span>
		<span class="value"><%= f.text_field :code,:class=>"input1 " %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.gender')}#{mark_required(f.object,:gender)}" %></span>			
		<span class="value"><%= f.select :gender, Person::ENUMS_GENDER,{},{:class=>"basic_input "} %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.person_type_id')}#{mark_required(f.object,:person_type)}" %></span>
		<span class="value"><%= collection_select(:person, :person_type_id, PersonType.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input"})%><%= mark_required(@person, :person_type_id) %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.dep_id')}#{mark_required(f.object,:dep_id)}" %></span>			
		<span class="value"><div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",@person.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.duty_id')}#{mark_required(f.object,:duty_id)}" %></span>
		<span class="value"><div class="reference">
			<%= f.hidden_field :duty_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "duty_info",@person.duty.to_s,:class=>"ref" %>
			<a href="#" class-data="Duty"><span class="reference"></span></a>			
		</div></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.phone')}#{mark_required(f.object,:phone)}" %></span>
		<span class="value"><%= f.text_field :phone,:class=>"input1 number" %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.role_id')}#{mark_required(f.object,:role_id)}" %></span>			
		<span class="value"><div class="reference">
			<%= f.hidden_field :role_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "role_info",@person.role.to_s,:class=>"ref" %>
			<a href="#" class-data="Role"><span class="reference"></span></a>			
		</div></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.e_mail')}#{mark_required(f.object,:e_mail)}" %></span>			
		<span class="value"><%= f.text_field :e_mail,:class=>"input1 " %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.ID_card')}#{mark_required(f.object,:ID_card)}" %></span>
		<span class="value"><%= f.text_field :ID_card,:class=>"input1 number" %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.bank_no')}#{mark_required(f.object,:bank_no)}" %></span>			
		<span class="value"><%= f.text_field :bank_no,:class=>"input1 number" %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.bank')}#{mark_required(f.object,:bank)}" %></span>
		<span class="value"><%= f.text_field :bank,:class=>"input1 " %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.end_date')}#{mark_required(f.object,:end_date)}" %></span>			
		<span class="value"><%= f.text_field :end_date,:class=>"datepicker input1 " %></span>
	</div>
	<div class="form_field">
		<span class="label"><%= f.label "#{I18n.t('activerecord.attributes.person.credit_limit')}#{mark_required(f.object,:credit_limit)}" %></span>
		<span class="value"><%= f.text_field :credit_limit,:class=>"input1 number" %></span>
	</div>
</div>
<% end %>
