<%= form_for(@person,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', people_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "姓名#{mark_required(f.object,:name)}" %>			
		<%= f.text_field :name,:class=>"input1 " %>
	</div>
	<div class="form_field">
		<%= f.label "员工编号#{mark_required(f.object,:code)}" %>
		<%= f.text_field :code,:class=>"input1 " %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "性别#{mark_required(f.object,:gender)}" %>			
		<%= f.select :gender, Person::ENUMS_GENDER,{},{:class=>"basic_input "} %>
	</div>
	<div class="form_field">
		<%= f.label "人员属性#{mark_required(f.object,:person_type)}" %>
		<%= collection_select(:person, :person_type_id, PersonType.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input"})%><%= mark_required(@person, :person_type_id) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "所在部门#{mark_required(f.object,:dep_id)}" %>			
		<div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",@person.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "职务#{mark_required(f.object,:duty_id)}" %>
		<div class="reference">
			<%= f.hidden_field :duty_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "duty_info",@person.duty.to_s,:class=>"ref" %>
			<a href="#" class-data="Duty"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "联系方式#{mark_required(f.object,:phone)}" %>
		<%= f.text_field :phone,:class=>"input1 number" %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "电子邮件#{mark_required(f.object,:e_mail)}" %>			
		<%= f.text_field :e_mail,:class=>"input1 " %>
	</div>
	<div class="form_field">
		<%= f.label "身份证号#{mark_required(f.object,:ID_card)}" %>
		<%= f.text_field :ID_card,:class=>"input1 number" %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "银行帐号#{mark_required(f.object,:bank_no)}" %>			
		<%= f.text_field :bank_no,:class=>"input1 number" %>
	</div>
	<div class="form_field">
		<%= f.label "开户行#{mark_required(f.object,:bank)}" %>
		<%= f.text_field :bank,:class=>"input1 " %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "离职日期#{mark_required(f.object,:end_date)}" %>			
		<%= f.text_field :end_date,:class=>"datepicker input1 " %>
	</div>
	<div class="form_field">
		<%= f.label "信用额度#{mark_required(f.object,:credit_limit)}" %>
		<%= f.text_field :credit_limit,:class=>"input1 number" %>
	</div>
</div>
</div>
<% end %>