<%= form_for(@person,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', people_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "姓名" %>			
		<%= f.text_field :name,:class=>"input1 "+ mark_required(@person, :name) %>
	</div>
	<div class="form_field">
		<%= f.label "员工编号" %>
		<%= f.text_field :code,:class=>"input1 "+ mark_required(@person, :code) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "性别" %>			
		<%= f.select :gender, Person::ENUMS_GENDER,{},{:class=>"basic_input "} %>
	</div>
	<div class="form_field">
		<%= f.label "人员属性" %>
		<%= collection_select(:person, :person_type_id, PersonType.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input"})%><%= mark_required(@person, :person_type_id) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "所在部门" %>			
		<div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",@person.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "职务" %>
		<div class="reference">
			<%= f.hidden_field :duty_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "duty_info",@person.duty.to_s,:class=>"ref" %>
			<a href="#" class-data="Duty"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "直属领导" %>			
		<div class="reference">
			<%= f.hidden_field :boss_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "boss_info",@person.boss.to_s,:class=>"ref" %>
			<a href="#" class-data="Person"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "联系方式" %>
		<%= f.text_field :phone,:class=>"input1 "+ mark_required(@person, :phone) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "电子邮件" %>			
		<%= f.text_field :e_mail,:class=>"input1 "+ mark_required(@person, :e_mail) %>
	</div>
	<div class="form_field">
		<%= f.label "身份证号" %>
		<%= f.text_field :ID_card,:class=>"input1 "+ mark_required(@person, :ID_card) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "银行帐号" %>			
		<%= f.text_field :bank_no,:class=>"input1 "+ mark_required(@person, :bank_no) %>
	</div>
	<div class="form_field">
		<%= f.label "开户行" %>
		<%= f.text_field :bank,:class=>"input1 "+ mark_required(@person, :bank) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "离职日期" %>			
		<%= f.text_field :end_date,:class=>"datepicker input1 "+ mark_required(@person, :end_date) %>
	</div>
	<div class="form_field">
		<%= f.label "信用额度" %>
		<%= f.text_field :credit_limit,:class=>"input1 "+ mark_required(@person, :credit_limit) %>
	</div>
</div>
</div>
<% end %>