<h3 class="form_title">员工列表</h3>
<table class="hor-zebra">
  <tr>
    <th>姓名</th>
    <th>编号</th>
    <th>性别</th>
    <th><%= link_to "部门",:deps%></th>
    <th><%= link_to "职务",:duties%></th>
    <th>直属领导</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class="<%= "odd" if person.id%2==0 %>">
    <td><%= person.name %></td>
    <td><%= person.code %></td>
    <td><%= person.gender_name %></td>
    <td><%= person.dep.name %></td>
    <td><%= person.duty.name %></td>
    <td><%= person.boss==nil ? "":person.boss.name %></td>
    <td><%= link_to '查看', person %></td>
    <td><%= link_to '编辑', edit_person_path(person) %></td>
    <td><%= link_to '删除', person, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加员工', new_person_path %>