<%= jqgrid :docs_to_pay,
		:model=>"DocHead",
		:caption=>"需要付款的单据",
		:multiselect=>true,
		:colModel =>["doc_no",{:name=>"person__name",:label=>"申请人"},
			"apply_date",
				{:name=>"doc_type",:getter=>:doc_type_name,:enum_type=>"DocHead::DOC_TYPES"},
				{:name=>"doc_state",:getter=>:doc_state_name,:enum_type=>"DocHead::Doc_State"},
        {:name=>"updated_at",:label=>"最后更新时间"},
				{:name=>"total_amount",:getter=>:total_amount,:label=>"审批金额"},
				"mark"],
		:height=>450,:width=>800,:where=>"doc_state=2",
		:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){window.location='/doc_heads/'+rowid.toString();}--#)%>
<div class="jqgrid">
	<div class="buttons">
		<a onclick="output_to_txt('#docs_to_pay'); return false;" href="#">
			<img src="/images/icons/page_white_text.png" alt=""/> <%= I18n.t('common_attr.btn_output_txt')%>
		</a>
		<a onclick="batch_print('#docs_to_pay'); return false;" href="#">
			<img src="/images/icons/printer.png" alt=""/><%= I18n.t('common_attr.btn_batch_print')%>
		</a>
		<a onclick="batch_pay('#docs_to_pay'); return false;" href="#" >
			<img src="/images/icons/money_yen.png" alt=""/><%= I18n.t('common_attr.btn_batch_pay')%>
		</a>
		<a onclick="mark('#docs_to_pay');return false;" href="#" class="facebox" >
			<img src="/images/icons/text_signature.png" alt=""/><%= I18n.t('common_attr.btn_mark_doc')%>
		</a>
		<a onclick="unmark('#docs_to_pay');return false;" href="#" class="facebox" >
			<img src="/images/icons/pencil_delete.png" alt=""/><%= I18n.t('common_attr.btn_unmark_doc')%>
		</a>
	</div>	
</div>
<span>注意：标记过的单据的“最后更新时间”会变成标记时间</span>
<div id="mark_the_doc" class="facebox">
	<%= text_field_tag "mark_info"%><br/>
	<div class="buttons">
		<a onclick="mark_docs('#docs_to_pay');return false;" href="#" class="facebox" >
			<img src="/images/icons/tick.png" alt=""/><%= I18n.t('common_op.btn_ok')%>
		</a>
	</div>	
</div>