<h3 class="form_title">职务列表</h3>
<table class="hor-zebra">
  <tr>
    <th>名称</th>
    <th>编码</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @duties.each do |duty| %>
  <tr class="<%= "odd" if duty.id%2==0 %>">
    <td><%= duty.name %></td>
    <td><%= duty.code %></td>
    <td><%= link_to '查看', duty %></td>
    <td><%= link_to '编辑', edit_duty_path(duty) %></td>
    <td><%= link_to '删除', duty, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加职务', new_duty_path %>