.list_item(id="budget_#{budget.id}")
  .show
    %span.list_action_right= link_to image_tag("/images/icons/page_edit.png"),edit_budget_path(budget) ,:remote=>true
    %span.list_action_right= link_to image_tag("/images/icons/cross.png"), budget, :confirm => '是否真的要删除?',:class=>"splash", :method => :delete,:remote=>true
    %span.list_field= budget.year
    %span.list_field= budget.fee.to_s
  .edit
