정산 요청하신 금액이 잘못 되어 수정 후 승인하였습니다 (정산금액 ￥<%= @para["docs_total"]%>위안, 승인금액 ￥<%= @para["docs_approve_total"]%>위안)<br/>
아래의 바로 가기(Doc. Link Icon)를 클릭하면 해당문서로 이동합니다.<br/><br/>

报销金额有误，已调整金额并审批通过。（报销金额￥<%= @para["docs_total"]%>元， 审批金额￥<%= @para["docs_approve_total"]%>元） <br/>
<a href=<%= url_for :controller=>'doc_heads',:action=>'show',:host=>'114.113.150.227',:id=>@para["doc_id"] %>>点击此处(Doc. Link Icon) 进入相应单据。</a><br/><br/>
<div id="click">
	<a href=<%= url_for :controller=>'doc_heads',:action=>'show',:host=>'114.113.150.227',:id=>@para["doc_id"] %>><img src="http://114.113.150.227/images/image003.jpg"></img></a>
</div>
