.list_item(id="currency_#{currency.id}")
  .show
    %span.list_action_right= link_to image_tag("/images/icons/page_edit.png"),edit_currency_path(currency) ,:remote=>true
    %span.list_action_right= link_to image_tag("/images/icons/cross.png"), currency, :confirm => '是否真的要删除?',:class=>"splash", :method => :delete,:remote=>true
    %span.list_field= currency.name
    %span.list_field= currency.code
  .edit
