-form_for currency,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>currency
  =f.hidden_field :id
	.form_field
		%span.label= f.label "#{I18n.t('common_attr.name')}#{mark_required(f.object,:name)}" 			
		%span.value= f.text_field :name,:class=>"input1 " 
	.form_field
		%span.label= f.label "#{I18n.t('common_attr.code')}#{mark_required(f.object,:code)}" 
		%span.value= f.text_field :code,:class=>"input1 " 
	.form_field
		%span.label= f.label "#{I18n.t('activerecord.attributes.currency.default_rate')}#{mark_required(f.object,:name)}" 			
		%span.value= f.text_field :default_rate,:class=>"input1 " 
  =render "basic_setting/fb_actions"
