-form_for(@currency,:remote=>true) do |f|
  .form_title
    %h3= @title
.actions
	<%= link_to "#{I18n.t('common_op.btn_new')}", new_currency_path,:class=>"button2" %>
  <%= link_to "#{I18n.t('common_op.btn_save')}",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to "#{I18n.t('common_op.btn_return')}", currencies_path,:class=>"button2" %>
</div>
%div class="form_area"
	%div class="form_field"
		%span class="label"<%= f.label "#{I18n.t('common_attr.name')}#{mark_required(f.object,:name)}" %></span>			
		%span class="value"<%= f.text_field :name,:class=>"input1 " %></span>
	</div>
	%div class="form_field"
		%span class="label"<%= f.label "#{I18n.t('common_attr.code')}#{mark_required(f.object,:code)}" %></span>
		%span class="value"<%= f.text_field :code,:class=>"input1 " %></span>
	</div>
	%div class="form_field"
		%span class="label"<%= f.label "#{I18n.t('activerecord.attributes.currency.default_rate')}#{mark_required(f.object,:name)}" %></span>			
		%span class="value"<%= f.text_field :default_rate,:class=>"input1 " %></span>
	</div>
</div>
<% end %>
