<%= form_for(@currency,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', currencies_path,:class=>"button2" %>
</div>
<div class="field">
	<%= f.label "名称",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :name,:class=>"basic_input "+ mark_required(@currency, :name) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "编码",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :code,:class=>"basic_input "+ mark_required(@currency, :code) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>

<% end %>