<%= form_for(@currency,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', currencies_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "名称#{mark_required(f.object,:name)}" %>			
		<%= f.text_field :name,:class=>"input1 " %>
	</div>
	<div class="form_field">
		<%= f.label "编码#{mark_required(f.object,:code)}" %>
		<%= f.text_field :code,:class=>"input1 " %>
	</div>
</div>
</div>
<% end %>