.page-header
  %h3 实施活动

%table
  %tr
    %th 工程师
    %th 开始时间
    %th 结束时间
    %th 天数
    %th
    %th
    %th

  - @implement_activities.each do |implement_activity|
    %tr
      %td= implement_activity.engineer
      %td= implement_activity.start_date
      %td= implement_activity.end_date
      %td= implement_activity.days
      %td= link_to 'Show', [@vrv_project,implement_activity]
      %td= link_to 'Edit', edit_vrv_project_implement_activity_path(@vrv_project,implement_activity)
      %td= link_to 'Destroy', [@vrv_project,implement_activity], :confirm => 'Are you sure?', :method => :delete
.actions
  = link_to '添加实施活动', new_vrv_project_implement_activity_path(@vrv_project),:class=>'btn primary'
