<%= form_for(@extra_work_standard,:remote=>true) do |f| %>
%div class="form_title"
	%h3<%= @title%></h3>
</div>
%div class="actions"
	<%= link_to "#{I18n.t('common_op.btn_new')}", new_extra_work_standard_path,:class=>"button2" %>
	<%= link_to "#{I18n.t('common_op.btn_save')}",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to "#{I18n.t('common_op.btn_return')}", extra_work_standards_path,:class=>"button2" %>
</div>
%div class="form_area"
	%div class="form_block"
		%div class="form_field"
			<%= f.label "#{I18n.t('common_attr.fee')}#{mark_required(f.object,:fee)}" %>
			%div class="reference"
				<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "fee_info",@extra_work_standard.fee.to_s,:class=>"ref" %>
				%a href="#" class-data="Fee"%span class="reference"</span></a>			
			</div>
		</div>
		%div class="form_field"
			<%= f.label "#{I18n.t('common_attr.is_sunday')}#{mark_required(f.object,:is_sunday)}" %>	
			<%= f.check_box :is_sunday,:class=>"input1" %>		
		</div>
	</div>
	%div class="form_block"
		%div class="form_field"
			<%= f.label "#{I18n.t('activerecord.attributes.extra_work_standard.late_than_time')}#{mark_required(f.object,:late_than_time)}" %>
			<%= f.time_select :late_than_time,:class=>"input1 " %> 
		</div>
		%div class="form_field"
			<%= f.label "#{I18n.t('activerecord.attributes.extra_work_standard.amount')}#{mark_required(f.object,:amount)}" %>
			<%= f.text_field :amount,:class=>"input1 number" %> 
		</div>
	</div>	
</div>
<% end %>
