-form_for extra_work_standard,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>extra_work_standard
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.fee')}#{mark_required(f.object,:fee)}"
    %span.value= reference_select "fee_id","Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id,:f=>f
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.is_sunday')}#{mark_required(f.object,:is_sunday)}"
    %span.value= f.check_box :is_sunday,:class=>"input1"
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.extra_work_standard.late_than_time')}#{mark_required(f.object,:late_than_time)}"
    %span.value= f.time_select :late_than_time,:class=>"input1 "
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.extra_work_standard.amount')}#{mark_required(f.object,:amount)}"
    %span.value= f.text_field :amount,:class=>"input1 number"
  =render "basic_setting/fb_actions"
