.list_item(id="extra_work_standard_#{extra_work_standard.id}")
  .show
    %span.list_action_right= link_to image_tag("/images/icons/page_edit.png"),edit_extra_work_standard_path(extra_work_standard) ,:remote=>true
    %span.list_action_right= link_to image_tag("/images/icons/cross.png"), extra_work_standard, :confirm => '是否真的要删除?',:class=>"splash", :method => :delete,:remote=>true
    %span.list_field= extra_work_standard.amount
    %span.list_field= extra_work_standard.fee
  .edit
