<%= jqgrid "#{@model_name}__ref",
		:model=>@model_name,
		:multiselect=>@multiselect,
		:height=>320,
    :colModel=>@colModel,
    :where=>@where_str,
		#:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){back_to_the_reference(this);}--#)
		%>
<div class="jqgrid">
	<div class="buttons">
		<a onclick="back_to_the_reference('#<%= "#{@model_name}__ref"%>',false); return false;" href="#">
			<img src="/images/icons/tick.png" alt=""/><%= I18n.t('common_op.btn_ok')%>
		</a>
		<a onclick="back_to_the_reference('#<%= "#{@model_name}__ref"%>',true); return false;" href="#">
			<img src="/images/icons/cross.png" alt=""/><%= I18n.t('common_op.btn_cancel')%>
		</a>
	</div>
</div>
