<%= form_for(@work_flow_info,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="field">
	<%= f.label :doc_head_id,:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :doc_head_id,:class=>"basic_input" %><%= mark_required(@work_flow_info, :doc_head_id) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label :is_ok,:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :is_ok,:class=>"basic_input" %><%= mark_required(@work_flow_info, :is_ok) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label :people_id,:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :people_id,:class=>"basic_input" %><%= mark_required(@work_flow_info, :people_id) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label :comments,:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_area :comments,:class=>"basic_input" %><%= mark_required(@work_flow_info, :comments) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
  <div class="actions">
    <%= f.submit "保存",:class=>"button2" %>
  </div>
<% end %>