<%= form_for @dep,:remote=>true do |f| %>
  <h3 class="form_title"><%= @title%></h3>
  <div class="field">
    <%= f.label "编码",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :code,:class=>"basic_input "+ mark_required(@dep, :code) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"><%= @dep.errors[:code][0]%></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "名称",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :name,:class=>"basic_input "+ mark_required(@dep, :name) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"><%= @dep.errors[:name][0]%></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "所属组织结构",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :version,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"><%= @dep.errors[:version][0]%></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "启用时间",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :start_date,:class=>"datepicker basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "停止使用时间",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :end_date,:class=>"datepicker basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<!--==================================================================-->
  <div class="field">
    <%= f.label "对应U8部门编码",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :u8dep_code,:class=>"basic_input" %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>
  </div>
<!--==================================================================-->
  <div class="field">
  	<%=f.label "上级部门",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:dep, :parent_dep_id, Dep.where("id!=? or ? is NULL",@dep.id,@dep.id), :id, :name, {:include_blank => 'None'},{:class=>"basic_input"})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>	
  </div>
<!--==================================================================-->
  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
