<h3 class="form_title">部门详细信息</h3>
<p id="notice"><%= notice %></p>
<div id="details">
	<!--=========================================-->
	<div class="field">
		<span class="attr">编码:</span>
		<span class="value"><%= @dep.code %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">名称:</span>
		<span class="value"><%= @dep.name %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">所属组织结构:</span>
		<span class="value"><%= @dep.version %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">部门启用时间:</span>
		<span class="value"><%= @dep.start_date.to_date %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">部门停用时间:</span>
		<span class="value"><%= @dep.end_date.to_date %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">对应U8部门编码:</span>
		<span class="value"><%= @dep.u8dep_code %></span>
    </div>
	<!--=========================================-->
	<div class="field">
		<span class="attr">上级部门:</span>
		<span class="value"><%= @parent_dep %></span>
    </div>
</div>
<%= link_to '编辑', edit_dep_path(@dep) %> |
<%= link_to '返回', deps_path %> |
<%= link_to '添加', new_dep_path %>
