<table class="hor-zebra middle border">
  <tr>
    <th>单据号</th>
    <th>单据类型</th>
    <th>报销金额</th>
    <th>冲抵金额</th>
  </tr>
  <% r_docs.each_with_index do |doc,index|%>
    <tr>
      <td><%= link_to doc.doc_no,doc_head_path(doc) %></td>
      <td><%= doc.doc_type_name%></td>
      <td><%= doc.reciver_amount%></td>
      <%= hidden_field_tag "rm[#{index}][doc_id]",doc.id%>
      <td><%= text_field_tag "rm[#{index}][amount]"%></td>
    </tr>
<% end %>
</table>
