!!! 5
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title OES
    = stylesheet_link_tag "product_page",:cache=>"homepage"
  %body
    #wrapper
      #header
        .menu
          %ul
            %li.current= link_to "首页", "#"
            %li= link_to "产品", "#"
            %li= link_to "演示", "#"
            %li= link_to "关于", "#"
      #content
        .intros
          asdfasfd
      #footer
        .copy_right 2010 OES System
