.page-header
  %h3 项目近期变更明细
.activities
  -@activities.each do |act|
    .activity{'class'=>act[:v].event}
      %span= act[:user]
      =act[:event]
      -if act[:v].event!='delete'
        -if act[:current_item].respond_to?(:vrv_project) and act[:v].item_type!='ImplementActivity'
          =link_to "#{act[:current_item].vrv_project.to_s}中的#{I18n.t("activerecord.models.#{act[:current_item].class.name.underscore}")}", (act[:current_item].is_a?(CustomerContact) ? act[:current_item].vrv_project : [act[:current_item].vrv_project,act[:current_item]])
        -else
          =link_to act[:current_item].to_s, act[:current_item]
      -else
        资源名称（已经删除）
      %span.time
        时间:
        =act[:time]
      -if act[:v].event=='destroy'
        .destroyed_item.details
          -act[:current_item].class.column_names.reject{|a|%w(id created_at updated_at vrv_project_id).include? a}.each do |col_name|
            =tb_show_field(act[:current_item],col_name,:label_css=>'span3')
      -if act[:change]
        .changes.details
          -act[:change].each do |col,c|
            .change
              %span.label.notice=I18n.t("activerecord.attributes.#{act[:v].item_type.underscore}.#{col}")
              ="由“#{c[0]}”更新为“#{c[1]}”"
