-form_for fee_standard,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>fee_standard
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.project')}#{mark_required(f.object,:project_id)}" 			
    %span.value= reference_select "project_id","Project",:text=>f.object.project.to_s,:value=>f.object.project_id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.region_type')}#{mark_required(f.object,:region_type_id)}" 
    %span.value= reference_select "region_type_id","RegionType",:text=>f.object.region_type.to_s,:value=>f.object.region_type_id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.models.duty')}#{mark_required(f.object,:duty_id)}" 			
    %span.value= reference_select "duty_id","Duty",:text=>f.object.duty.to_s,:value=>f.object.duty_id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.models.lodging')}#{mark_required(f.object,:lodging_id)}" 
    %span.value= reference_select "lodging_id","Lodging",:text=>f.object.lodging.to_s,:value=>f.object.lodging_id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.models.transportation')}#{mark_required(f.object,:transportation_id)}" 			
    %span.value= reference_select "transportation_id","Transportation",:text=>f.object.transportation.to_s,:value=>f.object.transportation_id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.models.business_type')}#{mark_required(f.object,:business_type_id)}" 
    %span.value= reference_select "business_type_id","BusinessType",:text=>f.object.business_type.to_s,:value=>f.object.business_type_id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.rate')}#{mark_required(f.object,:currency_id)}" 
    %span.value= reference_select "currency_id","Currency",:text=>f.object.currency.to_s,:value=>f.object.currency_id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.fee')}#{mark_required(f.object,:fee)}" 			
    %span.value= reference_select "fee_standard[fee_id]","Fee",:text=>f.object.fee.to_s,:value=>f.object.fee_id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.amount')}#{mark_required(f.object,:amount)}" 			
    %span.value= f.text_field :amount,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.person.person_type_id')}#{mark_required(f.object,:person_type)}" 
    %span.value= collection_select(:fee_standard, :person_type_id, PersonType.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input"})
  =render "basic_setting/fb_actions"
