<%= form_for(@fee_standard,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
	<%= link_to '新增', new_fee_standard_path,:class=>"button2" %>
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', fee_standards_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "项目#{mark_required(f.object,:project_id)}" %>			
		<div class="reference">
			<%= f.hidden_field :project_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "project_info",@fee_standard.project.to_s,:class=>"ref" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "地区级次#{mark_required(f.object,:region_type_id)}" %>
		<div class="reference">
			<%= f.hidden_field :region_type_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "region_type_info",f.object.region_type.to_s,:class=>"ref" %>
			<a href="#" class-data="RegionType"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "职务#{mark_required(f.object,:duty_id)}" %>			
		<div class="reference">
			<%= f.hidden_field :duty_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "duty_info",@fee_standard.duty.to_s,:class=>"ref" %>
			<a href="#" class-data="Duty"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "住宿方式#{mark_required(f.object,:lodging_id)}" %>
		<div class="reference">
			<%= f.hidden_field :lodging_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "lodging_info",f.object.lodging.to_s,:class=>"ref" %>
			<a href="#" class-data="Lodging"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "交通方式#{mark_required(f.object,:transportation_id)}" %>			
		<div class="reference">
			<%= f.hidden_field :transportation_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "transportation_info",@fee_standard.transportation.to_s,:class=>"ref" %>
			<a href="#" class-data="Transportation"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "业务类型#{mark_required(f.object,:business_type_id)}" %>
		<div class="reference">
			<%= f.hidden_field :business_type_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "business_type_info",f.object.business_type.to_s,:class=>"ref" %>
			<a href="#" class-data="BusinessType"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "币种#{mark_required(f.object,:currency_id)}" %>
		<div class="reference">
			<%= f.hidden_field :currency_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "currency_info",f.object.currency.to_s,:class=>"ref" %>
			<a href="#" class-data="Currency"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "费用类型#{mark_required(f.object,:fee)}" %>			
		<div class="reference">
			<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "fee_info",f.object.fee.to_s,:class=>"ref" %>
			<a href="#" class-data="Fee"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "金额#{mark_required(f.object,:amount)}" %>			
		<%= f.text_field :amount,:class=>"input1 " %>
	</div>
</div>
</div>
<% end %>