<%= form_for(@fee_standard,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', fee_standards_path,:class=>"button2" %>
</div>
<div class="field">
	<%= f.label "项目",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :project_id, Project.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+mark_required(@fee_standard, :project_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
	<div class="form_block">
		<div class="form_field">
			<%= f.label "地区级次" %>
			<div class="reference">
				<%= f.hidden_field :region_type_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "region_type_info",f.object.region_type.to_s,:class=>"ref" %>
				<a href="#" class-data="RegionType"><span class="reference"></span></a>			
			</div>
		</div>
	</div>
<div class="field">
	<%= f.label "职务",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :duty_id, Duty.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+ mark_required(@fee_standard, :duty_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "住宿方式",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :lodging_id, Lodging.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+ mark_required(@fee_standard, :lodging_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "交通方式",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :transportation_id, Transportation.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+mark_required(@fee_standard, :transportation_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "业务类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :business_type_id, BusinessType.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input"})%><%= mark_required(@fee_standard, :business_type_id) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "金额",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :amount,:class=>"basic_input "+ mark_required(@fee_standard, :amount) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>

<% end %>