<%= form_for(@fee_standard,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="field">
	<%= f.label "项目",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :project_id, Project.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+mark_required(@fee_standard, :project_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "地区",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :region_id, Region.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+mark_required(@fee_standard, :region_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "职务",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :duty_id, Duty.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+ mark_required(@fee_standard, :duty_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "住宿方式",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :lodging_id, Lodging.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+ mark_required(@fee_standard, :lodging_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "交通方式",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:fee_standard, :transportation_id, Transportation.all, :id, :name, {:include_blank => '无'},{:class=>"basic_input "+mark_required(@fee_standard, :transportation_id)})%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "业务类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.select :busitype, FeeStandard::ENUMS_BUSITYPE,{:include_blank => '无'},{:class=>"basic_input "} %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "金额",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :amount,:class=>"basic_input "+ mark_required(@fee_standard, :amount) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
  <div class="actions">
    <%= f.submit "保存",:class=>"button2" %>
	<%= link_to '返回', fee_standards_path,:class=>"button2" %>
  </div>
<% end %>