<h3 class="form_title">费用标准列表</h3>
<table class="hor-zebra">
  <tr>
    <th>项目</th>
    <th>地图</th>
    <th>职务</th>
    <th>住宿方式</th>
    <th>交通方式</th>
    <th>业务类型</th>
    <th>金额</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fee_standards.each do |fee_standard| %>
  <tr class="<%= "odd" if fee_standard.id%2==0 %>">
    <td><%= fee_standard.project_name %></td>
    <td><%= fee_standard.region_name %></td>
    <td><%= fee_standard.duty_name %></td>
    <td><%= fee_standard.lodging_name %></td>
    <td><%= fee_standard.transportation_name %></td>
    <td><%= fee_standard.busitype_name %></td>
    <td><%= fee_standard.amount %></td>
    <td><%= link_to '查看', fee_standard %></td>
    <td><%= link_to '编辑', edit_fee_standard_path(fee_standard) %></td>
    <td><%= link_to '删除', fee_standard, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加费用标准', new_fee_standard_path %>