.page-header
  %h3 项目列表

%table
  %tr
    %th 名称
    %th 编码
    %th 客户
    %th 负责人
    %th 创建人
    %th
    %th
    %th

  - @bxy_projects.each do |bxy_project|
    %tr
      %td= bxy_project.name
      %td= bxy_project.code
      %td= bxy_project.customer
      %td= bxy_project.contact_person
      %td= bxy_project.person.try(:name)
      %td= link_to '查看', bxy_project
      %td= link_to '修改', edit_bxy_project_path(bxy_project)
      %td= link_to '删除', bxy_project, :confirm => '确定删除?', :method => :delete

%br

= link_to '新增项目', new_bxy_project_path,:class=>'btn primary'
