-form_for project,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>project
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.project.name')}#{mark_required(f.object,:name)}" 			
    %span.value= f.text_field :name,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.project.code')}#{mark_required(f.object,:code)}" 
    %span.value= f.text_field :code,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.project.u8_project')}#{mark_required(f.object,:u8_project)}" 			
    %span.value= f.text_field :u8_project,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.project.status')}#{mark_required(f.object,:status)}" 			
    %span.value= f.select "status",Project::P_STATUS.map {|k,v| [v,k]},:class=>"input1 " 
  =render "basic_setting/fb_actions"
