<%= form_for(@project,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', projects_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "项目名称" %>			
		<%= f.text_field :name,:class=>"input1 "+ mark_required(@project, :name) %>
	</div>
	<div class="form_field">
		<%= f.label "项目编码" %>
		<%= f.text_field :code,:class=>"input1 "+ mark_required(@project, :code) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "对应U8项目" %>			
		<%= f.text_field :u8_project,:class=>"input1 "+ mark_required(@project, :u8_project) %>
	</div>
</div>
</div>
<% end %>