here is a list of private commands
<%= form_tag('/pri_task/fuck_p',:remote=>true) do -%>
	<%= text_field_tag :u %>
   <div><%= submit_tag 'ResetPassword'%></div>
<% end -%>
<%= link_to "import_project",{:controller=>"pri_task",:action=>"import_project"},:remote=>true%><br/><br/>
<%= link_to "import_person",{:controller=>"pri_task",:action=>"import_person"},:remote=>true%><br/><br/>
<%= link_to "TestWebservice",{:controller=>"pri_task",:action=>"test_curb"},:remote=>true%><br/><br/>
<%= link_to "Import U8 Codes",{:controller=>"pri_task",:action=>"import_u8_codes"},:remote=>true%><br/><br/>
<h2>Result</h2>
<div id="cmd_result">
</div>
<div id="data">
</div>
