here is a list of private commands
<%= form_tag('/pri_task/fuck_p',:remote=>true) do -%>
	<%= text_field_tag :u %>
   <div><%= submit_tag 'ResetPassword'%></div>
<% end -%>
<%= link_to "Update Doc TotalAmount",{:controller=>"pri_task",:action=>"update_doc"},:remote=>true%><br/><br/>
<%= link_to "Update the Doc Approvers",{:controller=>"pri_task",:action=>"set_approver_info"},:remote=>true%><br/><br/>
<%= link_to "PoorWorkFlowInfos",{:controller=>"pri_task",:action=>"poor_wfi"},:remote=>true%><br/><br/>
<h2>Result</h2>
<div id="cmd_result">
</div>