<%= form_for(@subject,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>  
<div class="actions">
    <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', subjects_path,:class=>"button2" %>
 </div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "业务类型" %>			
		<div class="reference">
			<%= f.hidden_field :business_type_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "business_type_info",@subject.business_type.to_s,:class=>"ref" %>
			<a href="#" class-data="BusinessType"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "费用类型" %>
		<div class="reference">
			<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "fee_info",@subject.fee.to_s,:class=>"ref" %>
			<a href="#" class-data="Fee"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "部门" %>			
		<div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dep_info",@subject.dep.to_s,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
	</div>
	<div class="form_field">
		<%= f.label "u8费用科目" %>
		<%= f.text_field :u8_fee_subject,:class=>"input1 "+ mark_required(@subject, :u8_fee_subject) %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "u8借款科目" %>			
		<%= f.text_field :u8_borrow_subject,:class=>"input1 "+ mark_required(@subject, :u8_borrow_subject) %>
	</div>
	<div class="form_field">
		<%= f.label "u8报销科目" %>
		<%= f.text_field :u8_reim_subject,:class=>"input1 "+ mark_required(@subject, :u8_reim_subject) %>
	</div>
</div>
</div>
<% end %>