<%= form_for(@subject,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="field">
	<%= f.label "业务类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.select :busitype, Subject::ENUMS_BUSITYPE,{:include_blank => 'None'},{:class=>"basic_input "}%>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "费用类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:subject, :fee_id, Fee.all, :id, :name, {:include_blank => 'None'},{:class=>"basic_input"})%><%= mark_required(@subject, :fee_id) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "部门",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= collection_select(:subject, :dep_id, Dep.all, :id, :name, {:include_blank => 'None'},{:class=>"basic_input"})%><%= mark_required(@subject, :dep_id) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "u8费用科目",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :u8_fee_subject,:class=>"basic_input "+ mark_required(@subject, :u8_fee_subject) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "u8借款科目",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :u8_borrow_subject,:class=>"basic_input "+ mark_required(@subject, :u8_borrow_subject) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "u8报销科目",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :u8_reim_subject,:class=>"basic_input "+ mark_required(@subject, :u8_reim_subject) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
  <div class="actions">
    <%= f.submit "保存",:class=>"button2" %>
  </div>
<% end %>