<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<!--==================================================================-->
  <div class="login_field">
    <%= f.label "#{I18n.t('common_attr.user')}",:class=>"input_label" %>
	<div class="login_input_area">
		<p class="login_input">
			<%= f.text_field :name,:class=>"normal" %>
		</p>
	</div>
  </div>
<!--==================================================================-->
  <div class="login_field">
    <%= f.label "#{I18n.t('common_attr.password')}",:class=>"input_label" %>
	<div class="login_input_area">
		<p class="login_input">
			<%= f.password_field :password,:class=>"normal" %>
		</p>
		<p class="tip"></p>
	</div>
  </div>
<!--==================================================================-->
  <% if devise_mapping.rememberable? -%>
  <div class="login_field">
    <%= f.label "#{I18n.t('common_attr.remember')}",:class=>"input_label" %>
	<div class="login_input_area">
		<p class="login_input">
			<%= f.check_box :remember_me,:class=>"normal" %>
		</p>
	</div>
	<span class="error_message"></span>    
  </div>
  <% end -%>
<div class="login_actions">
	<%= f.submit "#{I18n.t('common_attr.btn_login')}" %>
	<% if alert %>
		<spna id="error"><%= alert %></span>
	<% end %>
</div>
<% end %>

