%h3
  ExpenseSystem
-form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  -if alert
    .login_error
      %span= alert
  .login_field
    %span.l_label= f.label "#{I18n.t('common_attr.user')}",:class=>"input_label"
    %span.l_value= f.text_field :name,:class=>"normal"
  .login_field
    %span.l_label= f.label "#{I18n.t('common_attr.password')}",:class=>"input_label"
    %span.l_value= f.password_field :password,:class=>"normal"
  -if devise_mapping.rememberable?
    .login_field
      %span.l_label= f.label "#{I18n.t('common_attr.remember')}",:class=>"input_label"
      %span.l_value= f.check_box :remember_me,:class=>"normal"
  .login_actions
    = link_to content_tag(:span,"#{I18n.t('common_attr.btn_login')}"),{:href=>"#"}, :class=>"minibutton submit"
  .logo
