<h3>ExpenseSystem</h3>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <% if alert %>
    <div class="login_error">
      <span><%= alert%></span>
    </div>
  <% end %>
<!--==================================================================-->
  <div class="login_field">
    <span class="l_label"><%= f.label "#{I18n.t('common_attr.user')}",:class=>"input_label" %></span>
		<span class="l_value"><%= f.text_field :name,:class=>"normal" %></span>
  </div>
<!--==================================================================-->
  <div class="login_field">
    <span class="l_label"><%= f.label "#{I18n.t('common_attr.password')}",:class=>"input_label" %></span>
		<span class="l_value"><%= f.password_field :password,:class=>"normal" %></span>
  </div>
<!--==================================================================-->
  <% if devise_mapping.rememberable? -%>
  <div class="login_field">
    <span class="l_label"><%= f.label "#{I18n.t('common_attr.remember')}",:class=>"input_label" %></span>
		<span class="l_value"><%= f.check_box :remember_me,:class=>"normal" %></span>
  </div>
  <% end -%>
  <div class="login_actions">
    <%= link_to content_tag(:span,"#{I18n.t('common_attr.btn_login')}"),{:href=>"#"}, :class=>"minibutton submit" %>
  </div>
  <div class="logo"></div>
<% end %> 
