.page-header
  %h2 登录

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    = f.label '邮箱'
    .input= f.email_field :email
  .clearfix
    = f.label '密码'
    .input= f.password_field :password 
  -if devise_mapping.rememberable?
    = f.label '记住我'
    .input
      = f.check_box :remember_me
  .actions
    = f.submit "登录",:class=>'btn primary'
= render :partial => "devise/shared/links" 
