= form_for @tech_communication do |f|
  -if @tech_communication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tech_communication.errors.count, "error")} prohibited this tech_communication from being saved:"
      %ul
        - @tech_communication.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :duty
    = f.text_field :duty
  .field
    = f.label :contents
    = f.text_field :contents
  .field
    = f.label :feedback
    = f.text_field :feedback
  .field
    = f.label :customer_project_start_date
    = f.date_select :customer_project_start_date
  .field
    = f.label :has_tech_people
    = f.check_box :has_tech_people
  .field
    = f.label :our_tech_guy
    = f.text_field :our_tech_guy
  .field
    = f.label :tech_level
    = f.text_field :tech_level
  .field
    = f.label :tech_attitude
    = f.text_field :tech_attitude
  .field
    = f.label :others
    = f.text_area :others
  .field
    = f.label :vrv_project_id
    = f.number_field :vrv_project_id
  .actions
    = f.submit 'Save'
