.page-header
  %h3 技术交流

%table
  %tr
    %th 时间
    %th 交流内容
    %th
    %th
    %th

  - @tech_communications.each do |tech_communication|
    %tr
      %td= tech_communication.date
      %td= tech_communication.contents
      %td= link_to 'Show', [@vrv_project,tech_communication]
      %td= link_to 'Edit', [@vrv_project,tech_communication]
      %td= link_to 'Destroy', [@vrv_project,tech_communication], :confirm => 'Are you sure?', :method => :delete

.actions
  = link_to '添加技术交流', new_vrv_project_tech_communication_path(@vrv_project),:class=>'btn primary'
