-form_for work_flow,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>work_flow
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.work_flow.name')}#{mark_required(f.object,:name)}"
    %span.value= f.text_field :name 
  %br
  .form_field
    %h4 单据类型
    .selection_area
      -(1..14).each do |num|
        %span.checkbox
          = check_box_tag("doc_types[]",num,work_flow.doc_types.split(';').include?(num.to_s))
          = f.label doc_type_name(num)
  %br
  .form_field
    %h4 申请人职务
    .selection_area
      -Duty.all.each do |duty|
        %span.checkbox
          = check_box_tag("duty_ids[]",duty.id,work_flow.duties.include?(duty))
          = f.label duty.name
  .doc_detail
    .form_stytle
      %h3
        = link_to_add_fields "#{I18n.t('common_attr.add_detail')}",f,:work_flow_steps 
        = "审批流步骤" 
      .form_area
        -f.fields_for :work_flow_steps do |builder|
          = render 'work_flow_step_fields',:f => builder 
  =render "basic_setting/fb_actions"
