<%= form_for(@work_flow,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
	<%= link_to '新增', new_work_flow_path,:class=>"button2" %>
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', work_flows_path,:class=>"button2" %>
</div>
<div class="form_area">
	<div class="form_block">
		<div class="form_field">
			<%= f.label "审批名称#{mark_required(f.object,:name)}" %>		
			<%= f.text_field :name,:class=>"input1" %><%= mark_required(@work_flow, :name) %>
		</div>
	</div>
	<div class="form_field_4_work_flow">		
		<h4><%= f.label "对应的单据类型:" %></h4><br/>
		<% (1..13).each do |num| %>
			<div class="doc_type_check">
				<%= check_box_tag("doc_types[]",num,@work_flow.doc_types.split(';').include?(num.to_s))%><%= f.label doc_type_name(num)%>
			</div>			
		<% end %>
	</div>
</div>
<div id="details">
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>					
					<th>部门</th>
				    <th>是否为本部门</th>
				    <th>职务</th>
					<th>审批金额超过</th>
					<th></th><!--给删除的-->		    
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :work_flow_steps do |builder|  %>
					<%= render :partial => 'work_flow_step_fields',:locals => { :f => builder } %>
				<% end %>
			</tbody>
			<tr>
				<th colspan="4"><%= link_to_add_fields "添加一个审批环节",f,:work_flow_steps %></th>
			</tr>		
		</table>
	</div>	
</div>

<% end %>