<%= form_for(@work_flow,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', work_flows_path,:class=>"button2" %>
</div>
<div class="field">
	<%= f.label "审批名称",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :name,:class=>"basic_input" %><%= mark_required(@work_flow, :name) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div class="field">
	<%= f.label "对应的单据类型",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :doc_types,:class=>"basic_input" %><%= mark_required(@work_flow, :doc_types) %>
		</p>
		<p class="tip"></p>
	</div>
	<span class="error_message"></span>    
  </div>
<div id="details">
	<div class="table_details">
		<table class="form_input">
			<thead>
				<tr>					
					<th>部门</th>
				    <th>是否为本部门</th>
				    <th>职务</th>
					<th>审批金额超过</th>
					<th></th><!--给删除的-->		    
			    </tr>
		    <thead>
			<tbody>
				<%= f.fields_for :work_flow_steps do |builder|  %>
					<%= render :partial => 'work_flow_step_fields',:locals => { :f => builder } %>
				<% end %>
			</tbody>
			<tr>
				<th colspan="4"><%= link_to_add_fields "添加一个审批环节",f,:work_flow_steps %></th>
			</tr>		
		</table>
	</div>	
</div>

<% end %>