<div class="fields">
	<p>  
		<%= f.label :dep_id, "部门" %><br />
		<%= f.select(:dep_id,  Dep.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p> 
	<p>  
		<%= f.label :is_self_dep, "是否为本部门" %><br />  
		<%= f.select :is_self_dep, WorkFlowStep::ENUMS_IS_SELF_DEP,:class=>"basic_input" %>
	</p>
	<p>  
		<%= f.label :duty_id, "职务" %><br />
		<%= f.select(:duty_id,  Duty.all.collect {|s| [ s.name, s.id ] },{:include_blank => 'None'},{:class=>"basic_input"})%>
	</p>
</div>