-form_for fee_code_match,:remote=>true,:class=>"edit_inline" do |f|
  =render "shared/common_error",:resource=>fee_code_match
  = f.hidden_field :id
  -if fee_code_match.new_record?
    .form_field
      %span.label= f.label :fee_id,:class=>"input_label" 
      %span.value= reference_select "fee_code_match[fee_id]","Fee",{ :value=>fee_code_match.fee.id,:text=>fee_code_match.fee.to_s }
  .form_field
    %span.label= f.label :dcode_id,:class=>"input_label"
    %span.value= reference_select "fee_code_match[dcode_id]","U8code",{ :value=>fee_code_match.dcode.id,:text=>fee_code_match.dcode.to_s }
  .form_field
    %span.label= f.label :ccode_id,:class=>"input_label"
    %span.value= reference_select "fee_code_match[ccode_id]","U8code",{ :value=>fee_code_match.ccode.id,:text=>fee_code_match.ccode.to_s }
  .form_field
    %span.label= f.label :description,:class=>"input_label" 
    %span.value
      =f.text_field :description,:class=>"basic_input" 
      =mark_required(fee_code_match, :description) 
  .form_field
    %span.label= f.label :dperson,:class=>"input_label" 
    %span.value
      = f.text_field :dperson,:class=>"basic_input" 
      = mark_required(fee_code_match, :description) 
  .form_field
    %span.label= f.label :cperson,:class=>"input_label" 
    %span.value
      = f.text_field :cperson,:class=>"basic_input" 
      = mark_required(fee_code_match, :description) 
  .form_field
    %span.label= f.label :ddep,:class=>"input_label" 
    %span.value
      = f.text_field :ddep,:class=>"basic_input" 
      = mark_required(fee_code_match, :description) 
  .form_field
    %span.label= f.label :cdep,:class=>"input_label" 
    %span.value
      = f.text_field :cdep,:class=>"basic_input" 
      = mark_required(fee_code_match, :description) 
  =render "basic_setting/fb_actions"
