<%= form_for @fee_code_match,:url=>"/fee_code_matches/update",:remote=>true,:class=>"edit_inline" do |f| %>
<%= f.hidden_field :id%>
<div class="form_field">
	<span class="label"><%= f.label :fee_id,:class=>"input_label" %></span>
  <span class="value"><div class="reference">
			<%= f.hidden_field :fee_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "fee_info",@fee_code_match.fee.to_s,:class=>"ref" %>
			<a href="#" class-data="Fee"><span class="reference"></span></a>			
		</div></span> </div>
<div class="form_field">
  <span class="label"><%= f.label :dcode_id,:class=>"input_label" %></span>
  <span class="value"><div class="reference">
			<%= f.hidden_field :dcode_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "dcode_info",@fee_code_match.dcode.to_s,:class=>"ref" %>
			<a href="#" class-data="U8code"><span class="reference"></span></a>			
		</div></span>
 </div>
<div class="form_field">
	<span class="label"><%= f.label :ccode_id,:class=>"input_label" %>
</span><span class="value"><div class="reference">
			<%= f.hidden_field :ccode_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "ccode_info",@fee_code_match.ccode.to_s,:class=>"ref" %>
			<a href="#" class-data="U8code"><span class="reference"></span></a>			
		</div></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :description,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :description,:class=>"basic_input" %><%= mark_required(@fee_code_match, :description) %></span>
</div>
<!--added four specify vouch info-->
<div class="form_field">
	<span class="label"><%= f.label :dperson,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :deperson,:class=>"basic_input" %><%= mark_required(@fee_code_match, :description) %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :cperson,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :cperson,:class=>"basic_input" %><%= mark_required(@fee_code_match, :description) %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :ddep,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :cdep,:class=>"basic_input" %><%= mark_required(@fee_code_match, :description) %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :description,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :description,:class=>"basic_input" %><%= mark_required(@fee_code_match, :description) %></span>
</div>
<div class="fb_actions">
  <%= link_to "#{I18n.t('common_op.btn_update')}",{:href=>"#"}, :class=>"submit button2" %>
  <%= link_to_function "#{I18n.t('common_op.btn_cancel')}","cancel_edit_form(this)",:class=>"button2"%>
</div>
<% end %>
