<td><%= link_to image_tag("/images/icons/page_edit.png"), {:controller=>"fee_code_matches",:action=>"edit",:id=>fee_code_match.id},:remote=>true %></td>
<td><%= fee_code_match.fee %></td>
<td><%= fee_code_match.dcode %></td>
<td><%= fee_code_match.ccode %></td>
<td><%= fee_code_match.description %></td>
