<td><%= fee_code_match.fee %></td>
<td><%= fee_code_match.dcode %></td>
<td><%= fee_code_match.ccode %></td>
<td><%= fee_code_match.description %></td>
<td><%= link_to '编辑', {:controller=>"fee_code_matches",:action=>"edit"},:remote=>true %></td>
