-form_for role,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>role
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.role.name')}"
    %span.value= f.text_field :name,:class=>"input1 "
  .form_field
    %br
    .selection_area
      -Menu.all.each_with_index do |menu,index|
        %span.checkbox
          = check_box_tag "menus[]", menu.id, @role.have_right?(menu.id)
          = I18n.t("menu.#{menu.name}")
  =render "basic_setting/fb_actions"
