<%= form_for @role,:remote=>true do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
	<%= link_to "#{I18n.t('common_op.btn_new')}", new_role_path,:class=>"button2" %>
	<%= link_to "#{I18n.t('common_op.btn_save')}",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to "#{I18n.t('common_op.btn_return')}", roles_path,:class=>"button2" %>
</div>
<div class="form_area">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.role.name')}#{mark_required(f.object,:name)}" %>			
		<%= f.text_field :name,:class=>"input1 " %>
	</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "#{I18n.t('activerecord.attributes.role.menus')}#{mark_required(f.object,:menus)}" %>			
    <br/>
    <% Menu.all.each_with_index do |menu,index| %>
      <%= check_box_tag "menus[]", menu.id, @role.have_right?(menu.id) %>
      <%= I18n.t("menu.#{menu.name}") %>
    <% end %>
	</div>
</div>
</div>
<% end %>
