<%= form_for @role,:remote=>true do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
	<%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', roles_path,:class=>"button2" %>
</div>
<div class="field">
    <%= f.label "角色名称",:class=>"input_label" %>
	<div class="input_area">
		<p class="input">
			<%= f.text_field :name,:class=>"basic_input "+ mark_required(@role, :code) %>
		</p>
		<p class="tip"></p>
	</div>
 </div>
	<div id="seleted_person">
		<div class="form_title">
			<h3>该角色下的人员</h3>			
			<div class="reference">
				<%= f.hidden_field :people,{:class=>"ref_hidden_field"}%>
				<%= text_area_tag "people_info",@role.people,:class=>"ref" %>
				<a href="#" class-data="Person" check-behavior="multi"><span class="reference"></span></a>			
			</div>
		</div>
	</div>
	<div id="seleted_menu">
		<div class="reference">
			<%= f.hidden_field :menus,{:class=>"ref_hidden_field"}%>
			<%= text_area_tag "menu_info",@role.menus,:class=>"ref" %>
			<a href="#" class-data="Menu" check-behavior="multi"><span class="reference"></span></a>			
		</div>
	</div>
	<div id="select_person">
		
	</div>

<% end %>