<%= form_for @role,:remote=>true do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
	<%= link_to '新增', new_role_path,:class=>"button2" %>
	<%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', roles_path,:class=>"button2" %>
</div>
<div class="form_area">
<div class="form_block">
	<div class="form_field">
		<%= f.label "角色名称#{mark_required(f.object,:name)}" %>			
		<%= f.text_field :name,:class=>"input1 " %>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "该角色下的人员#{mark_required(f.object,:people)}" %>			
		<div class="reference">
			<%= hidden_field_tag "people_ids",(@role.people.map{|p| p.id}).join("_"),{:class=>"ref_hidden_field"}%>
			<%= text_area_tag "people_info",(@role.people.map{|p| p.to_s}).join(";"),:class=>"ref input2" %>
			<a href="#" class-data="Person" multicheck="true"><span class="reference"></span></a>			
		</div>
	</div>
</div>
<div class="form_block">
	<div class="form_field">
		<%= f.label "该角色下的菜单#{mark_required(f.object,:menus)}" %>			
		<div class="reference">
			<%= hidden_field_tag "menu_ids",(@role.menus.map{|m| m.id}).join("_"),{:class=>"ref_hidden_field"}%>
			<%= text_area_tag "menu_info",(@role.menus.map{|m| m.to_s}).join(";"),:class=>"ref input2" %>
			<a href="#" class-data="Menu" multicheck="true"><span class="reference"></span></a>			
		</div>
	</div>
</div>
</div>
<% end %>