-form_for fee,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>fee
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.code')}#{mark_required(f.object,:code)}" 			
    %span.value= f.text_field :code,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('common_attr.name')}#{mark_required(f.object,:name)}" 
    %span.value= f.text_field :name,:class=>"input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.fee.attr')}#{mark_required(f.object,:attr)}" 			
    %span.value= f.select :attr,Fee::ENUMS_ATTR,{:include_blank => "#{I18n.t('common_attr.none')}"},{:class=>"input1 "} 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.fee.end_date')}#{mark_required(f.object,:end_date)}" 
    %span.value= f.text_field :end_date,:class=>"datepicker input1 " 
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.fee.parent_fee_id')}#{mark_required(f.object,:parent_fee_id)}" 			
    %span.value= reference_select "parent_fee_id","Fee",:text=>f.object.parent_fee.to_s,:value=>f.object.parent_fee_id
  =render "basic_setting/fb_actions"
