.list_item(id="fee_#{fee.id}")
  .show
    %span.list_action_right= link_to image_tag("/images/icons/page_edit.png"),edit_fee_path(fee) ,:remote=>true
    %span.list_action_right= link_to image_tag("/images/icons/cross.png"), fee, :confirm => '是否真的要删除?',:class=>"splash", :method => :delete,:remote=>true
    %span.list_field= fee.name
    %span.list_field= fee.code
  .edit
