<div class="form_title">
  <h6>
    单号<%= link_to "#{doc.doc_no}", doc_head_path(doc) %> 
    <% if doc.vouches.count>0 %>
      【最后更新时间<%= doc.vouches.order("updated_at desc").first.updated_at%>】
    <% end %>
    <%= link_to image_tag("/images/icons/database_refresh.png"),{:controller=>"vouch",:action=>"rg_vouch",:doc_id=>doc.id},:remote=>true %>
    <%= link_to image_tag("/images/icons/door_in.png"),{:controller=>"vouch",:action=>"g_u8",:doc_id=>doc.id},:remote=>true %>
  </h6>
</div>    
<table class="hor-zebra">
  <tr>
    <th></th>
    <th>凭证分录号</th><th>部门</th>
    <th>科目</th><th>对方科目</th>
    <th>项目</th><th>人员</th>
    <th>借方金额</th><th>贷方金额</th>
    <th>币种</th><th>汇率</th>
    <th>凭证日期</th><th>成单者</th>
    <th>附件张数</th>
  </tr>
  <% doc.vouches.each do  |v|%>
    <tr id="vouch_row_<%= v.id%>">
      <%= render :partial => "vouch_row_info",:locals=>{:v=>v} %>
    </tr>
    <!--this tr is for edit-->
    <tr>
      <td colspan="14">
        <div id="edit_vouch_<%= v.id%>" class="edit_inline"></div>
      </td>
    </tr>
  <% end %>
</table>

