<% form_for @vouch,:url=>"/vouch/update",:remote=>true,:class=>"fb_form" do |f| -%>
  <%= f.hidden_field :id %>
  <div class="fb_field"><%= f.label :dbill_date %><%= f.text_field :dbill_date ,:class=>"datepicker"%></div>
  <div class="fb_field"><%= f.label :idoc %><%= f.text_field :idoc %></div>
  <div class="fb_field"><%= f.label :cbill %><%= f.text_field :cbill %></div>
  <div class="fb_field">
    <div class="reference">
			<%= f.hidden_field :code_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "ccode",@vouch.ccode,:class=>"ref" %>
			<a href="#" class-data="U8code"><span class="reference"></span></a>			
		</div>
  </div>
  <div class="fb_field">
    <div class="reference">
			<%= f.hidden_field :dep_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "cdept_id",@vouch.cdept_id,:class=>"ref" %>
			<a href="#" class-data="Dep"><span class="reference"></span></a>			
		</div>
  </div>
  <div class="fb_field">
    <div class="reference">
			<%= f.hidden_field :item_id,{:class=>"ref_hidden_field"}%>
			<%= text_field_tag "citem_id",@vouch.citem_id,:class=>"ref" %>
			<a href="#" class-data="Project"><span class="reference"></span></a>			
		</div>
  </div>
  <div class="fb_field"><%= f.label :ccode_equal %><%= f.text_field :ccode_equal %></div>
  <div class="fb_actions">
    <%= link_to "#{I18n.t('common_op.btn_update')}",{:href=>"#"}, :class=>"submit button2" %>
    <%= link_to_function "#{I18n.t('common_op.btn_cancel')}","cancel_edit_vouch(this)",:class=>"button2"%>
  </div>
<% end -%>

