<% form_for @vouch,:url=>"/vouch/update",:remote=>true,:class=>"fb_form" do |f| -%>
  <%= f.hidden_field :id %>
  <div class="fb_field"><%= f.label :dbill_date %><%= f.text_field :dbill_date ,:class=>"datepicker"%></div>
  <div class="fb_field"><%= f.label :idoc %><%= f.text_field :idoc %></div>
  <div class="fb_field"><%= f.label :cbill %><%= f.text_field :cbill %></div>
  <div class="fb_field"><%= f.label :ccode %><%= f.text_field :ccode %></div>
  <div class="fb_field"><%= f.label :cdept_id %><%= f.text_field :cdept_id %></div>
  <div class="fb_field"><%= f.label :citem_id %><%= f.text_field :citem_id %></div>
  <div class="fb_field"><%= f.label :ccode_equal %><%= f.text_field :ccode_equal %></div>
  <div class="fb_actions">
    <%= link_to "#{I18n.t('common_op.btn_update')}",{:href=>"#"}, :class=>"submit button2" %>
    <%= link_to_function "#{I18n.t('common_op.btn_cancel')}","cancel_edit_vouch(this)",:class=>"button2"%>
  </div>
<% end -%>

