-form_for @vouch,:url=>"/vouch/update",:remote=>true,:class=>"edit_inline" do |f|
  = f.hidden_field :id
  .form_field
    %span.label= f.label :dbill_date 
    %span.value= f.text_field :dbill_date ,:class=>"datepicker"
  .form_field
    %span.label= f.label :idoc 
    %span.value= f.text_field :idoc 
  .form_field
    %span.label= f.label :cbill 
    %span.value= f.text_field :cbill 
  .form_field
    %span.label= f.label :ccode 
    %span.value= ts "code_id","U8code",:text=>f.object.code.to_s,:value=>f.object.code_id,:f=>f
  .form_field
    %span.label= f.label :cdept_id 
    %span.value= ts "dep_id","Dep",:text=>f.object.dep.to_s,:value=>f.object.dep_id,:f=>f
  .form_field
    %span.label= f.label :s_cdept_id 
    %span.value= f.text_field :s_cdept_id 
  .form_field
    %span.label= f.label :cperson_id 
    %span.value= ts "person_id","Person",:text=>f.object.person.to_s,:value=>f.object.person_id,:f=>f
  .form_field
    %span.label= f.label :s_cperson_id 
    %span.value= f.text_field :s_cperson_id 
  .form_field
    %span.label= f.label :doc_no 
    %span.value= f.text_field :doc_no 
  .form_field
    %span.label= f.label :citem_id 
    %span.value= ts "item_id","Project",:text=>f.object.project.to_s,:value=>f.project.person_id,:f=>f
  .form_field
    %span.label= f.label :ccode_equal 
    %span.value= f.text_field :ccode_equal 
  .form_inline_actions
    = link_to "#{I18n.t('common_op.btn_update')}",{:href=>"#"}, :class=>"submit button2"
    = link_to_function "#{I18n.t('common_op.btn_cancel')}","cancel_edit_form(this)",:class=>"button2"

