%td
  %span{'class'=>v.md=='0' ? 'c' : 'd'}
    = v.md=="0" ? "贷" : "借"
  = link_to image_tag("/images/icons/page_edit.png"),{:controller=>"vouch",:action=>"edit",:vouch_id=>v.id},:remote=>true
%td= v.inid
%td= v.cdept_id
%td= truncate(v.ccode,:length=>10)
%td= truncate(v.ccode_equal,:length=>10)
%td= v.citem_id
%td= v.cperson_id
%td= v.md
%td= v.mc
%td= v.cexch_name
%td= v.nfrat
%td= v.dbill_date
%td= v.cbill
%td= v.idoc
%td= image_tag (v.doc_head.exist_vouch? ? "/images/icons/accept.png" : "/images/icons/cross.png")
