<h4>Using css beautiful this form.</h4>
<% form_for @vouch,:url=>"/vouch/update",:remote=>true do |f| -%>
  <%= f.hidden_field :id %>
  <div class="fb_field"><%= f.label :dbill_date, '' %><%= f.text_field :dbill_date %></div>
  <div class="fb_field"><%= f.label :idoc, 'idoc' %><%= f.text_field :idoc %></div>
  <div class="fb_field"><%= f.label :cbill, 'cbill' %><%= f.text_field :cbill %></div>
  <div class="fb_field"><%= f.label :ccode, 'ccode' %><%= f.text_field :ccode %></div>
  <div class="fb_field"><%= f.label :ccode_equal, 'ccode_equal' %><%= f.text_field :ccode_equal %></div>
  <div class="fb_field"><%= f.submit "Update",:class=>"button2" %></div>
<% end -%>
