<h4>Using css beautiful this form.</h4>
<% form_for @vouch,:url=>"/vouch/update",:remote=>true do |f| -%>
  <%= f.hidden_field :id %>
  <%= f.label :dbill_date, '' %><%= f.text_field :dbill_date %>
  <%= f.label :idoc, 'idoc' %><%= f.text_field :idoc %>
  <%= f.label :cbill, 'cbill' %><%= f.text_field :cbill %>
  <%= f.label :ccode, 'ccode' %><%= f.text_field :ccode %>
  <%= f.label :ccode_equal, 'ccode_equal' %><%= f.text_field :ccode_equal %>
  <%= f.submit "Update" %>
  try to hook this submit button event
<% end -%>
