.form_title 查询结果
-if @doc_rows
  .amount_result= "报销总金额为 ￥#{@doc_rows.sum { |d| d.apply_amount || 0 }}"
  %table
    %tr
      %th= sort_link @search,:doc_no
      %th= sort_link @search,:resource_type
      %th= sort_link @search, :dep_id
      %th= sort_link @search, :project_id
      %th= sort_link @search, :person_id
      %th= sort_link @search, :apply_date
      %th= sort_link @search, :apply_amount
    -@doc_rows.each do |dr|
      %tr
        %td=link_to dr.doc_no, doc_head_path(dr.doc_head_id),:remote=>true
        %td= DocRow::DocResourceTypes.select{|k,v| v==dr.resource_type}.map{|i|i[0]}.first
        %td=dr.dep.try :name
        %td=dr.project.try :name
        %td=dr.person.try :name
        %td=dr.apply_date
        %td="￥#{dr.apply_amount}"
.clear
