-if @doc_rows and @doc_rows.count>0
  .amount_result
    = "#{I18n.t('common_attr.total_apply_amount')} ￥#{@doc_rows.sum { |d| d.apply_amount || 0 }}"
  .chart_action
    =link_to_function I18n.t('chart.project_action'),'draw_by_project()'
    =link_to_function I18n.t('chart.person_action'),'draw_by_person()'
    =link_to_function I18n.t('chart.apply_date_action'),'draw_by_apply_date()'
    =link_to_function I18n.t('chart.fee_action'),'draw_by_fee()'
  #chart
  %table.zebra-striped.doc_row_search
    %thead
      %tr
        %th.header= sort_link @search,:doc_no,{},:remote=>true
        %th.header= sort_link @search,:resource_type,{},:remote=>true
        %th.header= sort_link @search, :dep_id,{},:remote=>true
        %th.header= sort_link @search, :project_id,{},:remote=>true
        %th.header= sort_link @search, :person_id,{},:remote=>true
        %th.header= sort_link @search, :apply_date,{},:remote=>true
        %th.header= sort_link @search, :apply_amount,{},:remote=>true
    %tbody
      -@doc_rows.each do |dr|
        %tr
          %td=link_to dr.doc_no, doc_head_path(dr.doc_head_id),:remote=>true
          %td= I18n.t("common_attr.#{dr.resource_type}")
          %td=dr.dep.try :name
          %td=dr.project.try :name
          %td=dr.person.try :name
          %td=dr.apply_date
          %td="￥#{dr.apply_amount}"
-else
  .empty_search_result= I18n.t('common_attr.empty_search_result')
.clear
:javascript
  $(document).ready(function() {
    if($("#chart").size()>0)
    {
      draw_by_project();
    }
  });
  function draw_by_project()
  {
    draw_chart('chart',"#{I18n.t('chart.project_title')}",#{@project_pie_data});
  }
  function draw_by_person()
  {
    draw_chart('chart',"#{I18n.t('chart.person_title')}",#{@person_pie_data});
  }
  function draw_by_apply_date()
  {
    draw_chart('chart',"#{I18n.t('chart.apply_date_title')}",#{@apply_date_pie_data});
  }
  function draw_by_fee()
  {
    draw_chart('chart',"#{I18n.t('chart.fee_title')}",#{@fee_pie_data});
  }

    
