<%= form_for(@region,:remote=>true) do |f| %>
<div class="form_title">
	<h3><%= @title%></h3>
</div>
<div class="actions">
			<%= link_to '新增', new_region_path,:class=>"button2" %>
  <%= link_to "保存",{:href=>"#"},:class=>"submit button2" %>
	<%= link_to '返回', regions_path,:class=>"button2" %>
</div>
<div class="form_area">
	<div class="form_block">
		<div class="form_field">
			<%= f.label "地区名称#{mark_required(f.object,:name)}" %>
			<%= f.text_field :name,:class=>"input1 " %>
		</div>
		<div class="form_field">
			<%= f.label "地区编码#{mark_required(f.object,:code)}" %>
			<%= f.text_field :code,:class=>"input1 " %>
		</div>
	</div>
	<div class="form_block">
		<div class="form_field">
			<%= f.label "地区级次#{mark_required(f.object,:region_type)}" %>
			<div class="reference">
				<%= f.hidden_field :region_type_id,{:class=>"ref_hidden_field"}%>
				<%= text_field_tag "region_type_info",f.object.region_type.to_s,:class=>"ref" %>
				<a href="#" class-data="RegionType"><span class="reference"></span></a>			
			</div>
		</div>
	</div>
</div>
<% end %>