<h3 class="form_title">地区档案列表</h3>
<table class="hor-zebra">
  <tr>
    <th>地区名称</th>
    <th>地区编码</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr class="<%= "odd" if region.id%2==0 %>">
    <td><%= region.name %></td>
    <td><%= region.code %></td>
    <td><%= link_to '查看', region %></td>
    <td><%= link_to '编辑', edit_region_path(region) %></td>
    <td><%= link_to '删除', region, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加地区', new_region_path %>