<%= form_for supplier,:remote=>true do |f| %>
  <%= render "shared/common_error",:resource=>supplier %>
<div class="form_field">
	<span class="label"><%= f.label :name,:class=>"input_label" %></span>
	<span class="value"><%= f.text_field :name,:class=>"basic_input" %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :code,:class=>"input_label" %></span>
  <span class="value"><%= f.text_field :code,:class=>"basic_input" %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :bank,:class=>"input_label" %></span>
  <span class="value"><%= f.text_field :bank,:class=>"basic_input" %></span>
</div>
<div class="form_field">
	<span class="label"><%= f.label :bank_no,:class=>"input_label" %></span>
  <span class="value"><%= f.text_field :bank_no,:class=>"basic_input" %></span>
</div>
<div class="fb_actions">
  <%= link_to "#{I18n.t('common_op.btn_update')}",{:href=>"#"}, :class=>"submit button2" %>
  <%= link_to_function "#{I18n.t('common_op.btn_cancel')}","cancel_edit_form(this)",:class=>"button2"%>
</div>
<% end %>
