<table class="hor-zebra">
  <tr>
    <th></th>
    <th>名称</th>
    <th>编码</th>
    <th>银行</th>
    <th>银行帐号</th>
    <th></th>
  </tr>

<% suppliers.each do |supplier| %>
  <tr id="supplier_<%= supplier.id%>" class="<%= "odd" if supplier.id%2==0 %>">
    <%= render "tr_supplier",:supplier=>supplier %>
  </tr>
  <!--this tr is for edit-->
  <tr id="supplier_<%= supplier.id%>_for_edit">
    <td colspan="6">
      <div id="edit_supplier_<%= supplier.id%>" class="edit_inline"></div>
    </td>
  </tr>
<% end %>
</table>
