<td><%= link_to image_tag("/images/icons/page_edit.png"), {:controller=>"suppliers",:action=>"edit",:id=>supplier.id},:remote=>true %></td>
<td><%= supplier.name %></td>
<td><%= supplier.code %></td>
<td><%= supplier.bank %></td>
<td><%= supplier.bank_no %></td>
<td><%= link_to image_tag("/images/icons/cross.png"), supplier, :confirm => '是否真的要删除?', :method => :delete,:remote=>true %></td>

