<h3 class="form_title">住宿方式档案列表</h3>
<table class="hor-zebra">
  <tr>
    <th>名称</th>
    <th>编码</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lodgings.each do |lodging| %>
  <tr class="<%= "odd" if lodging.id%2==0 %>">
    <td><%= lodging.name %></td>
    <td><%= lodging.code %></td>
    <td><%= link_to '查看', lodging %></td>
    <td><%= link_to '编辑', edit_lodging_path(lodging) %></td>
    <td><%= link_to '删除', lodging, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加住宿方式', new_lodging_path %>