%div{'data-role'=>'page'}
  %div{'data-role'=>'header'}
    %h1 Login
  %div{'data-rolw'=>'content'}
    -form_for(resource, :as => resource_name, :url => session_path(resource_name),:remote=>true) do |f|
      %div{'data-role'=>"fieldcontain"}
        %span.l_label= f.label "#{I18n.t('common_attr.user')}",:class=>"input_label"
        %span.l_value= f.text_field :name,:class=>"normal"
      %div{'data-role'=>"fieldcontain"}
        %span.l_label= f.label "#{I18n.t('common_attr.password')}",:class=>"input_label"
        %span.l_value= f.password_field :password,:class=>"normal"
      =submit_tag 'Login'
  %div{'data-role'=>'footer'}
    %h4 OES Expense

