-if !@vrv_project.new_record?
  .project_info
    .name= link_to project.customer,project
    .start_date= project.start_date
    .state= t("activerecord.attributes.vrv_project.states.#{project.state}")
    .system_star
      .page-header
        %h6 星级
      - project.star.times do
        =image_tag('star.png')
.links
  -if !@vrv_project.new_record?
    = link_to '基本信息', vrv_project_path(project),:class=>(controller_name=='vrv_projects' ? 'current':'')
    = link_to "网络环境", project.network_condition&&!project.network_condition.new_record? ? [project,project.network_condition] : new_vrv_project_network_condition_path(project),:class=>(controller_name=='network_conditions' ? 'current':'')
  -if @vrv_project.star?
    = link_to "竞争情况(#{project.competitors.count})", vrv_project_competitors_path(project),:class=>(controller_name=='competitors' ? 'current':'')
    = link_to "技术交流(#{project.tech_communications.count})", vrv_project_tech_communications_path(project),:class=>(controller_name=='tech_communications' ? 'current':'')
    = link_to "商务交流(#{project.busi_communications.count})", vrv_project_busi_communications_path(project),:class=>(controller_name=='busi_communications' ? 'current':'')
    = link_to "产品测试", project.product_test&&!project.product_test.new_record? ? [project,project.product_test] : new_vrv_project_product_test_path(project),:class=>(controller_name=='product_tests' ? 'current':'')
    = link_to "招标准备", project.bill_prepare&&!project.bill_prepare.new_record? ? [project,project.bill_prepare] : new_vrv_project_bill_prepare_path(project),:class=>(controller_name=='bill_prepares' ? 'current':'')
    = link_to "合同预测", project.contract_predict&&!project.contract_predict.new_record? ? [project,project.contract_predict] : new_vrv_project_contract_predict_path(project),:class=>(controller_name=='contract_predicts' ? 'current':'')
    = link_to "投标阶段", project.bill_stage&&!project.bill_stage.new_record? ? [project,project.bill_stage] : new_vrv_project_bill_stage_path(project),:class=>(controller_name=='bill_stages' ? 'current':'')
    = link_to "投标后", project.bill_after&&!project.bill_after.new_record? ? [project,project.bill_after] : new_vrv_project_bill_after_path(project),:class=>(controller_name=='bill_afters' ? 'current':'')
  = link_to '返回项目列表', vrv_projects_path
