<!DOCTYPE html>
<html>
<head>
  <title>网上报销系统</title>
  <%= stylesheet_link_tag :all,:recursive => true %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "nested_form.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
  <%= javascript_include_tag "datepicker_cn.js"%>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<h4 id="title">网上报销系统</h4>
		<!--user log in info-->
		<div id="user_nav">
			<% if user_signed_in? %>  
			    欢迎<%= current_user.name %>. <%= link_to "注销", destroy_user_session_path %>  
			<% else %>  
			    <%= link_to "登录", new_user_session_path %>  
			<% end %>
		</div>		
	</div>
	<div id="main_area">
		<% if user_signed_in? %>
		<div id="menu">
			<div class="menu">
				<%= link_to "我的任务",home_page_path,{:class=>"menu_item"}%>
			</div>
			<div class="menu">
				<%= link_to "部门",:deps,{:class=>"menu_item #{'selected' if controller.controller_name=="deps"}"}%>
				<%= link_to "职务",:duties,{:class=>"menu_item #{'selected' if controller.controller_name=="duties"}"}%>
				<%= link_to "员工",:people,{:class=>"menu_item #{'selected' if controller.controller_name=="people"}"}%>
				<%= link_to "费用类型",:fees,{:class=>"menu_item #{'selected' if controller.controller_name=="fees"}"}%>
				<%= link_to "地区",:regions,{:class=>"menu_item #{'selected' if controller.controller_name=="regions"}"}%>
				<%= link_to "交通方式",:transportations,{:class=>"menu_item #{'selected' if controller.controller_name=="transportations"}"}%>
				<%= link_to "住宿方式",:lodgings,{:class=>"menu_item #{'selected' if controller.controller_name=="lodgings"}"}%>
				<%= link_to "结算方式",:settlements,{:class=>"menu_item #{'selected' if controller.controller_name=="settlements"}"}%>
				<%= link_to "费用标准",:fee_standards,{:class=>"menu_item #{'selected' if controller.controller_name=="fee_standards"}"}%>
				<%= link_to "项目",:projects,{:class=>"menu_item #{'selected' if controller.controller_name=="projects"}"}%>
				<%= link_to "预算数据",:budgets,{:class=>"menu_item #{'selected' if controller.controller_name=="budgets"}"}%>
				<%= link_to "币种",:currencies,{:class=>"menu_item #{'selected' if controller.controller_name=="currencies"}"}%>
				<%= link_to "科目设置",:subjects,{:class=>"menu_item #{'selected' if controller.controller_name=="subjects"}"}%>
				<%= link_to "帐号",:accounts,{:class=>"menu_item #{'selected' if controller.controller_name=="accounts"}"}%>
				<%= link_to "审批流设置",:work_flows,{:class=>"menu_item #{'selected' if controller.controller_name=="work_flows"}"}%>
			</div>
			<div class="menu">
				<% (1..9).each do |num| %>
					<%= link_to doc_type_name(num),doc_heads_path(:doc_type=>num),{:class=>"menu_item #{'selected' if controller.controller_name=="doc_heads" and current_uri.include?(num.to_s)}"}%>
				<% end %>
			</div>
			<div class="menu">
				<%= link_to "反馈",feed_backs_path,{:class=>"menu_item #{'selected' if controller.controller_name=="feed_backs"}"}%>
			</div>			
		</div>
		<% end %>
		<!--++++++++++++++++++++++++++++++++++contents goes here++++++++++++++++-->
		<div id="content">
			<div id="info">
				<% if notice %>
				<div class="info notice"><%= notice %></div>
				<% end %>
				<% if alert %>
				<div class="info alert"><%= alert %></div>
				<% end %>
			</div>	
			<%= yield %>
		</div>		
	</div>
	<div id="footer">
		<div id="desc">
			<p id="en">29Decibel Studio</p>
		</div>

	</div> 
</body>
</html>
