<!DOCTYPE html>
<html>
<head>
	<title>网上报销系统</title>
	<%= stylesheet_link_tag :all,:recursive => true %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "jquery.blockUI"%>
	<%= javascript_include_tag "nested_form.js" %>
	<%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
	<%= javascript_include_tag "datepicker_cn.js"%>
	<%= javascript_include_tag "rails.js" %>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "form_state.js" %>
	<%= javascript_include_tag "jquery_numeric.js" %>
	<%= javascript_include_tag "doc_number_input_control.js" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<div id="title">
			<h4 id="cn_title">网上报销系统</h4>
			<h4 id="en_title">Online  Expense System，OES</h4>
		</div>		
		<!--user log in info-->
		<div id="user_nav">
			<% if user_signed_in? %>  
			    欢迎<%= current_user.name %>. <%= link_to "注销", destroy_user_session_path %>  
				<%= link_to "修改密码",edit_password_path(current_user)%>
			<% else %>  
			    <%= link_to "登录", new_user_session_path %>  
			<% end %>
		</div>		
	</div>
	<div id="main_area">
		<% if user_signed_in? %>
		<div id="menu">
			<div class="menu">
				<% Menu.all.each do |m|%>
					<%= link_to m.title,m.path,{:class=>"menu_item #{'selected' if controller.controller_name==m.name or (controller.controller_name=="doc_heads" and @doc_type and @doc_type==m.name.to_i) or m.path==request.fullpath}"}%>
				<% end %>
			</div>
			<div class="menu">
				<%= link_to "反馈",feed_backs_path,{:class=>"menu_item #{'selected' if controller.controller_name=="feed_backs"}"}%>
			</div>			
		</div>
		<% end %>
		<!--++++++++++++++++++++++++++++++++++contents goes here++++++++++++++++-->
		<div id="content">
			<div id="info">
				<% if notice %>
				<div class="info notice"><%= notice %></div>
				<% end %>
				<% if alert %>
				<div class="info alert"><%= alert %></div>
				<% end %>
			</div>	
			<%= yield %>
		</div>		
	</div>
</body>
</html>
