<!DOCTYPE html>
%html
  %head
    %title 网上报销系统
    = stylesheet_link_tag "ie","mailer","print","screen","site",
      "jquery.fancybox-1.3.4","token-input","token-input-facebook","jquery-ui/pepper-grinder/jquery-ui-1.8.14.custom.css",
      "jquery-ui-timepicker-addon",:cache=>"oes.app"
    = javascript_include_tag "lib/jquery-1.5.1.min.js"
    = javascript_include_tag "lib/underscore-min.js"
    = javascript_include_tag "lib/jquery.blockUI"
    = javascript_include_tag "lib/jquery-ui-1.8.14.custom.min.js" 
    = javascript_include_tag "lib/jquery-ui-timepicker-addon.js" 	
    = javascript_include_tag "lib/jquery_ujs.js" 
    = javascript_include_tag "lib/jquery.fancybox-1.3.4.pack.js"
    = javascript_include_tag "lib/jquery.easing-1.3.pack.js"
    = javascript_include_tag "lib/jquery.mousewheel-3.0.4.pack.js"
    = javascript_include_tag "lib/jquery.tokeninput.js" 
    = javascript_include_tag "chart/highcharts.js" 
    = javascript_include_tag "chart/themes/gray.js" 
    = javascript_include_tag "datepicker_cn" 
    = javascript_include_tag "jquery-ui-timepicker-zh-CN" 
    = javascript_include_tag "application.js" 
    = javascript_include_tag "enter_to_tab.js" 
    = csrf_meta_tag 
  %body
    .header
      =link_to "Expense System", root_path,:class=>"logo",:remote=>true
      .change_password_wrapper
        #change_password
          =form_tag '/common/reset_p',:remote=>true do
            =label_tag '新密码'
            =password_field_tag :p
            =label_tag '请再输入一遍'
            =password_field_tag :p_c
            = link_to content_tag(:span,"#{I18n.t('common_op.btn_save')}"),{:href=>"#"},:class=>"submit minibutton"
      .user_nav
        -if user_signed_in?
          =current_user.name
          =current_user.person.name if current_user.person
          =link_to I18n.t('common_attr.sign_out'), destroy_user_session_path
          =link_to I18n.t('common_attr.change_password'),"#change_password",:class=>'change_p'
          =link_to I18n.t('common_attr.admin_page'), "/admin",:target=>'blank'
          =select_tag "change_locale",options_for_select([['中文','zh_cn'],['English','en-US']],:selected=>"#{cookies['locale']||I18n.default_locale}"),:class=>'change_locale'
        -else
          =link_to "登录", new_user_session_path
    #main_area
      .sidebar
        -MenuCategory.all.each do |mc|
          .sidepanel
            %h4.title= mc.name
            -mc.grouped_menus.each do |v|
              %ul
                -v.each do |m|
                  %li=link_to I18n.t("menu.#{m.name}"),m.path,:remote=>true
      #content
        =yield
    .footer
:javascript
  $(function(){
     $("a.change_p").fancybox({
      'transitionIn'  : 'elastic',
      'transitionOut' : 'elastic',
      'speedIn'   : 600, 
      'speedOut'    : 200, 
      'overlayShow' : false,
      'height'      : '400'
    });
  });
