<!DOCTYPE html>
%html
  %head
    %title 网上报销系统
    = stylesheet_link_tag "ie","mailer","print","screen","site","ui.jqgrid",
      "jquery.fancybox-1.3.4","token-input","token-input-facebook",
      "jquery-ui-timepicker-addon",:cache=>"oes.app"
    = javascript_include_tag "jquery.min.js"
    = javascript_include_tag "underscore-min.js"
    = javascript_include_tag "jquery.blockUI"
    = javascript_include_tag "jquery-ui-1.8.4.custom.min.js" 
    = javascript_include_tag "jquery-ui-timepicker-addon.js" 	
    = javascript_include_tag "datepicker_cn.js"
    = javascript_include_tag "jquery_ujs.js" 
    = javascript_include_tag "jquery.fancybox-1.3.4.pack.js"
    = javascript_include_tag "jquery.easing-1.3.pack.js"
    = javascript_include_tag "jquery.mousewheel-3.0.4.pack.js"
    = javascript_include_tag "application.js" 
    = javascript_include_tag "jquery_numeric.js" 
    = javascript_include_tag "jquery.formatCurrency-1.4.0.js" 
    = javascript_include_tag "enter_to_tab.js" 
    = javascript_include_tag "jquery.tokeninput.js" 
    = csrf_meta_tag 
  %body
    .header
      =link_to "Expense System", root_path,:class=>"logo"
      .user_nav
        -if user_signed_in?
          =current_user.name
          =current_user.person.name if current_user.person
          =link_to "注销", destroy_user_session_path
          =link_to "修改密码","/common/new_reset_p"
          =link_to "管理员界面", "/admin",:target=>'blank'
        -else
          =link_to "登录", new_user_session_path
    #main_area
      .sidebar
        -MenuCategory.all.each do |mc|
          .sidepanel
            %h4.title= mc.name
            -mc.grouped_menus.each do |v|
              %ul
                -v.each do |m|
                  %li=link_to I18n.t("menu.#{m.name}"),m.path,:remote=>true
      #content
        =yield
    .footer
