<!DOCTYPE html>
<html>
<head>
	<title>网上报销系统</title>
  <%= stylesheet_link_tag :all,:recursive => true %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
	<%= javascript_include_tag "i18n/grid.locale-cn.js" %>	
	<%= javascript_include_tag "jquery.jqGrid.min.js" %>
  <%= netzke_init %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<div id="title">
			<h4 id="cn_title">网上报销系统</h4>
			<h4 id="en_title">Online  Expense System，OES</h4>
		</div>		
  </div>
		<!--user log in info-->
	<div id="main_area">
		<div id="content">
			<%= yield %>
		</div>		
	</div>
</body>
</html>

