<!DOCTYPE html>
<html>
	<head>
		<title>参照选择</title>
		<%= stylesheet_link_tag :all,:recursive => true %>
		<%= jqgrid_init%>
		<%= javascript_include_tag "reference" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>