-form_for account,:remote=>true,:class=>"edit_inline" do |f|
  = render "shared/common_error",:resource=>account
  =f.hidden_field :id
  .form_field
    %span.label= f.label "#{I18n.t('activerecord.attributes.account.name')}#{mark_required(f.object,:name)}"
    %span.value= f.text_field :name,:class=>"input1"
  .form_field
    %span.label=f.label "#{I18n.t('activerecord.attributes.account.account_no')}#{mark_required(f.object,:account_no)}"
    %span.value=f.text_field :account_no,:class=>"input1"
  =render "basic_setting/fb_actions"

