<div class="form_title">
	<h3>帐号信息列表</h3>
</div>
<div class="actions">
	<%= link_to '添加新的帐号', new_account_path,:class=>"button2" %>
</div>
<table class="hor-zebra">
  <tr>
    <th>名称</th>
    <th>帐号</th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.account_no %></td>
    <td><%= link_to '查看', account %></td>
    <td><%= link_to '删除', account, :confirm => '是否真的要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

